.initiativeNormal {
	display: flex;
	flex-direction: column;
	@media screen and (min-width: $laptopBreakpoint) {
		flex-direction: row;
	}

	.buttonsCard,
	.iniList {
		@media screen and (min-width: $laptopBreakpoint) {
			width: 50%;
		}
	}

	.iniList {
		@media screen and (min-width: $laptopBreakpoint) {
			margin-left: 0.5rem;
		}
	}

	.button {
		margin-bottom: 1rem;
	}

	.playerButton {
		display: flex;
		justify-content: space-between;

		.button {
			width: 49.5%;
		}

		.clearButton {
			background-color: #cc292b;
		}
	}

	.rollButton {
		.button {
			width: 100%;
		}
	}

	.label {
		text-transform: capitalize;
	}

	.input {
		margin-bottom: $spacingTiny;
	}
}
