.initiative {
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 2rem repeat(3, 1fr);
    grid-template-columns: 1fr 80% 1fr;

    @media (min-width: $laptopBreakpoint) {
        grid-template-rows: 2rem repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktopBreakpoint) {
        grid-template-rows: 2rem 1fr;
        grid-template-columns: repeat(3, 1fr);
    }

    .card {
        height: 400px;
        background-color: #EEE;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: all .3s ease-in-out;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .card::after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
    }

    .card-content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;

        .title {
            color: #FFF;
            text-align: center;
            text-transform: uppercase;
            font-size: 3rem;
        }

        img {
            margin-top: 50px;
            height: 150px;
            width: auto;
        }
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .initNormal {
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url("../images/initiative/init_normal.jpg");

        @media (min-width: $laptopBreakpoint) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        @media (min-width: $desktopBreakpoint) {
            grid-column-start: 1;
            grid-column-end: 2;
        }
    }

    .initSpeed {
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url("../images/initiative/init_speedFactor.jpg");

        @media (min-width: $laptopBreakpoint) {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        @media (min-width: $desktopBreakpoint) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }

    .initGreyhawk {
        grid-row-start: 4;
        grid-row-end: 5;
        background-image: url("../images/initiative/init_greyhawk.jpg");

        @media (min-width: $laptopBreakpoint) {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        @media (min-width: $desktopBreakpoint) {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 2;
            grid-row-end: 3;
        }
    }
}
