.spellListStyling {
	h1 {
		font-size: 40px; //40px
	}
	h2 {
		font-size: 30px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 10px;
	}

	.filterButtons {
		display: flex;
		justify-content: space-between;
		padding: $spacingTiny 0;

		.button {
			width: 49.5%;
		}

		.clearFiltersBtn {
			background-color: #cc292b;
		}
	}

	.panel:not(:last-child) {
		margin-bottom: 0;
	}

	.filterHide {
		display: none;
	}

	.spellClasses, .spellSchools, .spellLevels, .spellClassifications {
		display: grid;
		grid-gap: 2px;
		margin: $spacingTiny 0;

		.classFilter, .schoolFilter, .levelFilter, .classificationFilter {
			width: 100%;
			padding: 5px;
			border: 2px solid #111;
			border-radius: 5px;
			position: relative;
			display: flex;
			justify-content: space-between;
			font-size: 1rem;

			@media (min-width: $tabletBreakpoint) {
				font-size: 1.25rem;
			}

			.className, .schoolname, .levelName, .classificationName {
				margin: auto 0;
			}

			.switch {
				position: relative;
				display: inline-block;
				width: 50px;
				height: 23px;
			}

			.switch input {display:none;}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				transition: .4s;
			}

			.slider:before {
				position: absolute;
				content: "";
				height: 15px;
				width: 15px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				transition: .4s;
			}

			input + .slider {
				background-color: #cc292b;
			}

			input:checked + .slider {
				background-color: #2ecc71;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #2ecc71;
			}

			input:checked + .slider:before {
				transform: translateX(26px);
			}

			/* Rounded sliders */
			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
	}

	.spellClasses {
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: $tabletBreakpoint) {
			grid-template-columns: repeat(4, 1fr);
		}

		@media (min-width: $desktopBreakpoint) {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	.spellLevels {
		grid-template-columns: repeat(2, 1fr);

		@media (min-width: $laptopBreakpoint) {
			grid-template-columns: repeat(5, 1fr);
		}

		@media (min-width: $desktopBreakpoint) {
			grid-template-columns: repeat(7, 1fr);
		}
	}

	.spellSchools {
		grid-template-columns: 1fr;

		@media (min-width: $tabletBreakpoint) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $desktopBreakpoint) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	.spellClassifications {
		grid-template-columns: repeat(4, 1fr);

		@media (min-width: $tabletBreakpoint) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (min-width: $laptopBreakpoint) {
			grid-template-columns: repeat(6, 1fr);
		}

		.classificationFilter {
			grid-column: span 2;

			@media (min-width: $tabletBreakpoint) {
				grid-column: span 1;
			}
		}
		@media (max-width: $phoneBreakpoint) {
			.classificationFilter:last-child {
				grid-column: 2/4;
			}
		}
	}

	button.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 1.25rem;
		transition: 0.4s;

	}

	button.accordion.active, button.accordion:hover {
		background-color: #ddd;
	}

	button.accordion:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	button.accordion.active:after {
		content: "\2212";
	}

	div.panel {
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
		padding: 0 $spacingTiny;
	}

	table {
		width: 100%;
		border-collapse: collapse;
	}
	/* Zebra striping */
	tr:nth-of-type(odd) {
		background: #eee;
	}
	th {
		background: #333;
		color: white !important;
		font-weight: bold;
	}
	td, th {
		padding: 6px;
		border: 1px solid #ccc;
		text-align: left;
	}

	/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
	@media
	only screen and (max-width: 1500px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr, tfoot tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		Label the data
		*/
		td:nth-of-type(1):before { content: "Name"; }
		td:nth-of-type(2):before { content: "Level"; }
		td:nth-of-type(3):before { content: "School"; }
		td:nth-of-type(4):before { content: "Class"; }
		td:nth-of-type(5):before { content: "Casting Time"; }
		td:nth-of-type(6):before { content: "Range"; }
		td:nth-of-type(7):before { content: "Components"; }
		td:nth-of-type(8):before { content: "Duration"; }
		td:nth-of-type(9):before { content: "Ritual"; }
		td:nth-of-type(10):before { content: "Concentration"; }
		td:nth-of-type(11):before { content: "Classification"; }
		td:nth-of-type(12):before { content: "Description"; }
	}
}
