.diceRoll {
	@media screen and (min-width: $laptopBreakpoint) {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}

	.diceButtons {
		.button {
			margin-bottom: $spacingTiny;
			width: 30%;
		}
	}

	.submitButtons {
		.button {
			margin-bottom: $spacingTiny;
			width: 100%;
		}
		@media screen and (min-width: $laptopBreakpoint) {
			.button {
				width: 30%;
			}
		}
	}
}
