/*======================================
	1. General Site Setup
 =====================================*/
$spacingTiny: 0.5rem;
$spacingSmall: 1rem;
$spacingMedium: 2rem;
$spacingLarge: 4rem;
$spacingHuge: 8rem;

/*=====================================
	2. Breakpoints
 ====================================*/
$phoneBreakpoint: 30em;
$tabletBreakpoint: 46em;
$laptopBreakpoint: 60em;
$desktopBreakpoint: 85.375em;
$breakpoints: (phone: $phoneBreakpoint, tablet: $tabletBreakpoint, laptop: $laptopBreakpoint, desktop: $desktopBreakpoint);

@function breakpoints($size) {
	@return map-get($breakpoints, $size);
}

/*====================================
	3. Colour Palette
 ===================================*/
$primary: #C46F31;
$secondary: #0F182B;
$accent: #8C4B2B;
