<section class="builderCreator">
	<div class="card statCard">
		<div class="card-content">
			<div class="field">
				<label class="label">Strength</label>
				<div class="control">
					<input id="str" class="input" type="text" placeholder="Strength">
				</div>
			</div>

			<div class="field">
				<label class="label">Dexterity</label>
				<div class="control">
					<input id="dex" class="input" type="text" placeholder="Dexterity">
				</div>
			</div>

			<div class="field">
				<label class="label">Constitution</label>
				<div class="control">
					<input id="con" class="input" type="text" placeholder="Constitution">
				</div>
			</div>

			<div class="field">
				<label class="label">Intelligence</label>
				<div class="control">
					<input id="int" class="input" type="text" placeholder="Intelligence">
				</div>
			</div>

			<div class="field">
				<label class="label">Wisdom</label>
				<div class="control">
					<input id="wis" class="input" type="text" placeholder="Wisdom">
				</div>
			</div>

			<div class="field">
				<label class="label">Charisma</label>
				<div class="control">
					<input id="cha" class="input" type="text" placeholder="Charisma">
				</div>
			</div>

		</div>
	</div>

	<div class="card charCard">
		<div class="card-content">
			<div class="field">
				<label class="label">Race</label>
				<div class="control">
					<input id="race" class="input" type="text" placeholder="Race">
				</div>
			</div>

			<div class="field">
				<label class="label">Sub Race</label>
				<div class="control">
					<input id="raceSub" class="input" type="text" placeholder="Sub Race">
				</div>
			</div>

			<div class="field">
				<label class="label">Class</label>
				<div class="control">
					<input id="class" class="input" type="text" placeholder="Class">
				</div>
			</div>

			<div class="field">
				<label class="label">Background</label>
				<div class="control">
					<input id="background" class="input" type="text" placeholder="Background">
				</div>
			</div>
		</div>
	</div>
	<button id="btnCreate" class="button secondaryText" onclick="createChar()">Submit</button>
</section>
<script async src="../javascripts/charBuilder.js"></script>
