<script>
	let dice = [];
	let output = '';
	let rollTotal = 0;
</script>

<section class="diceRoll">
	<div class="card">
		<div class="card-content">
			<label class="label">Select what die you'd like to roll</label>
			<div class="diceButtons">
				<button id="btnD4" class="button" onclick="add(4)">D4</button>
				<button id="btnD6" class="button" onclick="add(6)">D6</button>
				<button id="btnD8" class="button" onclick="add(8)">D8</button>
				<button id="btnD10" class="button" onclick="add(10)">D10</button>
				<button id="btnD12" class="button" onclick="add(12)">D12</button>
				<button id="btnD20" class="button" onclick="add(20)">D20</button>
				<button id="btnD100" class="button" onclick="add(100)">D100</button>
			</div>

			<div class="currentDiceOutput">
				<p id="diceTotalsTag">Current Dice: </p>

			</div>

			<div class="submitButtons">
				<button id="btnRemoveLast" class="button" onclick="removeLast()">Remove Last</button>
				<button id="btnRemoveAll" class="button" onclick="removeAll()">Remove All</button>
				<button id="btnRoll" class="button" onclick="rollDice()">Roll Dice</button>
			</div>

			<div class="TotalOutput">
				<p id="totalTag">Total Roll:</p>
			</div>

			<div class="statsOutput">
				<p id="minTag">Min:</p>
				<p id="avgTag">Avg:</p>
				<p id="maxTag">Max:</p>
			</div>
		</div>
	</div>
</section>
<script async src="../javascripts/diceRolling.js"></script>
