<section class="homeClassRace">

	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				Races
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				<button class="accordion">Dwarf</button>
				<div class="panel">
					<img src="../images/races/dwarf.png" height="400" width="277" />
					{{> dwarf}}
				</div>
				<button class="accordion">Elf</button>
				<div class="panel">
					<img src="../images/races/elf.jpg" height="500" width="302" />
					{{> elf}}
				</div>
				<button class="accordion">Halfling</button>
				<div class="panel">
					<img src="../images/races/halfling.jpg" height="373" width="308" />
					{{> halfling}}
				</div>
				<button class="accordion">Human</button>
				<div class="panel">
					<img src="../images/races/human.png" height="400" width="231" />
					{{> human}}
				</div>
				<button class="accordion">Dragonborn</button>
				<div class="panel">
					<img src="../images/races/dragonborn.png" />
					{{> dragonborn}}
				</div>
				<button class="accordion">Gnome</button>
				<div class="panel">
					<img src="../images/races/gnome.jpg" height="1000" width="592" />
					{{> gnome}}
				</div>
				<button class="accordion">Half Elf</button>
				<div class="panel">
					<img src="../images/races/halfelf.jpg" height="800" width="603" />
					{{> halfelf}}
				</div>
				<button class="accordion">Half Orc</button>
				<div class="panel">
					<img src="../images/races/halforc.jpg" height="800" width="683" />
					{{> halforc}}
				</div>
				<button class="accordion">Tiefling</button>
				<div class="panel">
					<img src="../images/races/tiefling.png" />
					{{> tiefling}}
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				Classes
			</p>
		</header>
		<div class="card-content">
			<div class="content">
				<button class="accordion">Barbarian</button>
				<div class="panel">
					{{> barbarian}}
				</div>
			<button class="accordion">Bard</button>
			<div class="panel">
				{{> bard}}
			</div>
			<button class="accordion">Cleric</button>
			<div class="panel">
				{{> cleric}}
			</div>
			<button class="accordion">Druid</button>
			<div class="panel">
				{{> druid}}
			</div>
			<button class="accordion">Fighter</button>
			<div class="panel">
				{{> fighter}}
			</div>
			<button class="accordion">Monk</button>
			<div class="panel">
				{{> monk}}
			</div>
			<button class="accordion">Paladin</button>
			<div class="panel">
				{{> paladin}}
			</div>
			<button class="accordion">Ranger</button>
			<div class="panel">
				{{> ranger}}
			</div>
			<button class="accordion">Rogue</button>
			<div class="panel">
				{{> rogue}}
			</div>
			<button class="accordion">Sorcerer</button>
			<div class="panel">
				{{> sorcerer}}
			</div>
			<button class="accordion">Warlock</button>
			<div class="panel">
				{{> warlock}}
			</div>
			<button class="accordion">Wizard</button>
			<div class="panel">
				{{> wizard}}
			</div>
		</div>
	</div>
	</div>

</section>
