<section class="initiative">
    <div class="card initNormal">
		<a href="/initiative/normal">
	        <div class="card-content">
	            <h1 class="title">
	                Normal
	            </h1>
	            <img src="../images/list_numbered.svg" />
	        </div>
		</a>
    </div>

    <div class="card initSpeed">
		<a href="/initiative/speed-factor">
	        <div class="card-content">
	            <h1 class="title">
	                Speed Factor
	            </h1>
	            <img src="../images/alarm.svg" />
	        </div>
		</a>
    </div>


    <div class="card initGreyhawk">
		<a href="/initiative/greyhawk">
	        <div class="card-content">
	            <h1 class="title">
	                Greyhawk
	            </h1>
	            <img src="../images/hourglass.svg" />
	        </div>
		</a>
	</div>
</section>
