<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel='stylesheet' href='../stylesheets/style.css'/>
    <link rel="icon" type="image/jpg" href="../images/favicon.jpg">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <nav class="navbar is-dark navbar-fixed">
        <div class="navbar-brand">
            <div id="navBurger" class="navbar-burger burger" data-target="navMenu" onclick="mobileMenuTogle()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navMenu" class="navbar-menu">

            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/spells">
                    Spell Compendium
                </a>
                <a class="navbar-item" href="/builder">
                    Character Builder
                </a>
                <a class="navbar-item" href="/diceroll">
                    Dice Roller
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="/initiative">
                        Initiative
                    </a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/initiative/normal">
                            Normal Initiative
                        </a>
                        <a class="navbar-item" href="/initiative/speed-factor">
                            Speed Factor Initiative
                        </a>
                        <a class="navbar-item" href="/initiative/greyhawk">
                            Greyhawk Initiative
                        </a>
                    </div>
                </div>

				<div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
							Classes
						</a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/classes/barbarian">
                            Barbarian
                        </a>
						<a class="navbar-item" href="/classes/bard">
                            Bard
                        </a>
						<a class="navbar-item" href="/classes/cleric">
                            Cleric
                        </a>
						<a class="navbar-item" href="/classes/druid">
                            Druid
                        </a>
						<a class="navbar-item" href="/classes/fighter">
                            Fighter
                        </a>
						<a class="navbar-item" href="/classes/monk">
                            Monk
                        </a>
						<a class="navbar-item" href="/classes/paladin">
                            Paladin
                        </a>
						<a class="navbar-item" href="/classes/ranger">
                            Ranger
                        </a>
						<a class="navbar-item" href="/classes/rogue">
                            Rogue
                        </a>
						<a class="navbar-item" href="/classes/sorcerer">
                            Sorcerer
                        </a>
						<a class="navbar-item" href="/classes/warlock">
                            Warlock
                        </a>
						<a class="navbar-item" href="/classes/wizard">
                            Wizard
                        </a>
                    </div>
                </div>

				<div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
							Races
						</a>
                    <div class="navbar-dropdown is-boxed">
                        <a class="navbar-item" href="/races/dragonborn">
                            Dragonborn
                        </a>
						<a class="navbar-item" href="/races/dwarf">
                            Dwarf
                        </a>
						<a class="navbar-item" href="/races/elf">
                            Elf
                        </a>
						<a class="navbar-item" href="/races/gnome">
                            Gnome
                        </a>
						<a class="navbar-item" href="/races/halfelf">
                            Half Elf
                        </a>
						<a class="navbar-item" href="/races/halforc">
                            Half Orc
                        </a>
						<a class="navbar-item" href="/races/human">
                            Human
                        </a>
						<a class="navbar-item" href="/races/tiefling">
                            Tiefling
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

{{{body}}}
<script async src="../javascripts/app.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
</body>

</html>
