<script>
	let classArray = [];
	let schoolArray = [];
	let levelArray = [];
	let typeArray = [];
</script>
<section class="spellListStyling">
	<div class="card">
		<div class="card-content">
			<h1 id="top">The Spell Compendium</h1>
			<h2>A Collection of All the Spells Available in D&amp;D 5e</h2>
			<!-- <h3>Filter Options:</h3> -->
		</div>
	</div>

	<!-- Class -->
	<button class="accordion">Filter by Class</button>
	<div class="panel">
		<div class="spellClasses">
			<span class="classFilter">
				<span class="className">Bard</span>
				<label class="switch">
					<input id="bard" type="checkbox" name="filter" onchange="filterClass('Bard', 'bard')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Cleric</span>
				<label class="switch">
					<input id="cleric" type="checkbox" name="filter" onchange="filterClass('Cleric', 'cleric')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Druid</span>
				<label class="switch">
					<input id="druid" type="checkbox" name="filter" onchange="filterClass('Druid', 'druid')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Paladin</span>
				<label class="switch">
					<input id="paladin" type="checkbox" name="filter" onchange="filterClass('Paladin', 'paladin')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Ranger</span>
				<label class="switch">
					<input id="ranger" type="checkbox" name="filter" onchange="filterClass('Ranger', 'ranger')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Sorcerer</span>
				<label class="switch">
					<input id="sorcerer" type="checkbox" name="filter" onchange="filterClass('Sorcerer', 'sorcerer')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Warlock</span>
				<label class="switch">
					<input id="warlock" type="checkbox" name="filter" onchange="filterClass('Warlock', 'warlock')">
					<span class="slider round"></span>
				</label>
			</span>
			<span class="classFilter">
				<span class="className">Wizard</span>
				<label class="switch">
					<input id="wizard" type="checkbox" name="filter" onchange="filterClass('Wizard', 'wizard')">
					<span class="slider round"></span>
				</label>
			</span>
		</div>
	</div>

	<!-- Level -->
	<button class="accordion">Filter by Level</button>
	<div class="panel">
		<div class="spellLevels">
			<span class="levelFilter">
			<span class="levelName">Cantrip</span>
			<label class="switch">
				<input id="cantrip" type="checkbox" name="filter" onchange="filterLevel('Cantrip', 'cantrip')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 1</span>
			<label class="switch">
				<input id="level1" type="checkbox" name="filter" onchange="filterLevel('1st-level', 'level1')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 2</span>
			<label class="switch">
				<input id="level2" type="checkbox" name="filter" onchange="filterLevel('2nd-level', 'level2')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 3</span>
			<label class="switch">
				<input id="level3" type="checkbox" name="filter" onchange="filterLevel('3rd-level', 'level3')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 4</span>
			<label class="switch">
				<input id="level4" type="checkbox" name="filter" onchange="filterLevel('4th-level', 'level4')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 5</span>
			<label class="switch">
				<input id="level5" type="checkbox" name="filter" onchange="filterLevel('5th-level', 'level5')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 6</span>
			<label class="switch">
				<input id="level6" type="checkbox" name="filter" onchange="filterLevel('6th-level', 'level6')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 7</span>
			<label class="switch">
				<input id="level7" type="checkbox" name="filter" onchange="filterLevel('7th-level', 'level7')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 8</span>
			<label class="switch">
				<input id="level8" type="checkbox" name="filter" onchange="filterLevel('8th-level', 'level8')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="levelFilter">
			<span class="levelName">Level 9</span>
			<label class="switch">
				<input id="level9" type="checkbox" name="filter" onchange="filterLevel('9th-level', 'level9')">
				<span class="slider round"></span>
			</label>
			</span>
		</div>
	</div>

	<!-- School -->
	<button class="accordion">Filter by School</button>
	<div class="panel">
		<div class="spellSchools">
			<span class="schoolFilter">
			<span class="SchoolName">Abjuration</span>
			<label class="switch">
				<input id="abjuration" type="checkbox" name="filter" onchange="filterSchool('Abjuration', 'abjuration')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Conjuration</span>
			<label class="switch">
				<input id="conjuration" type="checkbox" name="filter" onchange="filterSchool('Conjuration', 'conjuration')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Divination</span>
			<label class="switch">
				<input id="divination" type="checkbox" name="filter" onchange="filterSchool('Divination', 'divination')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Enchantment</span>
			<label class="switch">
				<input id="enchantment" type="checkbox" name="filter" onchange="filterSchool('Enchantment', 'enchantment')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Evocation</span>
			<label class="switch">
				<input id="evocation" type="checkbox" name="filter" onchange="filterSchool('Evocation', 'evocation')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Illusion</span>
			<label class="switch">
				<input id="illusion" type="checkbox" name="filter" onchange="filterSchool('Illusion', 'illusion')">
				<span class="slider round"></span>
			</label>
			</span><span class="schoolFilter">
			<span class="SchoolName">Necromancy</span>
			<label class="switch">
				<input id="necromancy" type="checkbox" name="filter" onchange="filterSchool('Necromancy', 'necromancy')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="schoolFilter">
			<span class="SchoolName">Transmutation</span>
			<label class="switch">
				<input id="transmutation" type="checkbox" name="filter" onchange="filterSchool('Transmutation', 'transmutation')">
				<span class="slider round"></span>
			</label>
			</span>
		</div>
	</div>

	<!-- Classification-->

	<button class="accordion">Filter by Classification</button>
	<div class="panel">
		<div class="spellClassifications">
			<span class="classificationFilter">
			<span class="classificationName">Control</span>
			<label class="switch">
				<input id="control" type="checkbox" name="filter" onchange="filterClassification('Control', 'control')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="classificationFilter">
			<span class="classificationName">Damage</span>
			<label class="switch">
				<input id="damage" type="checkbox" name="filter" onchange="filterClassification('Damage', 'damage')">
				<span class="slider round"></span>
			</label>
			</span>
			<span class="classificationFilter">
			<span class="classificationName">Support</span>
			<label class="switch">
				<input id="support" type="checkbox" name="filter" onchange="filterClassification('Support', 'support')">
				<span class="slider round"></span>
			</label>
			</span>
		</div>
	</div>

	<div class="filterButtons">
		<button class="button filterSpellsBtn" onclick="filterAllSpells()">Filter Spells</button>
		<button class="button clearFiltersBtn" onclick="clearFilters()">Clear Filters</button>
	</div>

	<table id="spellTable" class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Level</th>
				<th>School</th>
				<th>Class</th>
				<th>Casting Time</th>
				<th>Range</th>
				<th>Components</th>
				<th>Duration</th>
				<th>Ritual</th>
				<th>Concentration</th>
				<th>Classification</th>
				<th>Description</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Name</th>
				<th>Level</th>
				<th>School</th>
				<th>Class</th>
				<th>Casting Time</th>
				<th>Range</th>
				<th>Components</th>
				<th>Duration</th>
				<th>Ritual</th>
				<th>Concentration</th>
				<th>Classification</th>
				<th>Description</th>
			</tr>
		</tfoot>
		<tbody>
			{{#each spells}}
				<tr>
					<td>{{name}}</td>
					<td>{{level}}</td>
					<td>{{school}}</td>
					<td>{{class}}</td>
					<td>{{casting_time}}</td>
					<td>{{range}}</td>
					<td>{{components}}</td>
					<td>{{duration}}</td>
					<td>{{ritual}}</td>
					<td>{{concentration}}</td>
					<td>{{classification}}</td>
					<td>{{desc}}</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</section>
<script async src="../javascripts/spells.js"></script>
