.homeClassRace {
	.card {
		margin-bottom: 1em;
	}

	.panel {
		img {
			height: 100%;
		}
	}

	button.accordion {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 1.25rem;
		transition: 0.4s;

	}

	button.accordion.active, button.accordion:hover {
		background-color: #ddd;
	}

	button.accordion:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	button.accordion.active:after {
		content: "\2212";
	}

	div.panel {
		background-color: white;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.2s ease-out;
	}
}
