/*======================================
	1. General Site Setup
 =====================================*/
/*=====================================
	2. Breakpoints
 ====================================*/
/*====================================
	3. Colour Palette
 ===================================*/
.primary {
  background-color: #C46F31; }

.secondaryText {
  color: #0F182B; }

.mainNav .burger {
  margin: 1rem 1rem 0;
  display: inline-block;
  border: 0;
  background: none;
  outline: 0;
  padding: 0;
  cursor: pointer;
  border-bottom: 4px solid #FFF;
  width: 28px;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out; }
  .mainNav .burger::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .mainNav .burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid #FFF;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .mainNav .burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid #FFF;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.mainNav .burger-check {
  display: none; }

.mainNav .burger-check:checked ~ .burger {
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.8s ease-in-out;
  -webkit-transition: border-bottom 0.8s ease-in-out; }
  .mainNav .burger-check:checked ~ .burger:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }
  .mainNav .burger-check:checked ~ .burger:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out; }

.mainNav .navigation {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  align-items: flex-start; }

.mainNav .burger-check:checked ~ .navigation {
  max-height: 500px;
  transition: max-height 0.5s ease-in-out; }

.mainNav a {
  color: #FFF; }

.mainNav ul {
  margin: 0;
  padding: 0; }

.mainNav li {
  list-style: none;
  font-size: 1.5rem;
  padding: 5px 0 5px 1rem; }
  .mainNav li a {
    text-decoration: none;
    font-weight: bold; }
    .mainNav li a:hover {
      text-decoration: underline; }

.homeClassRace .card {
  margin-bottom: 1em; }

.homeClassRace .panel img {
  height: 100%; }

.homeClassRace button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25rem;
  transition: 0.4s; }

.homeClassRace button.accordion.active, .homeClassRace button.accordion:hover {
  background-color: #ddd; }

.homeClassRace button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px; }

.homeClassRace button.accordion.active:after {
  content: "\2212"; }

.homeClassRace div.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out; }

.builderCreator {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 60em) {
    .builderCreator {
      grid-template-columns: repeat(4, 25%);
      display: grid;
      grid-gap: 10px; } }
  .builderCreator label {
    color: #FFF; }
  .builderCreator .card {
    background-color: rgba(0, 0, 0, 0.3); }
  .builderCreator .statCard {
    grid-column: 2/3; }
  .builderCreator .charCard {
    grid-column: 3/4; }
  .builderCreator button {
    width: 100%;
    grid-column: 2/4; }

.spellListStyling {
  /* Zebra striping */
  /*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/ }
  .spellListStyling h1 {
    font-size: 40px; }
  .spellListStyling h2 {
    font-size: 30px; }
  .spellListStyling h3 {
    font-size: 20px; }
  .spellListStyling h4 {
    font-size: 10px; }
  .spellListStyling .filterButtons {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0; }
    .spellListStyling .filterButtons .button {
      width: 49.5%; }
    .spellListStyling .filterButtons .clearFiltersBtn {
      background-color: #cc292b; }
  .spellListStyling .panel:not(:last-child) {
    margin-bottom: 0; }
  .spellListStyling .filterHide {
    display: none; }
  .spellListStyling .spellClasses, .spellListStyling .spellSchools, .spellListStyling .spellLevels, .spellListStyling .spellClassifications {
    display: grid;
    grid-gap: 2px;
    margin: 0.5rem 0; }
    .spellListStyling .spellClasses .classFilter, .spellListStyling .spellClasses .schoolFilter, .spellListStyling .spellClasses .levelFilter, .spellListStyling .spellClasses .classificationFilter, .spellListStyling .spellSchools .classFilter, .spellListStyling .spellSchools .schoolFilter, .spellListStyling .spellSchools .levelFilter, .spellListStyling .spellSchools .classificationFilter, .spellListStyling .spellLevels .classFilter, .spellListStyling .spellLevels .schoolFilter, .spellListStyling .spellLevels .levelFilter, .spellListStyling .spellLevels .classificationFilter, .spellListStyling .spellClassifications .classFilter, .spellListStyling .spellClassifications .schoolFilter, .spellListStyling .spellClassifications .levelFilter, .spellListStyling .spellClassifications .classificationFilter {
      width: 100%;
      padding: 5px;
      border: 2px solid #111;
      border-radius: 5px;
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      /* Rounded sliders */ }
      @media (min-width: 46em) {
        .spellListStyling .spellClasses .classFilter, .spellListStyling .spellClasses .schoolFilter, .spellListStyling .spellClasses .levelFilter, .spellListStyling .spellClasses .classificationFilter, .spellListStyling .spellSchools .classFilter, .spellListStyling .spellSchools .schoolFilter, .spellListStyling .spellSchools .levelFilter, .spellListStyling .spellSchools .classificationFilter, .spellListStyling .spellLevels .classFilter, .spellListStyling .spellLevels .schoolFilter, .spellListStyling .spellLevels .levelFilter, .spellListStyling .spellLevels .classificationFilter, .spellListStyling .spellClassifications .classFilter, .spellListStyling .spellClassifications .schoolFilter, .spellListStyling .spellClassifications .levelFilter, .spellListStyling .spellClassifications .classificationFilter {
          font-size: 1.25rem; } }
      .spellListStyling .spellClasses .classFilter .className, .spellListStyling .spellClasses .classFilter .schoolname, .spellListStyling .spellClasses .classFilter .levelName, .spellListStyling .spellClasses .classFilter .classificationName, .spellListStyling .spellClasses .schoolFilter .className, .spellListStyling .spellClasses .schoolFilter .schoolname, .spellListStyling .spellClasses .schoolFilter .levelName, .spellListStyling .spellClasses .schoolFilter .classificationName, .spellListStyling .spellClasses .levelFilter .className, .spellListStyling .spellClasses .levelFilter .schoolname, .spellListStyling .spellClasses .levelFilter .levelName, .spellListStyling .spellClasses .levelFilter .classificationName, .spellListStyling .spellClasses .classificationFilter .className, .spellListStyling .spellClasses .classificationFilter .schoolname, .spellListStyling .spellClasses .classificationFilter .levelName, .spellListStyling .spellClasses .classificationFilter .classificationName, .spellListStyling .spellSchools .classFilter .className, .spellListStyling .spellSchools .classFilter .schoolname, .spellListStyling .spellSchools .classFilter .levelName, .spellListStyling .spellSchools .classFilter .classificationName, .spellListStyling .spellSchools .schoolFilter .className, .spellListStyling .spellSchools .schoolFilter .schoolname, .spellListStyling .spellSchools .schoolFilter .levelName, .spellListStyling .spellSchools .schoolFilter .classificationName, .spellListStyling .spellSchools .levelFilter .className, .spellListStyling .spellSchools .levelFilter .schoolname, .spellListStyling .spellSchools .levelFilter .levelName, .spellListStyling .spellSchools .levelFilter .classificationName, .spellListStyling .spellSchools .classificationFilter .className, .spellListStyling .spellSchools .classificationFilter .schoolname, .spellListStyling .spellSchools .classificationFilter .levelName, .spellListStyling .spellSchools .classificationFilter .classificationName, .spellListStyling .spellLevels .classFilter .className, .spellListStyling .spellLevels .classFilter .schoolname, .spellListStyling .spellLevels .classFilter .levelName, .spellListStyling .spellLevels .classFilter .classificationName, .spellListStyling .spellLevels .schoolFilter .className, .spellListStyling .spellLevels .schoolFilter .schoolname, .spellListStyling .spellLevels .schoolFilter .levelName, .spellListStyling .spellLevels .schoolFilter .classificationName, .spellListStyling .spellLevels .levelFilter .className, .spellListStyling .spellLevels .levelFilter .schoolname, .spellListStyling .spellLevels .levelFilter .levelName, .spellListStyling .spellLevels .levelFilter .classificationName, .spellListStyling .spellLevels .classificationFilter .className, .spellListStyling .spellLevels .classificationFilter .schoolname, .spellListStyling .spellLevels .classificationFilter .levelName, .spellListStyling .spellLevels .classificationFilter .classificationName, .spellListStyling .spellClassifications .classFilter .className, .spellListStyling .spellClassifications .classFilter .schoolname, .spellListStyling .spellClassifications .classFilter .levelName, .spellListStyling .spellClassifications .classFilter .classificationName, .spellListStyling .spellClassifications .schoolFilter .className, .spellListStyling .spellClassifications .schoolFilter .schoolname, .spellListStyling .spellClassifications .schoolFilter .levelName, .spellListStyling .spellClassifications .schoolFilter .classificationName, .spellListStyling .spellClassifications .levelFilter .className, .spellListStyling .spellClassifications .levelFilter .schoolname, .spellListStyling .spellClassifications .levelFilter .levelName, .spellListStyling .spellClassifications .levelFilter .classificationName, .spellListStyling .spellClassifications .classificationFilter .className, .spellListStyling .spellClassifications .classificationFilter .schoolname, .spellListStyling .spellClassifications .classificationFilter .levelName, .spellListStyling .spellClassifications .classificationFilter .classificationName {
        margin: auto 0; }
      .spellListStyling .spellClasses .classFilter .switch, .spellListStyling .spellClasses .schoolFilter .switch, .spellListStyling .spellClasses .levelFilter .switch, .spellListStyling .spellClasses .classificationFilter .switch, .spellListStyling .spellSchools .classFilter .switch, .spellListStyling .spellSchools .schoolFilter .switch, .spellListStyling .spellSchools .levelFilter .switch, .spellListStyling .spellSchools .classificationFilter .switch, .spellListStyling .spellLevels .classFilter .switch, .spellListStyling .spellLevels .schoolFilter .switch, .spellListStyling .spellLevels .levelFilter .switch, .spellListStyling .spellLevels .classificationFilter .switch, .spellListStyling .spellClassifications .classFilter .switch, .spellListStyling .spellClassifications .schoolFilter .switch, .spellListStyling .spellClassifications .levelFilter .switch, .spellListStyling .spellClassifications .classificationFilter .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 23px; }
      .spellListStyling .spellClasses .classFilter .switch input, .spellListStyling .spellClasses .schoolFilter .switch input, .spellListStyling .spellClasses .levelFilter .switch input, .spellListStyling .spellClasses .classificationFilter .switch input, .spellListStyling .spellSchools .classFilter .switch input, .spellListStyling .spellSchools .schoolFilter .switch input, .spellListStyling .spellSchools .levelFilter .switch input, .spellListStyling .spellSchools .classificationFilter .switch input, .spellListStyling .spellLevels .classFilter .switch input, .spellListStyling .spellLevels .schoolFilter .switch input, .spellListStyling .spellLevels .levelFilter .switch input, .spellListStyling .spellLevels .classificationFilter .switch input, .spellListStyling .spellClassifications .classFilter .switch input, .spellListStyling .spellClassifications .schoolFilter .switch input, .spellListStyling .spellClassifications .levelFilter .switch input, .spellListStyling .spellClassifications .classificationFilter .switch input {
        display: none; }
      .spellListStyling .spellClasses .classFilter .slider, .spellListStyling .spellClasses .schoolFilter .slider, .spellListStyling .spellClasses .levelFilter .slider, .spellListStyling .spellClasses .classificationFilter .slider, .spellListStyling .spellSchools .classFilter .slider, .spellListStyling .spellSchools .schoolFilter .slider, .spellListStyling .spellSchools .levelFilter .slider, .spellListStyling .spellSchools .classificationFilter .slider, .spellListStyling .spellLevels .classFilter .slider, .spellListStyling .spellLevels .schoolFilter .slider, .spellListStyling .spellLevels .levelFilter .slider, .spellListStyling .spellLevels .classificationFilter .slider, .spellListStyling .spellClassifications .classFilter .slider, .spellListStyling .spellClassifications .schoolFilter .slider, .spellListStyling .spellClassifications .levelFilter .slider, .spellListStyling .spellClassifications .classificationFilter .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s; }
      .spellListStyling .spellClasses .classFilter .slider:before, .spellListStyling .spellClasses .schoolFilter .slider:before, .spellListStyling .spellClasses .levelFilter .slider:before, .spellListStyling .spellClasses .classificationFilter .slider:before, .spellListStyling .spellSchools .classFilter .slider:before, .spellListStyling .spellSchools .schoolFilter .slider:before, .spellListStyling .spellSchools .levelFilter .slider:before, .spellListStyling .spellSchools .classificationFilter .slider:before, .spellListStyling .spellLevels .classFilter .slider:before, .spellListStyling .spellLevels .schoolFilter .slider:before, .spellListStyling .spellLevels .levelFilter .slider:before, .spellListStyling .spellLevels .classificationFilter .slider:before, .spellListStyling .spellClassifications .classFilter .slider:before, .spellListStyling .spellClassifications .schoolFilter .slider:before, .spellListStyling .spellClassifications .levelFilter .slider:before, .spellListStyling .spellClassifications .classificationFilter .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s; }
      .spellListStyling .spellClasses .classFilter input + .slider, .spellListStyling .spellClasses .schoolFilter input + .slider, .spellListStyling .spellClasses .levelFilter input + .slider, .spellListStyling .spellClasses .classificationFilter input + .slider, .spellListStyling .spellSchools .classFilter input + .slider, .spellListStyling .spellSchools .schoolFilter input + .slider, .spellListStyling .spellSchools .levelFilter input + .slider, .spellListStyling .spellSchools .classificationFilter input + .slider, .spellListStyling .spellLevels .classFilter input + .slider, .spellListStyling .spellLevels .schoolFilter input + .slider, .spellListStyling .spellLevels .levelFilter input + .slider, .spellListStyling .spellLevels .classificationFilter input + .slider, .spellListStyling .spellClassifications .classFilter input + .slider, .spellListStyling .spellClassifications .schoolFilter input + .slider, .spellListStyling .spellClassifications .levelFilter input + .slider, .spellListStyling .spellClassifications .classificationFilter input + .slider {
        background-color: #cc292b; }
      .spellListStyling .spellClasses .classFilter input:checked + .slider, .spellListStyling .spellClasses .schoolFilter input:checked + .slider, .spellListStyling .spellClasses .levelFilter input:checked + .slider, .spellListStyling .spellClasses .classificationFilter input:checked + .slider, .spellListStyling .spellSchools .classFilter input:checked + .slider, .spellListStyling .spellSchools .schoolFilter input:checked + .slider, .spellListStyling .spellSchools .levelFilter input:checked + .slider, .spellListStyling .spellSchools .classificationFilter input:checked + .slider, .spellListStyling .spellLevels .classFilter input:checked + .slider, .spellListStyling .spellLevels .schoolFilter input:checked + .slider, .spellListStyling .spellLevels .levelFilter input:checked + .slider, .spellListStyling .spellLevels .classificationFilter input:checked + .slider, .spellListStyling .spellClassifications .classFilter input:checked + .slider, .spellListStyling .spellClassifications .schoolFilter input:checked + .slider, .spellListStyling .spellClassifications .levelFilter input:checked + .slider, .spellListStyling .spellClassifications .classificationFilter input:checked + .slider {
        background-color: #2ecc71; }
      .spellListStyling .spellClasses .classFilter input:focus + .slider, .spellListStyling .spellClasses .schoolFilter input:focus + .slider, .spellListStyling .spellClasses .levelFilter input:focus + .slider, .spellListStyling .spellClasses .classificationFilter input:focus + .slider, .spellListStyling .spellSchools .classFilter input:focus + .slider, .spellListStyling .spellSchools .schoolFilter input:focus + .slider, .spellListStyling .spellSchools .levelFilter input:focus + .slider, .spellListStyling .spellSchools .classificationFilter input:focus + .slider, .spellListStyling .spellLevels .classFilter input:focus + .slider, .spellListStyling .spellLevels .schoolFilter input:focus + .slider, .spellListStyling .spellLevels .levelFilter input:focus + .slider, .spellListStyling .spellLevels .classificationFilter input:focus + .slider, .spellListStyling .spellClassifications .classFilter input:focus + .slider, .spellListStyling .spellClassifications .schoolFilter input:focus + .slider, .spellListStyling .spellClassifications .levelFilter input:focus + .slider, .spellListStyling .spellClassifications .classificationFilter input:focus + .slider {
        box-shadow: 0 0 1px #2ecc71; }
      .spellListStyling .spellClasses .classFilter input:checked + .slider:before, .spellListStyling .spellClasses .schoolFilter input:checked + .slider:before, .spellListStyling .spellClasses .levelFilter input:checked + .slider:before, .spellListStyling .spellClasses .classificationFilter input:checked + .slider:before, .spellListStyling .spellSchools .classFilter input:checked + .slider:before, .spellListStyling .spellSchools .schoolFilter input:checked + .slider:before, .spellListStyling .spellSchools .levelFilter input:checked + .slider:before, .spellListStyling .spellSchools .classificationFilter input:checked + .slider:before, .spellListStyling .spellLevels .classFilter input:checked + .slider:before, .spellListStyling .spellLevels .schoolFilter input:checked + .slider:before, .spellListStyling .spellLevels .levelFilter input:checked + .slider:before, .spellListStyling .spellLevels .classificationFilter input:checked + .slider:before, .spellListStyling .spellClassifications .classFilter input:checked + .slider:before, .spellListStyling .spellClassifications .schoolFilter input:checked + .slider:before, .spellListStyling .spellClassifications .levelFilter input:checked + .slider:before, .spellListStyling .spellClassifications .classificationFilter input:checked + .slider:before {
        transform: translateX(26px); }
      .spellListStyling .spellClasses .classFilter .slider.round, .spellListStyling .spellClasses .schoolFilter .slider.round, .spellListStyling .spellClasses .levelFilter .slider.round, .spellListStyling .spellClasses .classificationFilter .slider.round, .spellListStyling .spellSchools .classFilter .slider.round, .spellListStyling .spellSchools .schoolFilter .slider.round, .spellListStyling .spellSchools .levelFilter .slider.round, .spellListStyling .spellSchools .classificationFilter .slider.round, .spellListStyling .spellLevels .classFilter .slider.round, .spellListStyling .spellLevels .schoolFilter .slider.round, .spellListStyling .spellLevels .levelFilter .slider.round, .spellListStyling .spellLevels .classificationFilter .slider.round, .spellListStyling .spellClassifications .classFilter .slider.round, .spellListStyling .spellClassifications .schoolFilter .slider.round, .spellListStyling .spellClassifications .levelFilter .slider.round, .spellListStyling .spellClassifications .classificationFilter .slider.round {
        border-radius: 34px; }
      .spellListStyling .spellClasses .classFilter .slider.round:before, .spellListStyling .spellClasses .schoolFilter .slider.round:before, .spellListStyling .spellClasses .levelFilter .slider.round:before, .spellListStyling .spellClasses .classificationFilter .slider.round:before, .spellListStyling .spellSchools .classFilter .slider.round:before, .spellListStyling .spellSchools .schoolFilter .slider.round:before, .spellListStyling .spellSchools .levelFilter .slider.round:before, .spellListStyling .spellSchools .classificationFilter .slider.round:before, .spellListStyling .spellLevels .classFilter .slider.round:before, .spellListStyling .spellLevels .schoolFilter .slider.round:before, .spellListStyling .spellLevels .levelFilter .slider.round:before, .spellListStyling .spellLevels .classificationFilter .slider.round:before, .spellListStyling .spellClassifications .classFilter .slider.round:before, .spellListStyling .spellClassifications .schoolFilter .slider.round:before, .spellListStyling .spellClassifications .levelFilter .slider.round:before, .spellListStyling .spellClassifications .classificationFilter .slider.round:before {
        border-radius: 50%; }
  .spellListStyling .spellClasses {
    grid-template-columns: repeat(2, 1fr); }
    @media (min-width: 46em) {
      .spellListStyling .spellClasses {
        grid-template-columns: repeat(4, 1fr); } }
    @media (min-width: 85.375em) {
      .spellListStyling .spellClasses {
        grid-template-columns: repeat(8, 1fr); } }
  .spellListStyling .spellLevels {
    grid-template-columns: repeat(2, 1fr); }
    @media (min-width: 60em) {
      .spellListStyling .spellLevels {
        grid-template-columns: repeat(5, 1fr); } }
    @media (min-width: 85.375em) {
      .spellListStyling .spellLevels {
        grid-template-columns: repeat(7, 1fr); } }
  .spellListStyling .spellSchools {
    grid-template-columns: 1fr; }
    @media (min-width: 46em) {
      .spellListStyling .spellSchools {
        grid-template-columns: repeat(2, 1fr); } }
    @media (min-width: 85.375em) {
      .spellListStyling .spellSchools {
        grid-template-columns: repeat(4, 1fr); } }
  .spellListStyling .spellClassifications {
    grid-template-columns: repeat(4, 1fr); }
    @media (min-width: 46em) {
      .spellListStyling .spellClassifications {
        grid-template-columns: repeat(3, 1fr); } }
    @media (min-width: 60em) {
      .spellListStyling .spellClassifications {
        grid-template-columns: repeat(6, 1fr); } }
    .spellListStyling .spellClassifications .classificationFilter {
      grid-column: span 2; }
      @media (min-width: 46em) {
        .spellListStyling .spellClassifications .classificationFilter {
          grid-column: span 1; } }
    @media (max-width: 30em) {
      .spellListStyling .spellClassifications .classificationFilter:last-child {
        grid-column: 2/4; } }
  .spellListStyling button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25rem;
    transition: 0.4s; }
  .spellListStyling button.accordion.active, .spellListStyling button.accordion:hover {
    background-color: #ddd; }
  .spellListStyling button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px; }
  .spellListStyling button.accordion.active:after {
    content: "\2212"; }
  .spellListStyling div.panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding: 0 0.5rem; }
  .spellListStyling table {
    width: 100%;
    border-collapse: collapse; }
  .spellListStyling tr:nth-of-type(odd) {
    background: #eee; }
  .spellListStyling th {
    background: #333;
    color: white !important;
    font-weight: bold; }
  .spellListStyling td, .spellListStyling th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left; }
  @media only screen and (max-width: 1500px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .spellListStyling {
      /* Force table to not be like tables anymore */
      /* Hide table headers (but not display: none;, for accessibility) */
      /*
		Label the data
		*/ }
      .spellListStyling table, .spellListStyling thead, .spellListStyling tbody, .spellListStyling th, .spellListStyling td, .spellListStyling tr {
        display: block; }
      .spellListStyling thead tr, .spellListStyling tfoot tr {
        position: absolute;
        top: -9999px;
        left: -9999px; }
      .spellListStyling tr {
        border: 1px solid #ccc; }
      .spellListStyling td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%; }
      .spellListStyling td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap; }
      .spellListStyling td:nth-of-type(1):before {
        content: "Name"; }
      .spellListStyling td:nth-of-type(2):before {
        content: "Level"; }
      .spellListStyling td:nth-of-type(3):before {
        content: "School"; }
      .spellListStyling td:nth-of-type(4):before {
        content: "Class"; }
      .spellListStyling td:nth-of-type(5):before {
        content: "Casting Time"; }
      .spellListStyling td:nth-of-type(6):before {
        content: "Range"; }
      .spellListStyling td:nth-of-type(7):before {
        content: "Components"; }
      .spellListStyling td:nth-of-type(8):before {
        content: "Duration"; }
      .spellListStyling td:nth-of-type(9):before {
        content: "Ritual"; }
      .spellListStyling td:nth-of-type(10):before {
        content: "Concentration"; }
      .spellListStyling td:nth-of-type(11):before {
        content: "Classification"; }
      .spellListStyling td:nth-of-type(12):before {
        content: "Description"; } }

.initiative {
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: 2rem repeat(3, 1fr);
  grid-template-columns: 1fr 80% 1fr; }
  @media (min-width: 60em) {
    .initiative {
      grid-template-rows: 2rem repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 85.375em) {
    .initiative {
      grid-template-rows: 2rem 1fr;
      grid-template-columns: repeat(3, 1fr); } }
  .initiative .card {
    height: 400px;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    grid-column-start: 2;
    grid-column-end: 3; }
  .initiative .card::after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4); }
  .initiative .card-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column; }
    .initiative .card-content .title {
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem; }
    .initiative .card-content img {
      margin-top: 50px;
      height: 150px;
      width: auto; }
  .initiative .card:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .initiative .initNormal {
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: url("../images/initiative/init_normal.jpg"); }
    @media (min-width: 60em) {
      .initiative .initNormal {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; } }
    @media (min-width: 85.375em) {
      .initiative .initNormal {
        grid-column-start: 1;
        grid-column-end: 2; } }
  .initiative .initSpeed {
    grid-row-start: 3;
    grid-row-end: 4;
    background-image: url("../images/initiative/init_speedFactor.jpg"); }
    @media (min-width: 60em) {
      .initiative .initSpeed {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; } }
    @media (min-width: 85.375em) {
      .initiative .initSpeed {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3; } }
  .initiative .initGreyhawk {
    grid-row-start: 4;
    grid-row-end: 5;
    background-image: url("../images/initiative/init_greyhawk.jpg"); }
    @media (min-width: 60em) {
      .initiative .initGreyhawk {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; } }
    @media (min-width: 85.375em) {
      .initiative .initGreyhawk {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3; } }

.initiativeNormal {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 60em) {
    .initiativeNormal {
      flex-direction: row; } }
  @media screen and (min-width: 60em) {
    .initiativeNormal .buttonsCard,
    .initiativeNormal .iniList {
      width: 50%; } }
  @media screen and (min-width: 60em) {
    .initiativeNormal .iniList {
      margin-left: 0.5rem; } }
  .initiativeNormal .button {
    margin-bottom: 1rem; }
  .initiativeNormal .playerButton {
    display: flex;
    justify-content: space-between; }
    .initiativeNormal .playerButton .button {
      width: 49.5%; }
    .initiativeNormal .playerButton .clearButton {
      background-color: #cc292b; }
  .initiativeNormal .rollButton .button {
    width: 100%; }
  .initiativeNormal .label {
    text-transform: capitalize; }
  .initiativeNormal .input {
    margin-bottom: 0.5rem; }

.initiativeSpeedFactor {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 60em) {
    .initiativeSpeedFactor {
      flex-direction: row; } }
  @media screen and (min-width: 60em) {
    .initiativeSpeedFactor .buttonsCard,
    .initiativeSpeedFactor .iniList {
      width: 50%; } }
  @media screen and (min-width: 60em) {
    .initiativeSpeedFactor .iniList {
      margin-left: 0.5rem; } }
  .initiativeSpeedFactor .button {
    margin-bottom: 1rem; }
  .initiativeSpeedFactor .playerButton {
    display: flex;
    justify-content: space-between; }
    .initiativeSpeedFactor .playerButton .button {
      width: 49.5%; }
    .initiativeSpeedFactor .playerButton .clearButton {
      background-color: #cc292b; }
  .initiativeSpeedFactor .rollButton .button {
    width: 100%; }
  .initiativeSpeedFactor .label {
    text-transform: capitalize; }
  .initiativeSpeedFactor .input {
    margin-bottom: 0.5rem; }

.initiativeGreyhawk {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 60em) {
    .initiativeGreyhawk {
      flex-direction: row; } }
  @media screen and (min-width: 60em) {
    .initiativeGreyhawk .buttonsCard,
    .initiativeGreyhawk .iniList {
      width: 50%; } }
  @media screen and (min-width: 60em) {
    .initiativeGreyhawk .iniList {
      margin-left: 0.5rem; } }
  .initiativeGreyhawk .button {
    margin-bottom: 1rem; }
  .initiativeGreyhawk .playerButton {
    display: flex;
    justify-content: space-between; }
    .initiativeGreyhawk .playerButton .button {
      width: 49.5%; }
    .initiativeGreyhawk .playerButton .clearButton {
      background-color: #cc292b; }
  .initiativeGreyhawk .rollButton .button {
    width: 100%; }
  .initiativeGreyhawk .label {
    text-transform: capitalize; }
  .initiativeGreyhawk .input {
    margin-bottom: 0.5rem; }

@media screen and (min-width: 60em) {
  .diceRoll {
    width: 50%;
    margin-left: auto;
    margin-right: auto; } }

.diceRoll .diceButtons .button {
  margin-bottom: 0.5rem;
  width: 30%; }

.diceRoll .submitButtons .button {
  margin-bottom: 0.5rem;
  width: 100%; }

@media screen and (min-width: 60em) {
  .diceRoll .submitButtons .button {
    width: 30%; } }

html {
  font-family: 'Roboto', sans-serif;
  background-color: #8C4B2B; }

@media screen and (min-width: 46em) {
  body {
    width: 80%;
    margin: 0 auto;
    padding-top: 3.5rem; } }

.mainNav {
  margin-bottom: 0.5rem; }

@media screen and (min-width: 46em) {
  .navbar-fixed {
    top: 0;
    z-index: 5;
    position: fixed;
    width: 80%; } }

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: .5rem; }

.button {
  background-color: #2ecc71;
  font-weight: bold;
  color: #FFF;
  font-weight: 500;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-transform: capitalize; }

/*# sourceMappingURL=style.css.map */