@import "atoms/variables";
@import "atoms/structure";
@import "atoms/typography";

@import "organisms/header";
@import "organisms/nav";
@import "organisms/home";
@import "organisms/builder";
@import "organisms/spellList";
@import "organisms/initiative";
@import "organisms/diceRoller";

html {
	font-family: 'Roboto', sans-serif;
	background-color: $accent;
}

body {
	@media screen and (min-width: $tabletBreakpoint) {
		width: 80%;
		margin: 0 auto;
		padding-top: 3.5rem;
	}
}

.mainNav {
	margin-bottom: $spacingTiny;
}

.navbar-fixed {
	@media screen and (min-width: $tabletBreakpoint) {
		top: 0;
		z-index: 5;
		position: fixed;
		width: 80%;
	}
}

.card {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-bottom: .5rem;
}

.button {
	background-color: #2ecc71;
	font-weight: bold;
	color: #FFF;
	font-weight: 500;
	border: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	text-transform: capitalize;
}
