<div class="initiativeSpeedFactor">
	<div class="card buttonsCard">
		<div class="card-content">
			<div class="inputText">
				<label class="label">Please enter your name: </label>
				<input id="playerName" class="input" type="text" autofocus><br>
				<label class="label">Please enter any initiative bonus: </label>
				<input id="playerInitBonus" class="input" type="number"><br>
			</div>

			<div class="playerButton">
				<button class="button" onclick="addNames()">Add Player</button>
				<button class="button clearButton" onclick="clearEverything()">Clear Players</button>
			</div>
			<p id="playerNames"></p>
			<div class="rollButton">
				<button class="button" onclick="rollInitiative()">Roll initiative for players</button>
			</div>
		</div>
	</div>
	<div class="card iniList">
		<div class="card-content">
			<div class="content">
				<h3>Player Rolls</h3>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Bonus</th>
							<th>Roll</th>
						</tr>
					</thead>
					<tbody id="playerRolls">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script async src="../javascripts/initiativeSpeedFactor.js"></script>
