.builderCreator {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $laptopBreakpoint) {
		grid-template-columns: repeat(4, 25%);
		display: grid;
		grid-gap: 10px;
	}

	label {
		color: #FFF;
	}

	.card {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.statCard {
		grid-column: 2/3;
	}

	.charCard {
		grid-column: 3/4;
	}

	button {
		width: 100%;
		grid-column: 2/4;
	}
}
