<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="dragonborn">Dragonborn</h1>
			<h2 id="dragonborn-traits">Dragonborn Traits</h2>
			<p>Your draconic heritage manifests in a variety of traits you share with other dragonborn.</p>
			<p><strong>Ability Score Increase.</strong> Your Strength score increases by 2, and your Charisma score increases by 1.</p>
			<p><strong>Age.</strong> Young dragonborn grow quickly. They walk hours after hatching, attain the size and development of a 10-year-old human child by the age of 3, and reach adulthood by 15. They live to be around 80.</p>
			<p><strong>Alignment.</strong> Dragonborn tend to extremes, making a conscious choice for one side or the other in the cosmic war between good and evil. Most dragonborn are good, but those who side with evil can be terrible villains.</p>
			<p><strong>Size.</strong> Dragonborn are taller and heavier than humans, standing well over 6 feet tall and averaging almost 250 pounds. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet.</p>
			<h2 id="draconic-ancestry">Draconic Ancestry</h2>
			<table>
				<colgroup>
					<col style="width: 24%" />
					<col style="width: 31%" />
					<col style="width: 44%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Dragon</th>
						<th style="text-align: left;">Damage Type</th>
						<th style="text-align: left;">Breath Weapon</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">Black</td>
						<td style="text-align: left;">Acid</td>
						<td style="text-align: left;">5 by 30 ft. line (Dex. save)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Blue</td>
						<td style="text-align: left;">Lightning</td>
						<td style="text-align: left;">5 by 30 ft. line (Dex. save)</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Brass</td>
						<td style="text-align: left;">Fire</td>
						<td style="text-align: left;">5 by 30 ft. line (Dex. save)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Bronze</td>
						<td style="text-align: left;">Lightning</td>
						<td style="text-align: left;">5 by 30 ft. line (Dex. save)</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Copper</td>
						<td style="text-align: left;">Acid</td>
						<td style="text-align: left;">5 by 30 ft. line (Dex. save)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Gold</td>
						<td style="text-align: left;">Fire</td>
						<td style="text-align: left;">15 ft. cone (Dex. save)</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Green</td>
						<td style="text-align: left;">Poison</td>
						<td style="text-align: left;">15 ft. cone (Con. save)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Red</td>
						<td style="text-align: left;">Fire</td>
						<td style="text-align: left;">15 ft. cone (Dex. save)</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Silver</td>
						<td style="text-align: left;">Cold</td>
						<td style="text-align: left;">15 ft. cone (Con. save)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">White</td>
						<td style="text-align: left;">Cold</td>
						<td style="text-align: left;">15 ft. cone (Con. save)</td>
					</tr>
				</tbody>
			</table>
			<p><strong>Draconic Ancestry.</strong> You have draconic ancestry. Choose one type of dragon from the Draconic Ancestry table. Your breath weapon and damage resistance are determined by the dragon type, as shown in the table.</p>
			<p><strong>Breath Weapon.</strong> You can use your action to exhale destructive energy. Your draconic ancestry determines the size, shape, and damage type of the exhalation.</p>
			<p>When you use your breath weapon, each creature in the area of the exhalation must make a saving throw, the type of which is determined by your draconic ancestry. The DC for this saving throw equals 8 + your Constitution modifier + your proficiency
				bonus. A creature takes 2d6 damage on a failed save, and half as much damage on a successful one. The damage increases to 3d6 at 6th level, 4d6 at 11th level, and 5d6 at 16th level.</p>
			<p>After you use your breath weapon, you can't use it again until you complete a short or long rest.</p>
			<p><strong>Damage Resistance.</strong> You have resistance to the damage type associated with your draconic ancestry.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Draconic. Draconic is thought to be one of the oldest languages and is often used in the study of magic. The language sounds harsh to most other creatures and includes numerous hard
				consonants and sibilants.</p>
		</div>
	</div>
</div>
