<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="dwarf">Dwarf</h1>
			<h2 id="dwarf-traits">Dwarf Traits</h2>
			<p>Your dwarf character has an assortment of inborn abilities, part and parcel of dwarven nature.</p>
			<p><strong>Ability Score Increase.</strong> Your Constitution score increases by 2.</p>
			<p><strong>Age.</strong> Dwarves mature at the same rate as humans, but they're considered young until they reach the age of 50. On average, they live about 350 years.</p>
			<p><strong>Alignment.</strong> Most dwarves are lawful, believing firmly in the benefits of a well-ordered society. They tend toward good as well, with a strong sense of fair play and a belief that everyone deserves to share in the benefits of a just
				order.</p>
			<p><strong>Size.</strong> Dwarves stand between 4 and 5 feet tall and average about 150 pounds. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 25 feet. Your speed is not reduced by wearing heavy armor.</p>
			<p><strong>Darkvision.</strong> Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern
				color in darkness, only shades of gray.</p>
			<p><strong>Dwarven Resilience.</strong> You have advantage on saving throws against poison, and you have resistance against poison damage.</p>
			<p><strong>Dwarven Combat Training.</strong> You have proficiency with the battleaxe, handaxe, light hammer, and warhammer.</p>
			<p><strong>Tool Proficiency.</strong> You gain proficiency with the artisan's tools of your choice: smith's tools, brewer's supplies, or mason's tools.</p>
			<p><strong>Stonecunning.</strong> Whenever you make an Intelligence (History) check related to the origin of stonework, you are considered proficient in the History skill and add double your proficiency bonus to the check, instead of your normal proficiency
				bonus.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Dwarvish. Dwarvish is full of hard consonants and guttural sounds, and those characteristics spill over into whatever other language a dwarf might speak.</p>
			<h2 id="hill-dwarf">Hill Dwarf</h2>
			<p>As a hill dwarf, you have keen senses, deep intuition, and remarkable resilience.</p>
			<p><strong>Ability Score Increase.</strong> Your Wisdom score increases by 1.</p>
			<p><strong>Dwarven Toughness.</strong> Your hit point maximum increases by 1, and it increases by 1 every time you gain a level.</p>
		</div>
	</div>
</div>
