<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="elf">Elf</h1>
			<h2 id="elf-traits">Elf Traits</h2>
			<p>Your elf character has a variety of natural abilities, the result of thousands of years of elven refinement.</p>
			<p><strong>Ability Score Increase.</strong> Your Dexterity score increases by 2.</p>
			<p><strong>Age.</strong> Although elves reach physical maturity at about the same age as humans, the elven understanding of adulthood goes beyond physical growth to encompass worldly experience. An elf typically claims adulthood and an adult name around
				the age of 100 and can live to be 750 years old.</p>
			<p><strong>Alignment.</strong> Elves love freedom, variety, and self-expression, so they lean strongly toward the gentler aspects of chaos. They value and protect others' freedom as well as their own, and they are more often good than not.</p>
			<p><strong>Size.</strong> Elves range from under 5 to over 6 feet tall and have slender builds. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet.</p>
			<p><strong>Darkvision.</strong> Accustomed to twilit forests and the night sky, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You
				can't discern color in darkness, only shades of gray.</p>
			<p><strong>Keen Senses.</strong> You have proficiency in the Perception skill.</p>
			<p><strong>Fey Ancestry.</strong> You have advantage on saving throws against being charmed, and magic can't put you to sleep.</p>
			<p><strong>Trance.</strong> Elves don't need to sleep. Instead, they meditate deeply, remaining semiconscious, for 4 hours a day. (The Common word for such meditation is &quot;trance.&quot;) While meditating, you can dream after a fashion; such dreams
				are actually mental exercises that have become reflexive through years of practice.</p>
			<p>After resting in this way, you gain the same benefit that a human does from 8 hours of sleep.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Elvish. Elvish is fluid, with subtle intonations and intricate grammar. Elven literature is rich and varied, and their songs and poems are famous among other races. Many bards learn
				their language so they can add Elvish ballads to their repertoires.</p>
			<h2 id="high-elf">High Elf</h2>
			<p>As a high elf, you have a keen mind and a mastery of at least the basics of magic. In many fantasy gaming worlds, there are two kinds of high elves. One type is haughty and reclusive, believing themselves to be superior to non-elves and even other
				elves. The other type is more common and more friendly, and often encountered among humans and other races.</p>
			<p><strong>Ability Score Increase.</strong> Your Intelligence score increases by 1.</p>
			<p><strong>Elf Weapon Training.</strong> You have proficiency with the longsword, shortsword, shortbow, and longbow.</p>
			<p><strong>Cantrip.</strong> You know one cantrip of your choice from the wizard spell list. Intelligence is your spellcasting ability for it.</p>
			<p><strong>Extra Language.</strong> You can speak, read, and write one extra language of your choice.</p>
		</div>
	</div>
</div>
