<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="half-elf">Half-Elf</h1>
			<h2 id="half-elf-traits">Half-Elf Traits</h2>
			<p>Your half-elf character has some qualities in common with elves and some that are unique to half-elves.</p>
			<p><strong>Ability Score Increase.</strong> Your Charisma score increases by 2, and two other ability scores of your choice increase by 1.</p>
			<p><strong>Age.</strong> Half-elves mature at the same rate humans do and reach adulthood around the age of 20. They live much longer than humans, however, often exceeding 180 years.</p>
			<p><strong>Alignment.</strong> Half-elves share the chaotic bent of their elven heritage. They value both personal freedom and creative expression, demonstrating neither love of leaders nor desire for followers. They chafe at rules, resent others' demands,
				and sometimes prove unreliable, or at least unpredictable.</p>
			<p><strong>Size.</strong> Half-elves are about the same size as humans, ranging from 5 to 6 feet tall. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet.</p>
			<p><strong>Darkvision.</strong> Thanks to your elf blood, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color
				in darkness, only shades of gray.</p>
			<p><strong>Fey Ancestry.</strong> You have advantage on saving throws against being charmed, and magic can't put you to sleep.</p>
			<p><strong>Skill Versatility.</strong> You gain proficiency in two skills of your choice.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common, Elvish, and one extra language of your choice.</p>
		</div>
	</div>
</div>
