<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="halfling">Halfling</h1>
			<h2 id="halfling-traits">Halfling Traits</h2>
			<p>Your halfling character has a number of traits in common with all other halflings.</p>
			<p><strong>Ability Score Increase.</strong> Your Dexterity score increases by 2.</p>
			<p><strong>Age.</strong> A halfling reaches adulthood at the age of 20 and generally lives into the middle of his or her second century.</p>
			<p><strong>Alignment.</strong> Most halflings are lawful good. As a rule, they are good-hearted and kind, hate to see others in pain, and have no tolerance for oppression. They are also very orderly and traditional, leaning heavily on the support of their
				community and the comfort of their old ways.</p>
			<p><strong>Size.</strong> Halflings average about 3 feet tall and weigh about 40 pounds. Your size is Small.</p>
			<p><strong>Speed.</strong> Your base walking speed is 25 feet.</p>
			<p><strong>Lucky.</strong> When you roll a 1 on the d20 for an attack roll, ability check, or saving throw, you can reroll the die and must use the new roll.</p>
			<p><strong>Brave.</strong> You have advantage on saving throws against being frightened.</p>
			<p><strong>Halfling Nimbleness.</strong> You can move through the space of any creature that is of a size larger than yours.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Halfling. The Halfling language isn't secret, but halflings are loath to share it with others. They write very little, so they don't have a rich body of literature. Their oral tradition,
				however, is very strong. Almost all halflings speak Common to converse with the people in whose lands they dwell or through which they are traveling.</p>
			<h2 id="lightfoot">Lightfoot</h2>
			<p>As a lightfoot halfling, you can easily hide from notice, even using other people as cover. You're inclined to be affable and get along well with others.</p>
			<p>Lightfoots are more prone to wanderlust than other halflings, and often dwell alongside other races or take up a nomadic life.</p>
			<p><strong>Ability Score Increase.</strong> Your Charisma score increases by 1.</p>
			<p><strong>Naturally Stealthy.</strong> You can attempt to hide even when you are obscured only by a creature that is at least one size larger than you.</p>
		</div>
	</div>
</div>
