<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="half-orc">Half-Orc</h1>
			<h2 id="half-orc-traits">Half-Orc Traits</h2>
			<p>Your half-orc character has certain traits deriving from your orc ancestry.</p>
			<p><strong>Ability Score Increase.</strong> Your Strength score increases by 2, and your Constitution score increases by 1.</p>
			<p><strong>Age.</strong> Half-orcs mature a little faster than humans, reaching adulthood around age 14. They age noticeably faster and rarely live longer than 75 years.</p>
			<p><strong>Alignment.</strong> Half-orcs inherit a tendency toward chaos from their orc parents and are not strongly inclined toward good. Half-orcs raised among orcs and willing to live out their lives among them are usually evil.</p>
			<p><strong>Size.</strong> Half-orcs are somewhat larger and bulkier than humans, and they range from 5 to well over 6 feet tall. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet.</p>
			<p><strong>Darkvision.</strong> Thanks to your orc blood, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color
				in darkness, only shades of gray.</p>
			<p><strong>Menacing.</strong> You gain proficiency in the Intimidation skill.</p>
			<p><strong>Relentless Endurance.</strong> When you are reduced to 0 hit points but not killed outright, you can drop to 1 hit point instead. You can't use this feature again until you finish a long rest.</p>
			<p><strong>Savage Attacks.</strong> When you score a critical hit with a melee weapon attack, you can roll one of the weapon's damage dice one additional time and add it to the extra damage of the critical hit.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Orc. Orc is a harsh, grating language with hard consonants. It has no script of its own but is written in the Dwarvish script.</p>
		</div>
	</div>
</div>
