<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="human">Human</h1>
			<h2 id="human-traits">Human Traits</h2>
			<p>It's hard to make generalizations about humans, but your human character has these traits.</p>
			<p><strong>Ability Score Increase.</strong> Your ability scores each increase by 1.</p>
			<p><strong>Age.</strong> Humans reach adulthood in their late teens and live less than a century.</p>
			<p><strong>Alignment.</strong> Humans tend toward no particular alignment. The best and the worst are found among them.</p>
			<p><strong>Size.</strong> Humans vary widely in height and build, from barely 5 feet to well over 6 feet tall. Regardless of your position in that range, your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet. <strong>Languages.</strong> You can speak, read, and write Common and one extra language of your choice.</p>
			<p>Humans typically learn the languages of other peoples they deal with, including obscure dialects. They are fond of sprinkling their speech with words borrowed from other tongues: Orc curses, Elvish musical expressions, Dwarvish military phrases, and
				so on.</p>
		</div>
	</div>
</div>
