<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 id="tiefling">Tiefling</h1>
			<h2 id="tiefling-traits">Tiefling Traits</h2>
			<p>Tieflings share certain racial traits as a result of their infernal descent.</p>
			<p><strong>Ability Score Increase.</strong> Your Intelligence score increases by 1, and your Charisma score increases by 2.</p>
			<p><strong>Age.</strong> Tieflings mature at the same rate as humans but live a few years longer.</p>
			<p><strong>Alignment.</strong> Tieflings might not have an innate tendency toward evil, but many of them end up there. Evil or not, an independent nature inclines many tieflings toward a chaotic alignment.</p>
			<p><strong>Size.</strong> Tieflings are about the same size and build as humans. Your size is Medium.</p>
			<p><strong>Speed.</strong> Your base walking speed is 30 feet.</p>
			<p><strong>Darkvision.</strong> Thanks to your infernal heritage, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern
				color in darkness, only shades of gray.</p>
			<p><strong>Hellish Resistance.</strong> You have resistance to fire damage.</p>
			<p><strong>Infernal Legacy.</strong> You know the thaumaturgy cantrip. When you reach 3rd level, you can cast the <em>hellish rebuke</em> spell as a 2nd-level spell once with this trait and regain the ability to do so when you finish a long rest. When
				you reach 5th level, you can cast the darkness spell once with this trait and regain the ability to do so when you finish a long rest. Charisma is your spellcasting ability for these spells.</p>
			<p><strong>Languages.</strong> You can speak, read, and write Common and Infernal.</p>
		</div>
	</div>
</div>
