.mainNav {
	// Burger menu button
	$burger--thickness: 4px;

	.burger {
		margin: 1rem 1rem 0;
		$width: 28px;
		display: inline-block;
		border: 0;
		background: none;
		outline: 0;
		padding: 0;
		cursor: pointer;
		border-bottom: $burger--thickness solid #FFF;
		width: $width;
		transition: border-bottom 1s ease-in-out;
		-webkit-transition: border-bottom 1s ease-in-out;
		// Fix for extra space in Firefox
		&::-moz-focus-inner {
			border: 0;
			padding: 0;
		}

		&:before {
			content: "";
			display: block;
			border-bottom: $burger--thickness solid #FFF;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}

		&:after {
			content: "";
			display: block;
			border-bottom: $burger--thickness solid #FFF;
			width: 100%;
			margin-bottom: 5px;
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}
	}

	.burger-check {
		display: none;
	}

	.burger-check:checked ~ .burger {
		border-bottom: $burger--thickness solid transparent;
		transition: border-bottom 0.8s ease-in-out;
		-webkit-transition: border-bottom 0.8s ease-in-out;

		&:before {
			transform: rotate(-405deg) translateY(1px) translateX(-3px);
			-webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}

		&:after {
			transform: rotate(405deg) translateY(-4px) translateX(-5px);
			-webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
			transition: transform 0.5s ease-in-out;
			-webkit-transition: -webkit-transform 0.5s ease-in-out;
		}
	}
	// * * * Navigation * * *
	$navigation__transition: max-height 0.5s ease-in-out;

	.navigation {
		overflow: hidden;
		max-height: 0;
		transition: $navigation__transition;
		align-items: flex-start;
	}

	.burger-check:checked ~ .navigation {
		max-height: 500px;
		transition: $navigation__transition;
	}

	a {
		color: #FFF;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		font-size: 1.5rem;
		padding: 5px 0 5px 1rem;

		a {
			text-decoration: none;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
