<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Barbarian</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a barbarian, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d12 per barbarian level</p>
			<p><strong>Hit Points at 1st Level:</strong> 12 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d12 (or 7) + your Constitution modifier per barbarian level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor, medium armor, shields</p>
			<p><strong>Weapons:</strong> Simple weapons, martial weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Strength, Constitution</p>
			<p><strong>Skills:</strong> Choose two from Animal Handling, Athletics, Intimidation, Nature, Perception, and Survival</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a greataxe or (<em>b</em>) any martial melee weapon</li>
				<li>(<em>a</em>) two handaxes or (<em>b</em>) any simple weapon</li>
				<li>An explorer's pack and four javelins</li>
			</ul>
			<h2 id="the-barbarian">The Barbarian</h2>
			<table>
				<colgroup>
					<col style="width: 12%" />
					<col style="width: 26%" />
					<col style="width: 33%" />
					<col style="width: 13%" />
					<col style="width: 14%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Rages</th>
						<th style="text-align: left;">Rage Damage</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Rage, Unarmored Defense</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Reckless Attack, Danger Sense</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Primal Path</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Extra Attack, Fast Movement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Path feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Feral Instinct</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Brutal Critical (1 die)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Path feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Relentless Rage</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Brutal Critical (2 dice)</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Path feature</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Persistent Rage</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+3</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+4</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Brutal Critical (3 dice)</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">+4</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Indomitable Might</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">+4</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">+4</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Primal Champion</td>
						<td style="text-align: left;">Unlimited</td>
						<td style="text-align: left;">+4</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="rage">Rage</h2>
			<p>In battle, you fight with primal ferocity. On your turn, you can enter a rage as a bonus action.</p>
			<p>While raging, you gain the following benefits if you aren't wearing heavy armor:</p>
			<ul>
				<li>You have advantage on Strength checks and Strength saving throws.</li>
				<li>When you make a melee weapon attack using Strength, you gain a bonus to the damage roll that increases as you gain levels as a barbarian, as shown in the Rage Damage column of the Barbarian table.</li>
				<li>You have resistance to bludgeoning, piercing, and slashing damage.</li>
			</ul>
			<p>If you are able to cast spells, you can't cast them or concentrate on them while raging.</p>
			<p>Your rage lasts for 1 minute. It ends early if you are knocked unconscious or if your turn ends and you haven't attacked a hostile creature since your last turn or taken damage since then. You can also end your rage on your turn as a bonus action.</p>
			<p>Once you have raged the number of times shown for your barbarian level in the Rages column of the Barbarian table, you must finish a long rest before you can rage again.</p>
			<h2 id="unarmored-defense">Unarmored Defense</h2>
			<p>While you are not wearing any armor, your Armor Class equals 10 + your Dexterity modifier + your Constitution modifier. You can use a shield and still gain this benefit.</p>
			<h2 id="reckless-attack">Reckless Attack</h2>
			<p>Starting at 2nd level, you can throw aside all concern for defense to attack with fierce desperation. When you make your first attack on your turn, you can decide to attack recklessly. Doing so gives you advantage on melee weapon attack rolls using
				Strength during this turn, but attack rolls against you have advantage until your next turn.</p>
			<h2 id="danger-sense">Danger Sense</h2>
			<p>At 2nd level, you gain an uncanny sense of when things nearby aren't as they should be, giving you an edge when you dodge away from danger.</p>
			<p>You have advantage on Dexterity saving throws against effects that you can see, such as traps and spells. To gain this benefit, you can't be blinded, deafened, or incapacitated.</p>
			<h2 id="primal-path">Primal Path</h2>
			<p>At 3rd level, you choose a path that shapes the nature of your rage. Choose the Path of the Berserker or the Path of the Totem Warrior, both detailed at the end of the class description. Your choice grants you features at 3rd level and again at 6th,
				10th, and 14th levels.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.</p>
			<h2 id="extra-attack">Extra Attack</h2>
			<p>Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.</p>
			<h2 id="fast-movement">Fast Movement</h2>
			<p>Starting at 5th level, your speed increases by 10 feet while you aren't wearing heavy armor.</p>
			<h2 id="feral-instinct">Feral Instinct</h2>
			<p>By 7th level, your instincts are so honed that you have advantage on initiative rolls.</p>
			<p>Additionally, if you are surprised at the beginning of combat and aren't incapacitated, you can act normally on your first turn, but only if you enter your rage before doing anything else on that turn.</p>
			<h2 id="brutal-critical">Brutal Critical</h2>
			<p>Beginning at 9th level, you can roll one additional weapon damage die when determining the extra damage for a critical hit with a melee attack.</p>
			<p>This increases to two additional dice at 13th level and three additional dice at 17th level.</p>
			<h2 id="relentless-rage">Relentless Rage</h2>
			<p>Starting at 11th level, your rage can keep you fighting despite grievous wounds. If you drop to 0 hit points while you're raging and don't die outright, you can make a DC 10 Constitution saving throw. If you succeed, you drop to 1 hit point instead.</p>
			<p>Each time you use this feature after the first, the DC increases by 5. When you finish a short or long rest, the DC resets to 10.</p>
			<h2 id="persistent-rage">Persistent Rage</h2>
			<p>Beginning at 15th level, your rage is so fierce that it ends early only if you fall unconscious or if you choose to end it.</p>
			<h2 id="indomitable-might">Indomitable Might</h2>
			<p>Beginning at 18th level, if your total for a Strength check is less than your Strength score, you can use that score in place of the total.</p>
			<h2 id="primal-champion">Primal Champion</h2>
			<p>At 20th level, you embody the power of the wilds. Your Strength and Constitution scores increase by 4. Your maximum for those scores is now 24.</p>
			<h1 id="barbarian-paths">Barbarian Paths</h1>
			<h2 id="path-of-the-berserker">Path of the Berserker</h2>
			<p>For some barbarians, rage is a means to an end---that end being violence. The Path of the Berserker is a path of untrammeled fury, slick with blood. As you enter the berserker's rage, you thrill in the chaos of battle, heedless of your own health or
				well-being.</p>
			<h3 id="frenzy">Frenzy</h3>
			<p>Starting when you choose this path at 3rd level, you can go into a frenzy when you rage. If you do so, for the duration of your rage you can make a single melee weapon attack as a bonus action on each of your turns after this one. When your rage ends,
				you suffer one level of exhaustion.</p>
			<h3 id="mindless-rage">Mindless Rage</h3>
			<p>Beginning at 6th level, you can't be charmed or frightened while raging. If you are charmed or frightened when you enter your rage, the effect is suspended for the duration of the rage.</p>
			<h3 id="intimidating-presence">Intimidating Presence</h3>
			<p>Beginning at 10th level, you can use your action to frighten someone with your menacing presence. When you do so, choose one creature that you can see within 30 feet of you. If the creature can see or hear you, it must succeed on a Wisdom saving throw
				(DC equal to 8 + your proficiency bonus + your Charisma modifier) or be frightened of you until the end of your next turn. On subsequent turns, you can use your action to extend the duration of this effect on the frightened creature until the end of
				your next turn. This effect ends if the creature ends its turn out of line of sight or more than 60 feet away from you.</p>
			<p>If the creature succeeds on its saving throw, you can't use this feature on that creature again for 24 hours.</p>
			<h3 id="retaliation">Retaliation</h3>
			<p>Starting at 14th level, when you take damage from a creature that is within 5 feet of you, you can use your reaction to make a melee weapon attack against that creature.</p>
		</div>
	</div>
</div>
