<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Bard</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a bard, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per bard level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per bard level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor</p>
			<p><strong>Weapons:</strong> Simple weapons, hand crossbows, longswords, rapiers, shortswords</p>
			<p><strong>Tools:</strong> Three musical instruments of your choice</p>
			<p><strong>Saving Throws:</strong> Dexterity, Charisma</p>
			<p><strong>Skills:</strong> Choose any three</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a rapier, (<em>b</em>) a longsword, or (<em>c</em>) any simple weapon</li>
				<li>(<em>a</em>) a diplomat's pack or (<em>b</em>) an entertainer's pack</li>
				<li>(<em>a</em>) a lute or (<em>b</em>) any other musical instrument</li>
				<li>Leather armor and a dagger</li>
			</ul>
			<h2 id="the-bard">The Bard</h2>
			<table>
				<colgroup>
					<col style="width: 5%" />
					<col style="width: 10%" />
					<col style="width: 30%" />
					<col style="width: 7%" />
					<col style="width: 7%" />
					<col style="width: 38%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips Known</th>
						<th style="text-align: left;">Spells + Known</th>
						<th style="text-align: left;">---Spell Slots per Spell Level--- -----+-----+-----+-----+-----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th | 6th | 7th | 8th | 9th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Spellcasting, Bardic Inspiration (d6)</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Jack of All Trades, Song of Rest (d6)</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">3 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Bard College, Expertise</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">4 | 3 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Bardic Inspiration (d8), Font of Inspiration</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Countercharm, Bard College feature</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Song of Rest (d8)</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Bardic Inspiration (d10), Expertise, Magical Secrets</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Song of Rest (d10)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">16</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Magical Secrets, Bard College feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">18</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Bardic Inspiration (d12)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">19</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">19</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Song of Rest (d12)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">20</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Magical Secrets</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">22</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">22</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Superior Inspiration</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">22</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 2 | 1 | 1</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>You have learned to untangle and reshape the fabric of reality in harmony with your wishes and music.</p>
			<p>Your spells are part of your vast repertoire, magic that you can tune to different situations.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>You know two cantrips of your choice from the bard-spells. You learn additional bard cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Bard table.</p>
			<h3 id="spell-slots">Spell Slots</h3>
			<p>The Bard table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
			<p>For example, if you know the 1st-level spell <em>cure wounds</em> and have a 1st-level and a 2nd-level spell slot available, you can cast <em>cure wounds</em> using either slot.</p>
			<h3 id="spells-known-of-1st-level-and-higher">Spells Known of 1st Level and Higher</h3>
			<p>You know four 1st-level spells of your choice from the bard-spells.</p>
			<p>The Spells Known column of the Bard table shows when you learn more bard spells of your choice. Each of these spells must be of a level for which you have spell slots, as shown on the table. For instance, when you reach 3rd level in this class, you
				can learn one new spell of 1st or 2nd level.</p>
			<p>Additionally, when you gain a level in this class, you can choose one of the bard spells you know and replace it with another spell from the bard spell list, which also must be of a level for which you have spell slots.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Charisma is your spellcasting ability for your bard spells. Your magic comes from the heart and soul you pour into the performance of your music or oration. You use your Charisma whenever a spell refers to your spellcasting ability. In addition, you
				use your Charisma modifier when setting the saving throw DC for a bard spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Charisma modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Charisma modifier</p>
			</blockquote>
			<h3 id="ritual-casting">Ritual Casting</h3>
			<p>You can cast any bard spell you know as a ritual if that spell has the ritual tag.</p>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use a musical instrument (see adventuring-gear) as a spellcasting focus for your bard spells.</p>
			<h2 id="bardic-inspiration">Bardic Inspiration</h2>
			<p>You can inspire others through stirring words or music. To do so, you use a bonus action on your turn to choose one creature other than yourself within 60 feet of you who can hear you. That creature gains one Bardic Inspiration die, a d6.</p>
			<p>Once within the next 10 minutes, the creature can roll the die and add the number rolled to one ability check, attack roll, or saving throw it makes. The creature can wait until after it rolls the d20 before deciding to use the Bardic Inspiration die,
				but must decide before the GM says whether the roll succeeds or fails. Once the Bardic Inspiration die is rolled, it is lost. A creature can have only one Bardic Inspiration die at a time.</p>
			<p>You can use this feature a number of times equal to your Charisma modifier (a minimum of once). You regain any expended uses when you finish a long rest.</p>
			<p>Your Bardic Inspiration die changes when you reach certain levels in this class. The die becomes a d8 at 5th level, a d10 at 10th level, and a d12 at 15th level.</p>
			<h2 id="jack-of-all-trades">Jack of All Trades</h2>
			<p>Starting at 2nd level, you can add half your proficiency bonus, rounded down, to any ability check you make that doesn't already include your proficiency bonus.</p>
			<h2 id="song-of-rest">Song of Rest</h2>
			<p>Beginning at 2nd level, you can use soothing music or oration to help revitalize your wounded allies during a short rest. If you or any friendly creatures who can hear your performance regain hit points at the end of the short rest by spending one
				or more Hit Dice, each of those creatures regains an extra 1d6 hit points.</p>
			<p>The extra hit points increase when you reach certain levels in this class: to 1d8 at 9th level, to 1d10 at 13th level, and to 1d12 at 17th level.</p>
			<h2 id="bard-college">Bard College</h2>
			<p>At 3rd level, you delve into the advanced techniques of a bard college of your choice, such as the College of Lore. Your choice grants you features at 3rd level and again at 6th and 14th level.</p>
			<h2 id="expertise">Expertise</h2>
			<p>At 3rd level, choose two of your skill proficiencies. Your proficiency bonus is doubled for any ability check you make that uses either of the chosen proficiencies.</p>
			<p>At 10th level, you can choose another two skill proficiencies to gain this benefit.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="font-of-inspiration">Font of Inspiration</h2>
			<p>Beginning when you reach 5th level, you regain all of your expended uses of Bardic Inspiration when you finish a short or long rest.</p>
			<h2 id="countercharm">Countercharm</h2>
			<p>At 6th level, you gain the ability to use musical notes or words of power to disrupt mind-influencing effects. As an action, you can start a performance that lasts until the end of your next turn. During that time, you and any friendly creatures within
				30 feet of you have advantage on saving throws against being frightened or charmed. A creature must be able to hear you to gain this benefit. The performance ends early if you are incapacitated or silenced or if you voluntarily end it (no action required).</p>
			<h2 id="magical-secrets">Magical Secrets</h2>
			<p>By 10th level, you have plundered magical knowledge from a wide spectrum of disciplines. Choose two spells from any class, including this one. A spell you choose must be of a level you can cast, as shown on the Bard table, or a cantrip.</p>
			<p>The chosen spells count as bard spells for you and are included in the number in the Spells Known column of the Bard table.</p>
			<p>You learn two additional spells from any class at 14th level and again at 18th level.</p>
			<h2 id="superior-inspiration">Superior Inspiration</h2>
			<p>At 20th level, when you roll initiative and have no uses of Bardic Inspiration left, you regain one use.</p>
			<h1 id="bardic-colleges">Bardic Colleges</h1>
			<h2 id="college-of-lore">College of Lore</h2>
			<p>Bards of the College of Lore know something about most things, collecting bits of knowledge from sources as diverse as scholarly tomes and peasant tales. Whether singing folk ballads in taverns or elaborate compositions in royal courts, these bards
				use their gifts to hold audiences spellbound. When the applause dies down, the audience members might find themselves questioning everything they held to be true, from their faith in the priesthood of the local temple to their loyalty to the king.</p>
			<p>The loyalty of these bards lies in the pursuit of beauty and truth, not in fealty to a monarch or following the tenets of a deity. A noble who keeps such a bard as a herald or advisor knows that the bard would rather be honest than politic.</p>
			<p>The college's members gather in libraries and sometimes in actual colleges, complete with classrooms and dormitories, to share their lore with one another. They also meet at festivals or affairs of state, where they can expose corruption, unravel lies,
				and poke fun at self-important figures of authority.</p>
			<h3 id="bonus-proficiencies">Bonus Proficiencies</h3>
			<p>When you join the College of Lore at 3rd level, you gain proficiency with three skills of your choice.</p>
			<h3 id="cutting-words">Cutting Words</h3>
			<p>Also at 3rd level, you learn how to use your wit to distract, confuse, and otherwise sap the confidence and competence of others. When a creature that you can see within 60 feet of you makes an attack roll, an ability check, or a damage roll, you can
				use your reaction to expend one of your uses of Bardic Inspiration, rolling a Bardic Inspiration die and subtracting the number rolled from the creature's roll. You can choose to use this feature after the creature makes its roll, but before the GM
				determines whether the attack roll or ability check succeeds or fails, or before the creature deals its damage. The creature is immune if it can't hear you or if it's immune to being charmed.</p>
			<h3 id="additional-magical-secrets">Additional Magical Secrets</h3>
			<p>At 6th level, you learn two spells of your choice from any class. A spell you choose must be of a level you can cast, as shown on the Bard table, or a cantrip. The chosen spells count as bard spells for you but don't count against the number of bard
				spells you know.</p>
			<h3 id="peerless-skill">Peerless Skill</h3>
			<p>Starting at 14th level, when you make an ability check, you can expend one use of Bardic Inspiration. Roll a Bardic Inspiration die and add the number rolled to your ability check. You can choose to do so after you roll the die for the ability check,
				but before the GM tells you whether you succeed or fail.</p>
		</div>
	</div>
</div>
