<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Cleric</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a cleric, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per cleric level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per cleric level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor, medium armor, shields</p>
			<p><strong>Weapons:</strong> Simple weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Wisdom, Charisma</p>
			<p><strong>Skills:</strong> Choose two from History, Insight, Medicine, Persuasion, and Religion</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a mace or (<em>b</em>) a warhammer (if proficient)</li>
				<li>(<em>a</em>) scale mail, (<em>b</em>) leather armor, or (<em>c</em>) chain mail (if proficient)</li>
				<li>(<em>a</em>) a light crossbow and 20 bolts or (<em>b</em>) any simple weapon</li>
				<li>(<em>a</em>) a priest's pack or (<em>b</em>) an explorer's pack</li>
				<li>A shield and a holy symbol</li>
			</ul>
			<h2 id="the-cleric">The Cleric</h2>
			<table>
				<colgroup>
					<col style="width: 6%" />
					<col style="width: 10%" />
					<col style="width: 32%" />
					<col style="width: 8%" />
					<col style="width: 41%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips + Known</th>
						<th style="text-align: left;">---Spell Slots per Spell Level--- -----+-----+-----+-----+-----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th | 6th | 7th | 8th | 9th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Spellcasting, Divine Domain</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Channel Divinity (1/rest), Divine Domain feature</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3 | --- | --- | --- | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Destroy Undead (CR 1/2)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Channel Divinity (2/rest), Divine Domain feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement, Destroy Undead (CR1) Divine Domain feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">
							<dl>
								<dt>4 | 3 | 3 | 2 | --- | --- | --- | --- | --- | | | | | | | |</dt>
								<dd>
									<p>    | | | | | | |</p>
								</dd>
							</dl>
						</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Divine Intervention</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Destroy Undead (CR 2)</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Destroy Undead (CR 3)</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Destroy Undead (CR 4), Divine Domain feature</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">
							<dl>
								<dt>4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | 1</dt>
								<dd>
									<p>    | | | | | | |</p>
								</dd>
							</dl>
						</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Channel Divinity (3/rest)</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Divine Intervention Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 2 | 1 | 1</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>As a conduit for divine power, you can cast cleric-spells.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>At 1st level, you know three cantrips of your choice from the cleric-spells list. You learn additional cleric cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Cleric table.</p>
			<h3 id="preparing-and-casting-spells">Preparing and Casting Spells</h3>
			<p>The Cleric table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
			<p>You prepare the list of cleric spells that are available for you to cast, choosing from the cleric spell list. When you do so, choose a number of cleric spells equal to your Wisdom modifier + your cleric level (minimum of one spell). The spells must
				be of a level for which you have spell slots.</p>
			<p>For example, if you are a 3rd-level cleric, you have four 1st-level and two 2nd-level spell slots. With a Wisdom of 16, your list of prepared spells can include six spells of 1st or 2nd level, in any combination. If you prepare the 1st-level spell
				cure-wounds, you can cast it using a 1st-level or 2nd-level slot. Casting the spell doesn't remove it from your list of prepared spells.</p>
			<p>You can change your list of prepared spells when you finish a long rest. Preparing a new list of cleric spells requires time spent in prayer and meditation: at least 1 minute per spell level for each spell on your list.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Wisdom is your spellcasting ability for your cleric spells. The power of your spells comes from your devotion to your deity. You use your Wisdom whenever a cleric spell refers to your spellcasting ability. In addition, you use your Wisdom modifier
				when setting the saving throw DC for a cleric spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Wisdom modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Wisdom modifier</p>
			</blockquote>
			<h3 id="ritual-casting">Ritual Casting</h3>
			<p>You can cast a cleric spell as a ritual if that spell has the ritual tag and you have the spell prepared.</p>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use a holy symbol (see adventuring-gear) as a spellcasting focus for your cleric spells.</p>
			<h2 id="divine-domain">Divine Domain</h2>
			<p>Choose one domain related to your deity, such as Life. Each domain is detailed at the end of the class description, and each one provides examples of gods associated with it. Your choice grants you domain spells and other features when you choose it
				at 1st level. It also grants you additional ways to use Channel Divinity when you gain that feature at 2nd level, and additional benefits at 6th, 8th, and 17th levels.</p>
			<h3 id="domain-spells">Domain Spells</h3>
			<p>Each domain has a list of spells---its domain spells---that you gain at the cleric levels noted in the domain description. Once you gain a domain spell, you always have it prepared, and it doesn't count against the number of spells you can prepare
				each day.
			</p>
			<p>If you have a domain spell that doesn't appear on the cleric spell list, the spell is nonetheless a cleric spell for you.</p>
			<h2 id="channel-divinity">Channel Divinity</h2>
			<p>At 2nd level, you gain the ability to channel divine energy directly from your deity, using that energy to fuel magical effects. You start with two such effects: Turn Undead and an effect determined by your domain. Some domains grant you additional
				effects as you advance in levels, as noted in the domain description.</p>
			<p>When you use your Channel Divinity, you choose which effect to create. You must then finish a short or long rest to use your Channel Divinity again.</p>
			<p>Some Channel Divinity effects require saving throws. When you use such an effect from this class, the DC equals your cleric spell save DC.</p>
			<p>Beginning at 6th level, you can use your Channel Divinity twice between rests, and beginning at 18th level, you can use it three times between rests. When you finish a short or long rest, you regain your expended uses.</p>
			<h3 id="channel-divinity-turn-undead">Channel Divinity: Turn Undead</h3>
			<p>As an action, you present your holy symbol and speak a prayer censuring the undead. Each undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving throw, it is turned for 1 minute or until
				it takes any damage.</p>
			<p>A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take reactions. For its action, it can use only the Dash action or try to escape from
				an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="destroy-undead">Destroy Undead</h2>
			<p>Starting at 5th level, when an undead fails its saving throw against your Turn Undead feature, the creature is instantly destroyed if its challenge rating is at or below a certain threshold, as shown in the table below.</p>
			<table>
				<colgroup>
					<col style="width: 37%" />
					<col style="width: 50%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Cleric Level</th>
						<th style="text-align: left;">Destroys Undead of CR...</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">
							<blockquote>
								<p>5th</p>
							</blockquote>
						</td>
						<td style="text-align: left;">
							<blockquote>
								<p>1/2 or lower</p>
							</blockquote>
						</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<blockquote>
								<p>8th</p>
							</blockquote>
						</td>
						<td style="text-align: left;">
							<blockquote>
								<p>1 or lower</p>
							</blockquote>
						</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">
							<blockquote>
								<p>11th</p>
							</blockquote>
						</td>
						<td style="text-align: left;">
							<blockquote>
								<p>2 or lower</p>
							</blockquote>
						</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">
							<blockquote>
								<p>14th</p>
							</blockquote>
						</td>
						<td style="text-align: left;">
							<blockquote>
								<p>3 or lower</p>
							</blockquote>
						</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">
							<blockquote>
								<p>17th</p>
							</blockquote>
						</td>
						<td style="text-align: left;">
							<blockquote>
								<p>4 or lower</p>
							</blockquote>
						</td>
					</tr>
				</tbody>
			</table>
			<h2 id="divine-intervention">Divine Intervention</h2>
			<p>Beginning at 10th level, you can call on your deity to intervene on your behalf when your need is great.</p>
			<p>Imploring your deity's aid requires you to use your action. Describe the assistance you seek, and roll percentile dice. If you roll a number equal to or lower than your cleric level, your deity intervenes. The GM chooses the nature of the intervention;
				the effect of any cleric spell or cleric domain spell would be appropriate.</p>
			<p>If your deity intervenes, you can't use this feature again for 7 days. Otherwise, you can use it again after you finish a long rest.</p>
			<p>At 20th level, your call for intervention succeeds automatically, no roll required.</p>
			<h1 id="cleric-domains">Cleric Domains</h1>
			<h2 id="life-domain">Life Domain</h2>
			<p>The Life domain focuses on the vibrant positive energy---one of the fundamental forces of the universe---that sustains all life. The gods of life promote vitality and health through healing the sick and wounded, caring for those in need, and driving
				away the forces of death and undeath. Almost any non-evil deity can claim influence over this domain, particularly agricultural deities (such as Chauntea, Arawai, and Demeter), sun gods (such as Lathander, Pelor, and Re-Horakhty), gods of healing
				or endurance (such as Ilmater, Mishakal, Apollo, and Diancecht), and gods of home and community (such as Hestia, Hathor, and Boldrei).</p>
			<h3 id="life-domain-spells">Life Domain Spells</h3>
			<table>
				<colgroup>
					<col style="width: 19%" />
					<col style="width: 80%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Cleric Level</th>
						<th style="text-align: left;">Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">bless, cure-wounds</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">lesser-restoration, spiritual-weapon</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">beacon-of-hope, revivify</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">death-ward, guardian-of-faith</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">mass-cure-wounds, raise-dead</td>
					</tr>
				</tbody>
			</table>
			<h3 id="bonus-proficiency">Bonus Proficiency</h3>
			<p>When you choose this domain at 1st level, you gain proficiency with heavy armor.</p>
			<h3 id="disciple-of-life">Disciple of Life</h3>
			<p>Also starting at 1st level, your healing spells are more effective. Whenever you use a spell of 1st level or higher to restore hit points to a creature, the creature regains additional hit points equal to 2 + the spell's level.</p>
			<h3 id="channel-divinity-preserve-life">Channel Divinity: Preserve Life</h3>
			<p>Starting at 2nd level, you can use your Channel Divinity to heal the badly injured.</p>
			<p>As an action, you present your holy symbol and evoke healing energy that can restore a number of hit points equal to five times your cleric level. Choose any creatures within 30 feet of you, and divide those hit points among them. This feature can
				restore a creature to no more than half of its hit point maximum. You can't use this feature on an undead or a construct.</p>
			<h3 id="blessed-healer">Blessed Healer</h3>
			<p>Beginning at 6th level, the healing spells you cast on others heal you as well. When you cast a spell of 1st level or higher that restores hit points to a creature other than you, you regain hit points equal to 2 + the spell's level.</p>
			<h3 id="divine-strike">Divine Strike</h3>
			<p>At 8th level, you gain the ability to infuse your weapon strikes with divine energy. Once on each of your turns when you hit a creature with a weapon attack, you can cause the attack to deal an extra 1d8 radiant damage to the target. When you reach
				14th level, the extra damage increases to 2d8.</p>
			<h3 id="supreme-healing">Supreme Healing</h3>
			<p>Starting at 17th level, when you would normally roll one or more dice to restore hit points with a spell, you instead use the highest number possible for each die. For example, instead of restoring 2d6 hit points to a creature, you restore 12.</p>
		</div>
	</div>
</div>
