<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Druid</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a druid, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per druid level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per druid level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor, medium armor, shields (druids will not wear armor or use shields made of metal)</p>
			<p><strong>Weapons:</strong> Clubs, daggers, darts, javelins, maces, quarterstaffs, scimitars, sickles, slings, spears</p>
			<p><strong>Tools:</strong> Herbalism kit</p>
			<p><strong>Saving Throws:</strong> Intelligence, Wisdom</p>
			<p><strong>Skills:</strong> Choose two from Arcana, Animal Handling,</p>
			<p>Insight, Medicine, Nature, Perception, Religion, and Survival</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a wooden shield or (<em>b</em>) any simple weapon</li>
				<li>(<em>a</em>) a scimitar or (<em>b</em>) any simple melee weapon</li>
				<li>Leather armor, an explorer's pack, and a druidic focus</li>
			</ul>
			<h2 id="the-druid">The Druid</h2>
			<table>
				<colgroup>
					<col style="width: 6%" />
					<col style="width: 10%" />
					<col style="width: 32%" />
					<col style="width: 8%" />
					<col style="width: 41%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips + Known</th>
						<th style="text-align: left;">---Spell Slots per Spell Level--- -----+-----+-----+-----+-----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th | 6th | 7th | 8th | 9th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Druidic, Spellcasting</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Wild Shape, Druid Circle</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">3 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Wild Shape Improvement, Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | --- | --- | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Druid Circle feature</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Wild Shape Improvement, Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | --- | --- | --- | --- | --- | | | | | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Druid Circle feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Druid Circle feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Timeless Body, Beast Spells</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Archdruid</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 2 | 1 | 1</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="druidic">Druidic</h2>
			<p>You know Druidic, the secret language of druids. You can speak the language and use it to leave hidden messages. You and others who know this language automatically spot such a message. Others spot the message's presence with a successful DC 15 Wisdom</p>
			<p>(Perception) check but can't decipher it without magic.</p>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>Drawing on the divine essence of nature itself, you can cast spells to shape that essence to your will.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>At 1st level, you know two cantrips of your choice from the druid-spells list. You learn additional druid cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Druid table.</p>
			<h3 id="preparing-and-casting-spells">Preparing and Casting Spells</h3>
			<p>The Druid table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these druid spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
			<p>You prepare the list of druid spells that are available for you to cast, choosing from the druid-spells list. When you do so, choose a number of druid spells equal to your Wisdom modifier + your druid level (minimum of one spell). The spells must be
				of a level for which you have spell slots.</p>
			<p>For example, if you are a 3rd-level druid, you have four 1st-level and two 2nd-level spell slots. With a Wisdom of 16, your list of prepared spells can a include six spells of 1st or 2nd level, in any combination. If you prepare the 1st-level spell
				<em>cure wounds,</em> you can cast it using a 1st-level or 2nd-level slot. Casting the spell doesn't remove it from your list of prepared spells.</p>
			<p>You can also change your list of prepared spells when you finish a long rest. Preparing a new list of druid spells requires time spent in prayer and meditation: at least 1 minute per spell level for each spell on your list.</p>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use a druidic focus (see adventuring-gear) as a spellcasting focus for your druid spells.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Wisdom is your spellcasting ability for your druid spells, since your magic draws upon your devotion and attunement to nature. You use your Wisdom whenever a spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when
				setting the saving throw DC for a druid spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Wisdom modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Wisdom modifier</p>
			</blockquote>
			<h3 id="ritual-casting">Ritual Casting</h3>
			<p>You can cast a druid spell as a ritual if that spell has the ritual tag and you have the spell prepared.</p>
			<h2 id="wild-shape">Wild Shape</h2>
			<p>Starting at 2nd level, you can use your action to magically assume the shape of a beast that you have seen before. You can use this feature twice. You regain expended uses when you finish a short or long rest.</p>
			<p>Your druid level determines the beasts you can transform into, as shown in the Beast Shapes table. At 2nd level, for example, you can transform into any beast that has a challenge rating of 1/4 or lower that doesn't have a flying or swimming speed.</p>
			<h3 id="beast-shapes">Beast Shapes</h3>
			<table>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">CR</th>
						<th style="text-align: left;">Limitations</th>
						<th style="text-align: left;">Example</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">1/4</td>
						<td style="text-align: left;">No flying or swimming speed</td>
						<td style="text-align: left;">Wolf</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">1/2</td>
						<td style="text-align: left;">No flying speed</td>
						<td style="text-align: left;">Crocodile</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">1</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">Giant eagle</td>
					</tr>
				</tbody>
			</table>
			<p>You can stay in a beast shape for a number of hours equal to half your druid level (rounded down). You then revert to your normal form unless you expend another use of this feature. You can revert to your normal form earlier by using a bonus action
				on your turn. You automatically revert if you fall unconscious, drop to 0 hit points, or die.</p>
			<p>While you are transformed, the following rules apply:</p>
			<ul>
				<li>Your game statistics are replaced by the statistics of the beast, but you retain your alignment, personality, and Intelligence, Wisdom, and Charisma scores. You also retain all of your skill and saving throw proficiencies, in addition to gaining those
					of the creature. If the creature has the same proficiency as you and the bonus in its stat block is higher than yours, use the creature's bonus instead of yours. If the creature has any legendary or lair actions, you can't use them.</li>
				<li>When you transform, you assume the beast's hit points and Hit Dice. When you revert to your normal form, you return to the number of hit points you had before you transformed. However, if you revert as a result of dropping to 0 hit points, any excess
					damage carries over to your normal form. For example, if you take 10 damage in animal form and have only 1 hit point left, you revert and take 9 damage. As long as the excess damage doesn't reduce your normal form to 0 hit points, you aren't knocked
					unconscious.
				</li>
				<li>You can't cast spells, and your ability to speak or take any action that requires hands is limited to the capabilities of your beast form. Transforming doesn't break your concentration on a spell you've already cast, however, or prevent you from taking
					actions that are part of a spell, such as <em>call lightning</em>, that you've already cast.</li>
				<li>You retain the benefit of any features from your class, race, or other source and can use them if the new form is physically capable of doing so. However, you can't use any of your special senses, such as darkvision, unless your new form also has
					that sense.
				</li>
				<li>You choose whether your equipment falls to the ground in your space, merges into your new form, or is worn by it. Worn equipment functions as normal, but the GM decides whether it is practical for the new form to wear a piece of equipment, based on
					the creature's shape and size. Your equipment doesn't change size or shape to match the new form, and any equipment that the new form can't wear must either fall to the ground or merge with it. Equipment that merges with the form has no effect until
					you leave the form.</li>
			</ul>
			<h2 id="druid-circle">Druid Circle</h2>
			<p>At 2nd level, you choose to identify with a circle of druids, such as the Circle of the Land. Your choice grants you features at 2nd level and again at 6th, 10th, and 14th level.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="timeless-body">Timeless Body</h2>
			<p>Starting at 18th level, the primal magic that you wield causes you to age more slowly. For every 10 years that pass, your body ages only 1 year.</p>
			<h2 id="beast-spells">Beast Spells</h2>
			<p>Beginning at 18th level, you can cast many of your druid spells in any shape you assume using Wild Shape. You can perform the somatic and verbal</p>
			<p>components of a druid spell while in a beast shape, but you aren't able to provide material components.</p>
			<h2 id="archdruid">Archdruid</h2>
			<p>At 20th level, you can use your Wild Shape an unlimited number of times.</p>
			<p>Additionally, you can ignore the verbal and somatic components of your druid spells, as well as any material components that lack a cost and aren't consumed by a spell. You gain this benefit in both your normal shape and your beast shape from Wild
				Shape.</p>
			<h1 id="druid-circles">Druid Circles</h1>
			<h2 id="circle-of-the-land">Circle of the Land</h2>
			<p>The Circle of the Land is made up of mystics and sages who safeguard ancient knowledge and rites through a vast oral tradition. These druids meet within sacred circles of trees or standing stones to whisper primal secrets in Druidic. The circle's wisest
				members preside as the chief priests of communities that hold to the Old Faith and serve as advisors to the rulers of those folk. As a member of this circle, your magic is influenced by the land where you were initiated into the circle's mysterious
				rites.
			</p>
			<h3 id="bonus-cantrip">Bonus Cantrip</h3>
			<p>When you choose this circle at 2nd level, you learn one additional druid cantrip of your choice.</p>
			<h3 id="natural-recovery">Natural Recovery</h3>
			<p>Starting at 2nd level, you can regain some of your magical energy by sitting in meditation and communing with nature. During a short rest, you choose expended spell slots to recover. The spell slots can have a combined level that is equal to or less
				than half your druid level (rounded up), and none of the slots can be 6th level or higher. You can't use this feature again until you finish a long rest.</p>
			<p>For example, when you are a 4th-level druid, you can recover up to two levels worth of spell slots. You can recover either a 2nd-level slot or two 1st-level slots.</p>
			<h3 id="circle-spells">Circle Spells</h3>
			<p>Your mystical connection to the land infuses you with the ability to cast certain spells. At 3rd, 5th, 7th, and 9th level you gain access to circle spells connected to the land where you became a druid. Choose that land---arctic, coast, desert, forest,
				grassland, mountain, or swamp---and consult the associated list of spells.</p>
			<p>Once you gain access to a circle spell, you always have it prepared, and it doesn't count against the number of spells you can prepare each day. If you gain access to a spell that doesn't appear on the druid spell list, the spell is nonetheless a druid
				spell for you.</p>
			<h4 id="arctic">Arctic</h4>
			<table>
				<colgroup>
					<col style="width: 24%" />
					<col style="width: 75%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">hold-person, spike-growth</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">sleet-storm, slow</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">freedom-of-movement, ice-storm</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">commune-with-nature, cone-of-cold</td>
					</tr>
				</tbody>
			</table>
			<h4 id="coast">Coast</h4>
			<table>
				<colgroup>
					<col style="width: 20%" />
					<col style="width: 79%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">mirror-image, misty-step</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">water-breathing, water-walk</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">control-water, freedom-of-movement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">conjure-elemental, scrying</td>
					</tr>
				</tbody>
			</table>
			<h4 id="desert">Desert</h4>
			<table>
				<colgroup>
					<col style="width: 21%" />
					<col style="width: 78%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">blur, silence</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">create-food-and-water, protection-from-energy</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">blight, hallucinatory-terrain</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">insect-plague, wall-of-stone</td>
					</tr>
				</tbody>
			</table>
			<h4 id="forest">Forest</h4>
			<table>
				<colgroup>
					<col style="width: 22%" />
					<col style="width: 77%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">barkskin, spider-climb</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">call-lightning, plant-growth</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">divination, freedom-of-movement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">commune-with-nature, tree-stride</td>
					</tr>
				</tbody>
			</table>
			<h4 id="grassland">Grassland</h4>
			<table>
				<colgroup>
					<col style="width: 22%" />
					<col style="width: 77%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">invisibility, pass-without-trace</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">daylight, haste</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">divination, freedom-of-movement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">dream, insect-plague</td>
					</tr>
				</tbody>
			</table>
			<h4 id="mountain">Mountain</h4>
			<table>
				<colgroup>
					<col style="width: 22%" />
					<col style="width: 77%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">spider-climb, spike-growth</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">lightning-bolt, meld-into-stone</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">stone-shape, stoneskin</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">passwall, wall-of-stone</td>
					</tr>
				</tbody>
			</table>
			<h4 id="swamp">Swamp</h4>
			<table>
				<colgroup>
					<col style="width: 22%" />
					<col style="width: 77%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Druid Level</th>
						<th style="text-align: left;">Circle Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">acid-arrow, darkness</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">water-walk, stinking-cloud</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">freedom-of-movement, locate-creature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">insect-plague, scrying</td>
					</tr>
				</tbody>
			</table>
			<h3 id="lands-stride">Land's Stride</h3>
			<p>Starting at 6th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.</p>
			<p>In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell.</p>
			<h3 id="natures-ward">Nature's Ward</h3>
			<p>When you reach 10th level, you can't be charmed or frightened by elementals or fey, and you are immune to poison and disease.</p>
			<h3 id="natures-sanctuary">Nature's Sanctuary</h3>
			<p>When you reach 14th level, creatures of the natural world sense your connection to nature and become hesitant to attack you. When a beast or plant creature attacks you, that creature must make a Wisdom saving throw against your druid spell save DC.
				On a failed save, the creature must choose a different target, or the attack automatically misses. On a successful save, the creature is immune to this effect for 24 hours. The creature is aware of this effect before it makes its attack against you.</p>
			<h1 id="druid-traditions">Druid Traditions</h1>
			<h2 id="sacred-plants-and-wood">Sacred Plants and Wood</h2>
			<p>A druid holds certain plants to be sacred, particularly alder, ash, birch, elder, hazel, holly, juniper, mistletoe, oak, rowan, willow, and yew. Druids often use such plants as part of a spellcasting focus, incorporating lengths of oak or yew or sprigs
				of mistletoe.</p>
			<p>Similarly, a druid uses such woods to make other objects, such as weapons and shields. Yew is associated with death and rebirth, so weapon handles for scimitars or sickles might be fashioned from it. Ash is associated with life and oak with strength.
				These woods make excellent hafts or whole weapons, such as clubs or quarterstaffs, as well as shields. Alder is associated with air, and it might be used for thrown weapons, such as darts or javelins.</p>
			<p>Druids from regions that lack the plants described here have chosen other plants to take on similar uses. For instance, a druid of a desert region might value the yucca tree and cactus plants.</p>
			<h2 id="druids-and-the-gods">Druids and the Gods</h2>
			<p>Some druids venerate the forces of nature themselves, but most druids are devoted to one of the many nature deities worshiped in the multiverse (the lists of gods in fantasy-historical-pantheons include many such deities). The worship of these deities
				is often considered a more ancient tradition than the faiths of clerics and urbanized peoples.</p>
		</div>
	</div>
</div>
