<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Fighter</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a fighter, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d10 per fighter level</p>
			<p><strong>Hit Points at 1st Level:</strong> 10 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d10 (or 6) + your Constitution modifier per fighter level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> All armor, shields</p>
			<p><strong>Weapons:</strong> Simple weapons, martial weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Strength, Constitution</p>
			<p><strong>Skills:</strong> Choose two skills from Acrobatics, Animal</p>
			<p>Handling, Athletics, History, Insight, Intimidation, Perception, and Survival</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) chain mail or (<em>b</em>) leather armor, longbow, and 20 arrows</li>
				<li>(<em>a</em>) a martial weapon and a shield or (<em>b</em>) two martial weapons</li>
				<li>(<em>a</em>) a light crossbow and 20 bolts or (<em>b</em>) two handaxes</li>
				<li>(<em>a</em>) a dungeoneer's pack or (<em>b</em>) an explorer's pack</li>
			</ul>
			<h2 id="the-fighter">The Fighter</h2>
			<table>
				<colgroup>
					<col style="width: 11%" />
					<col style="width: 29%" />
					<col style="width: 36%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Class Features</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Fighting Style, Second Wind</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Action Surge (one use)</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Martial Archetype</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Extra Attack</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Martial Archetype feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Indomitable (one use)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Martial Archetype feature</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Extra Attack (2)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Indomitable (two uses)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Martial Archetype feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Action Surge (two uses), Indomitable (three uses)</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Martial Archetype feature</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Extra Attack (3)</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="fighting-style">Fighting Style</h2>
			<p>You adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
			<h3 id="archery">Archery</h3>
			<p>You gain a +2 bonus to attack rolls you make with ranged weapons.</p>
			<h3 id="defense">Defense</h3>
			<p>While you are wearing armor, you gain a +1 bonus to AC.</p>
			<h3 id="dueling">Dueling</h3>
			<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
			<h3 id="great-weapon-fighting">Great Weapon Fighting</h3>
			<p>When you roll a 1 or 2 on a damage die for an attack you make with a melee weapon that you are wielding with two hands, you can reroll the die and must use the new roll, even if the new roll is a 1 or a 2. The weapon must have the two-handed or versatile
				property for you to gain this benefit.</p>
			<h3 id="protection">Protection</h3>
			<p>When a creature you can see attacks a target other than you that is within 5 feet of you, you can use your reaction to impose disadvantage on the attack roll. You must be wielding a shield.</p>
			<h3 id="two-weapon-fighting">Two-Weapon Fighting</h3>
			<p>When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack.</p>
			<h2 id="second-wind">Second Wind</h2>
			<p>You have a limited well of stamina that you can draw on to protect yourself from harm. On your turn, you can use a bonus action to regain hit points equal to 1d10 + your fighter level. Once you use this feature, you must finish a short or long rest
				before you can use it again.</p>
			<h2 id="action-surge">Action Surge</h2>
			<p>Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action on top of your regular action and a possible bonus action.</p>
			<p>Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn.</p>
			<h2 id="martial-archetype">Martial Archetype</h2>
			<p>At 3rd level, you choose an archetype that you strive to emulate in your combat styles and techniques, such as Champion. The archetype you choose grants you features at 3rd level and again at 7th, 10th, 15th, and 18th level.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 6th, 8th, 12th, 14th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above
				20 using this feature.</p>
			<h2 id="extra-attack">Extra Attack</h2>
			<p>Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.</p>
			<p>The number of attacks increases to three when you reach 11th level in this class and to four when you reach 20th level in this class.</p>
			<h2 id="indomitable">Indomitable</h2>
			<p>Beginning at 9th level, you can reroll a saving throw that you fail. If you do so, you must use the new roll, and you can't use this feature again until you finish a long rest.</p>
			<p>You can use this feature twice between long rests starting at 13th level and three times between long rests starting at 17th level.</p>
			<h1 id="martial-archetypes">Martial Archetypes</h1>
			<p>Different fighters choose different approaches to perfecting their fighting prowess. The martial archetype you choose to emulate reflects your approach.</p>
			<h2 id="champion">Champion</h2>
			<p>The archetypal Champion focuses on the development of raw physical power honed to deadly perfection. Those who model themselves on this archetype combine rigorous training with physical excellence to deal devastating blows.</p>
			<h3 id="improved-critical">Improved Critical</h3>
			<p>Beginning when you choose this archetype at 3rd level, your weapon attacks score a critical hit on a roll of 19 or 20.</p>
			<h3 id="remarkable-athlete">Remarkable Athlete</h3>
			<p>Starting at 7th level, you can add half your proficiency bonus (round up) to any Strength, Dexterity, or Constitution check you make that doesn't already use your proficiency bonus.</p>
			<p>In addition, when you make a running long jump, the distance you can cover increases by a number of feet equal to your Strength modifier.</p>
			<h3 id="additional-fighting-style">Additional Fighting Style</h3>
			<p>At 10th level, you can choose a second option from the Fighting Style class feature.</p>
			<h3 id="superior-critical">Superior Critical</h3>
			<p>Starting at 15th level, your weapon attacks score a critical hit on a roll of 18-20.</p>
			<h3 id="survivor">Survivor</h3>
			<p>At 18th level, you attain the pinnacle of resilience in battle. At the start of each of your turns, you regain hit points equal to 5 + your Constitution modifier if you have no more than half of your hit points left. You don't gain this benefit if
				you have 0 hit points.</p>
		</div>
	</div>
</div>
