<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Monk</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a monk, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per monk level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per monk level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> None</p>
			<p><strong>Weapons:</strong> Simple weapons, shortswords</p>
			<p><strong>Tools:</strong> Choose one type of artisan's tools or one musical instrument</p>
			<p><strong>Saving Throws:</strong> Strength, Dexterity</p>
			<p><strong>Skills:</strong> Choose two from Acrobatics, Athletics,</p>
			<p>History, Insight, Religion, and Stealth</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a shortsword or (<em>b</em>) any simple weapon</li>
				<li>(<em>a</em>) a dungeoneer's pack or (<em>b</em>) an explorer's pack</li>
				<li>10 darts</li>
			</ul>
			<h2 id="the-monk">The Monk</h2>
			<table>
				<colgroup>
					<col style="width: 6%" />
					<col style="width: 15%" />
					<col style="width: 11%" />
					<col style="width: 9%" />
					<col style="width: 15%" />
					<col style="width: 42%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Martial Arts</th>
						<th style="text-align: left;">Ki Points</th>
						<th style="text-align: left;">Unarmored Movement</th>
						<th style="text-align: left;">Features</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">Unarmored Defense, Martial Arts</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d4</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">+10 ft.</td>
						<td style="text-align: left;">Ki, Unarmored Movement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d4</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">+10 ft.</td>
						<td style="text-align: left;">Monastic Tradition, Deflect Missiles</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d4</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">+10 ft.</td>
						<td style="text-align: left;">Ability Score Improvement, Slow Fall</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">+10 ft.</td>
						<td style="text-align: left;">Extra Attack, Stunning Strike</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">+15 ft.</td>
						<td style="text-align: left;">Ki-Empowered Strikes, Monastic Tradition feature</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">+15 ft.</td>
						<td style="text-align: left;">Evasion, Stillness of Mind</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">+15 ft.</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">+15 ft.</td>
						<td style="text-align: left;">Unarmored Movement improvement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">+20 ft.</td>
						<td style="text-align: left;">Purity of Body</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">+20 ft.</td>
						<td style="text-align: left;">Monastic Tradition feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">+20 ft.</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">+20 ft.</td>
						<td style="text-align: left;">Tongue of the Sun and Moon</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">+25 ft.</td>
						<td style="text-align: left;">Diamond Soul</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">+25 ft.</td>
						<td style="text-align: left;">Timeless Body</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">1d8</td>
						<td style="text-align: left;">16</td>
						<td style="text-align: left;">+25 ft.</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">1d10</td>
						<td style="text-align: left;">17</td>
						<td style="text-align: left;">+25 ft.</td>
						<td style="text-align: left;">Monastic Tradition feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">1d10</td>
						<td style="text-align: left;">18</td>
						<td style="text-align: left;">+30 ft.</td>
						<td style="text-align: left;">Empty Body</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">1d10</td>
						<td style="text-align: left;">19</td>
						<td style="text-align: left;">+30 ft.</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">1d10</td>
						<td style="text-align: left;">20</td>
						<td style="text-align: left;">+30 ft.</td>
						<td style="text-align: left;">Perfect Self</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="unarmored-defense">Unarmored Defense</h2>
			<p>Beginning at 1st level, while you are wearing no armor and not wielding a shield, your AC equals 10 + your Dexterity modifier + your Wisdom modifier.</p>
			<h2 id="martial-arts">Martial Arts</h2>
			<p>At 1st level, your practice of martial arts gives you mastery of combat styles that use unarmed strikes and monk weapons, which are shortswords and any simple melee weapons that don't have the two-handed or heavy property.</p>
			<p>You gain the following benefits while you are unarmed or wielding only monk weapons and you aren't wearing armor or wielding a shield:</p>
			<ul>
				<li>You can use Dexterity instead of Strength for the attack and damage rolls of your unarmed strikes and monk weapons.</li>
				<li>You can roll a d4 in place of the normal damage of your unarmed strike or monk weapon. This die changes as you gain monk levels, ashown in the Martial Arts column of the Monk table.</li>
				<li>When you use the Attack action with an unarmed strike or a monk weapon on your turn, you can make one unarmed strike as a bonus action. For example, if you take the Attack action and attack with a quarterstaff, you can also make an unarmed strike
					as a bonus action, assuming you haven't already taken a bonus action this turn.</li>
			</ul>
			<p>Certain monasteries use specialized forms of the monk weapons. For example, you might use a club that is two lengths of wood connected by a short chain (called a nunchaku) or a sickle with a shorter, straighter blade (called a kama). Whatever name
				you use for a monk weapon, you can use the game statistics provided for the weapon.</p>
			<h2 id="ki">Ki</h2>
			<p>Starting at 2nd level, your training allows you to harness the mystic energy of ki. Your access to this energy is represented by a number of ki points. Your monk level determines the number of points you have, as shown in the Ki Points column of the
				Monk table.
			</p>
			<h2 id="unarmored-movement">Unarmored Movement</h2>
			<p>Starting at 2nd level, your speed increases by 10 feet while you are not wearing armor or wielding a shield. This bonus increases when you reach certain monk levels, as shown in the Monk table.</p>
			<p>At 9th level, you gain the ability to move along vertical surfaces and across liquids on your turn without falling during the move.</p>
			<h2 id="monastic-tradition">Monastic Tradition</h2>
			<p>When you reach 3rd level, you commit yourself to a monastic tradition, such as the Way of the Open Hand. Your tradition grants you features at 3rd level and again at 6th, 11th, and 17th level.</p>
			<h2 id="ki-features">Ki Features</h2>
			<p>You can spend these points to fuel various ki features. You start knowing three such features: Flurry of Blows, Patient Defense, and Step of the Wind. You learn more ki features as you gain levels in this class.</p>
			<p>When you spend a ki point, it is unavailable until you finish a short or long rest, at the end of which you draw all of your expended ki back into yourself. You must spend at least 30 minutes of the rest meditating to regain your ki points.</p>
			<p>Some of your ki features require your target to make a saving throw to resist the feature's effects. The saving throw DC is calculated as follows:</p>
			<blockquote>
				<p><strong>Ki save DC</strong> = 8 + your proficiency bonus + your Wisdom modifier</p>
			</blockquote>
			<h3 id="flurry-of-blows">Flurry of Blows</h3>
			<p>Immediately after you take the Attack action on your turn, you can spend 1 ki point to make two unarmed strikes as a bonus action.</p>
			<h3 id="patient-defense">Patient Defense</h3>
			<p>You can spend 1 ki point to take the Dodge action as a bonus action on your turn.</p>
			<h3 id="step-of-the-wind">Step of the Wind</h3>
			<p>You can spend 1 ki point to take the Disengage or Dash action as a bonus action on your turn, and your jump distance is doubled for the turn.</p>
			<h3 id="deflect-missiles">Deflect Missiles</h3>
			<p>Starting at 3rd level, you can use your reaction to deflect or catch the missile when you are hit by a ranged weapon attack. When you do so, the damage you take from the attack is reduced by 1d10 + your Dexterity modifier + your monk level.</p>
			<p>If you reduce the damage to 0, you can catch the missile if it is small enough for you to hold in one hand and you have at least one hand free. If you catch a missile in this way, you can spend 1 ki point to make a ranged attack with the weapon or
				piece of ammunition you just caught, as part of the same reaction. You make this attack with proficiency, regardless of your weapon proficiencies, and the missile counts as a monk weapon for the attack, which has a normal range of 20 feet and a long
				range of 60 feet.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="slow-fall">Slow Fall</h2>
			<p>Beginning at 4th level, you can use your reaction when you fall to reduce any falling damage you take by an amount equal to five times your monk level.</p>
			<h2 id="extra-attack">Extra Attack</h2>
			<p>Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.</p>
			<h2 id="stunning-strike">Stunning Strike</h2>
			<p>Starting at 5th level, you can interfere with the flow of ki in an opponent's body. When you hit another creature with a melee weapon attack, you can spend 1 ki point to attempt a stunning strike. The target must succeed on a Constitution saving throw
				or be stunned until the end of your next turn.</p>
			<h2 id="ki-empowered-strikes">Ki-Empowered Strikes</h2>
			<p>Starting at 6th level, your unarmed strikes count as magical for the purpose of overcoming resistance and immunity to nonmagical attacks and damage.</p>
			<h2 id="evasion">Evasion</h2>
			<p>At 7th level, your instinctive agility lets you dodge out of the way of certain area effects, such as a blue dragon's lightning breath or a fireball spell. When you are subjected to an effect that allows you to make a Dexterity saving throw to take
				only half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail.</p>
			<h2 id="stillness-of-mind">Stillness of Mind</h2>
			<p>Starting at 7th level, you can use your action to end one effect on yourself that is causing you to be charmed or frightened.</p>
			<h2 id="purity-of-body">Purity of Body</h2>
			<p>At 10th level, your mastery of the ki flowing through you makes you immune to disease and poison.</p>
			<h2 id="tongue-of-the-sun-and-moon">Tongue of the Sun and Moon</h2>
			<p>Starting at 13th level, you learn to touch the ki of other minds so that you understand all spoken languages. Moreover, any creature that can understand a language can understand what you say.</p>
			<h2 id="diamond-soul">Diamond Soul</h2>
			<p>Beginning at 14th level, your mastery of ki grants you proficiency in all saving throws.</p>
			<p>Additionally, whenever you make a saving throw and fail, you can spend 1 ki point to reroll it and take the second result.</p>
			<h2 id="timeless-body">Timeless Body</h2>
			<p>At 15th level, your ki sustains you so that you suffer none of the frailty of old age, and you can't be aged magically. You can still die of old age, however. In addition, you no longer need food or water.</p>
			<h2 id="empty-body">Empty Body</h2>
			<p>Beginning at 18th level, you can use your action to spend 4 ki points to become invisible for 1 minute. During that time, you also have resistance to all damage but force damage.</p>
			<p>Additionally, you can spend 8 ki points to cast the <em>astral projection</em> spell, without needing material components. When you do so, you can't take any other creatures with you.</p>
			<h2 id="perfect-self">Perfect Self</h2>
			<p>At 20th level, when you roll for initiative and have no ki points remaining, you regain 4 ki points.</p>
			<h1 id="monastic-traditions">Monastic Traditions</h1>
			<p>Three traditions of monastic pursuit are common in the monasteries scattered across the multiverse. Most monasteries practice one tradition exclusively, but a few honor the three traditions and instruct each monk according to his or her aptitude and
				interest. All three traditions rely on the same basic techniques, diverging as the student grows more adept. Thus, a monk need choose a tradition only upon reaching 3rd level.</p>
			<h2 id="way-of-the-open-hand">Way of the Open Hand</h2>
			<p>Monks of the Way of the Open Hand are the ultimate masters of martial arts combat, whether armed or unarmed. They learn techniques to push and trip their opponents, manipulate ki to heal damage to their bodies, and practice advanced meditation that
				can protect them from harm.</p>
			<h3 id="open-hand-technique">Open Hand Technique</h3>
			<p>Starting when you choose this tradition at 3rd level, you can manipulate your enemy's ki when you harness your own. Whenever you hit a creature with one of the attacks granted by your Flurry of Blows, you can impose one of the following effects on
				that target:
			</p>
			<ul>
				<li>It must succeed on a Dexterity saving throw or be knocked prone.</li>
				<li>It must make a Strength saving throw. If it fails, you can push it up to 15 feet away from you.</li>
				<li>It can't take reactions until the end of your next turn.</li>
			</ul>
			<h3 id="wholeness-of-body">Wholeness of Body</h3>
			<p>At 6th level, you gain the ability to heal yourself. As an action, you can regain hit points equal to three times your monk level. You must finish a long rest before you can use this feature again.</p>
			<h3 id="tranquility">Tranquility</h3>
			<p>Beginning at 11th level, you can enter a special meditation that surrounds you with an aura of peace. At the end of a long rest, you gain the effect of a sanctuary spell that lasts until the start of your next long rest (the spell can end early as
				normal). The saving throw DC for the spell equals 8 + your Wisdom modifier + your proficiency bonus.</p>
			<h3 id="quivering-palm">Quivering Palm</h3>
			<p>At 17th level, you gain the ability to set up lethal vibrations in someone's body. When you hit a creature with an unarmed strike, you can spend 3 ki points to start these imperceptible vibrations, which last for a number of days equal to your monk
				level. The vibrations are harmless unless you use your action to end them. To do so, you and the target must be on the same plane of existence. When you use this action, the creature must make a Constitution saving throw. If it fails, it is reduced
				to 0 hit points. If it succeeds, it takes 10d10 necrotic damage.</p>
			<p>You can have only one creature under the effect of this feature at a time. You can choose to end the vibrations harmlessly without using an action.</p>
		</div>
	</div>
</div>
