<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Paladin</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a paladin, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d10 per paladin level</p>
			<p><strong>Hit Points at 1st Level:</strong> 10 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d10 (or 6) + your Constitution modifier per paladin level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> All armor, shields</p>
			<p><strong>Weapons:</strong> Simple weapons, martial weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Wisdom, Charisma</p>
			<p><strong>Skills:</strong> Choose two from Athletics, Insight, Intimidation, Medicine, Persuasion, and Religion</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a martial weapon and a shield or (<em>b</em>) two martial weapons</li>
				<li>(<em>a</em>) five javelins or (<em>b</em>) any simple melee weapon</li>
				<li>(<em>a</em>) a priest's pack or (<em>b</em>) an explorer's pack</li>
				<li>Chain mail and a holy symbol</li>
			</ul>
			<h2 id="the-paladin">The Paladin</h2>
			<table>
				<colgroup>
					<col style="width: 8%" />
					<col style="width: 14%" />
					<col style="width: 44%" />
					<col style="width: 31%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">+ Features</th>
						<th style="text-align: left;">Spell Slots per Spell Level -----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Divine Sense, Lay on Hands</td>
						<td style="text-align: left;">--- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Fighting Style, Spellcasting, Divine Smite</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Divine Health, Sacred Oath</td>
						<td style="text-align: left;">3 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Extra Attack</td>
						<td style="text-align: left;">4 | 2 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Aura of Protection</td>
						<td style="text-align: left;">4 | 2 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Sacred Oath feature</td>
						<td style="text-align: left;">4 | 3 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4 | 3 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Aura of Courage</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Improved Divine Smite</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Cleansing Touch</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Sacred Oath feature</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Aura improvements</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Sacred Oath feature</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="divine-sense">Divine Sense</h2>
			<p>The presence of strong evil registers on your senses like a noxious odor, and powerful good rings like heavenly music in your ears. As an action, you can open your awareness to detect such forces. Until the end of your next turn, you know the location
				of any celestial, fiend, or undead within 60 feet of you that is not behind total cover. You know the type (celestial, fiend, or undead) of any being whose presence you sense, but not its identity (the vampire Count Strahd von Zarovich, for instance).
				Within the same radius, you also detect the presence of any place or object that has been consecrated or desecrated, as with the hallow spell.</p>
			<p>You can use this feature a number of times equal to 1 + your Charisma modifier. When you finish a long rest, you regain all expended uses.</p>
			<h2 id="lay-on-hands">Lay on Hands</h2>
			<p>Your blessed touch can heal wounds. You have a pool of healing power that replenishes when you take a long rest. With that pool, you can restore a total number of hit points equal to your paladin level × 5.</p>
			<p>As an action, you can touch a creature and draw power from the pool to restore a number of hit points to that creature, up to the maximum amount remaining in your pool.</p>
			<p>Alternatively, you can expend 5 hit points from your pool of healing to cure the target of one disease or neutralize one poison affecting it. You can cure multiple diseases and neutralize multiple poisons with a single use of Lay on Hands, expending
				hit points separately for each one.</p>
			<p>This feature has no effect on undead and constructs.</p>
			<h2 id="fighting-style">Fighting Style</h2>
			<p>At 2nd level, you adopt a style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
			<h3 id="defense">Defense</h3>
			<p>While you are wearing armor, you gain a +1 bonus to AC.</p>
			<h3 id="dueling">Dueling</h3>
			<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
			<h3 id="great-weapon-fighting">Great Weapon Fighting</h3>
			<p>When you roll a 1 or 2 on a damage die for an attack you make with a melee weapon that you are wielding with two hands, you can reroll the die and must use the new roll. The weapon must have the two-handed or versatile property for you to gain this
				benefit.
			</p>
			<h3 id="protection">Protection</h3>
			<p>When a creature you can see attacks a target other than you that is within 5 feet of you, you can use your reaction to impose disadvantage on the attack roll. You must be wielding a shield.</p>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>By 2nd level, you have learned to draw on divine magic through meditation and prayer to cast spells as a cleric does.</p>
			<h3 id="preparing-and-casting-spells">Preparing and Casting Spells</h3>
			<p>The Paladin table shows how many spell slots you have to cast your spells. To cast one of your paladin spells of 1st level or higher, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long
				rest.</p>
			<p>You prepare the list of paladin spells that are available for you to cast, choosing from the paladin-spells list. When you do so, choose a number of paladin spells equal to your Charisma modifier + half your paladin level, rounded down (minimum of
				one spell). The spells must be of a level for which you have spell slots.</p>
			<p>For example, if you are a 5th-level paladin, you have four 1st-level and two 2nd-level spell slots. With a Charisma of 14, your list of prepared spells can include four spells of 1st or 2nd level, in any combination. If you prepare the 1st-level spell
				<em>cure wounds</em>, you can cast it using a 1st-level or a 2nd-level slot. Casting the spell doesn't remove it from your list of prepared spells.</p>
			<p>You can change your list of prepared spells when you finish a long rest. Preparing a new list of paladin spells requires time spent in prayer and meditation: at least 1 minute per spell level for each spell on your list.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Charisma is your spellcasting ability for your paladin spells, since their power derives from the strength of your convictions. You use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use your Charisma modifier
				when setting the saving throw DC for a paladin spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Charisma modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Charisma modifier</p>
			</blockquote>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use a holy symbol as a spellcasting focus for your paladin spells.</p>
			<h2 id="divine-smite">Divine Smite</h2>
			<p>Starting at 2nd level, when you hit a creature with a melee weapon attack, you can expend one spell slot to deal radiant damage to the target, in addition to the weapon's damage. The extra damage is 2d8 for a 1st-level spell slot, plus 1d8 for each
				spell level higher than 1st, to a maximum of 5d8. The damage increases by 1d8 if the target is an undead or a fiend.</p>
			<h2 id="divine-health">Divine Health</h2>
			<p>By 3rd level, the divine magic flowing through you makes you immune to disease.</p>
			<h2 id="sacred-oath">Sacred Oath</h2>
			<p>When you reach 3rd level, you swear the oath that binds you as a paladin forever. Up to this time you have been in a preparatory stage, committed to the path but not yet sworn to it. Now you choose an oath, such as the Oath of Devotion.</p>
			<p>Your choice grants you features at 3rd level and again at 7th, 15th, and 20th level. Those features include oath spells and the Channel Divinity feature.</p>
			<h2 id="oath-spells">Oath Spells</h2>
			<p>Each oath has a list of associated spells. You gain access to these spells at the levels specified in the oath description. Once you gain access to an oath spell, you always have it prepared. Oath spells don't count against the number of spells you
				can prepare each day.</p>
			<p>If you gain an oath spell that doesn't appear on the paladin spell list, the spell is nonetheless a paladin spell for you.</p>
			<h2 id="channel-divinity">Channel Divinity</h2>
			<p>Your oath allows you to channel divine energy to fuel magical effects. Each Channel Divinity option provided by your oath explains how to use it.</p>
			<p>When you use your Channel Divinity, you choose which option to use. You must then finish a short or long rest to use your Channel Divinity again.</p>
			<p>Some Channel Divinity effects require saving throws. When you use such an effect from this class, the DC equals your paladin spell save DC.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="extra-attack">Extra Attack</h2>
			<p>Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.</p>
			<h2 id="aura-of-protection">Aura of Protection</h2>
			<p>Starting at 6th level, whenever you or a friendly creature within 10 feet of you must make a saving throw, the creature gains a bonus to the saving throw equal to your Charisma modifier (with a minimum bonus of +1). You must be conscious to grant this
				bonus.
			</p>
			<p>At 18th level, the range of this aura increases to 30 feet.</p>
			<h2 id="aura-of-courage">Aura of Courage</h2>
			<p>Starting at 10th level, you and friendly creatures within 10 feet of you can't be frightened while you are conscious.</p>
			<p>At 18th level, the range of this aura increases to 30 feet.</p>
			<h2 id="improved-divine-smite">Improved Divine Smite</h2>
			<p>By 11th level, you are so suffused with righteous might that all your melee weapon strikes carry divine power with them. Whenever you hit a creature with a melee weapon, the creature takes an extra 1d8 radiant damage. If you also use your Divine Smite
				with an attack, you add this damage to the extra damage of your Divine Smite.</p>
			<h2 id="cleansing-touch">Cleansing Touch</h2>
			<p>Beginning at 14th level, you can use your action to end one spell on yourself or on one willing creature that you touch.</p>
			<p>You can use this feature a number of times equal to your Charisma modifier (a minimum of once). You regain expended uses when you finish a long rest.</p>
			<h2 id="sacred-oaths">Sacred Oaths</h2>
			<p>Becoming a paladin involves taking vows that commit the paladin to the cause of righteousness, an active path of fighting wickedness. The final oath, taken when he or she reaches 3rd level, is the culmination of all the paladin's training. Some characters
				with this class don't consider themselves true paladins until they have reached 3rd level and made this oath. For others, the actual swearing of the oath is a formality, an official stamp on what has always been true in the paladin's heart.</p>
			<h1 id="paladin-oaths">Paladin Oaths</h1>
			<h2 id="oath-of-devotion">Oath of Devotion</h2>
			<p>The Oath of Devotion binds a paladin to the loftiest ideals of justice, virtue, and order. Sometimes called cavaliers, white knights, or holy warriors, these paladins meet the ideal of the knight in shining armor, acting with honor in pursuit of justice
				and the greater good. They hold themselves to the highest standards of conduct, and some, for better or worse, hold the rest of the world to the same standards. Many who swear this oath are devoted to gods of law and good and use their gods' tenets
				as the measure of their devotion. They hold angels---the perfect servants of good---as their ideals, and incorporate images of angelic wings into their helmets or coats of arms.</p>
			<h3 id="tenets-of-devotion">Tenets of Devotion</h3>
			<p>Though the exact words and strictures of the Oath of Devotion vary, paladins of this oath share these tenets.</p>
			<p><strong>Honesty.</strong> Don't lie or cheat. Let your word be your promise.</p>
			<p><strong>Courage.</strong> Never fear to act, though caution is wise.</p>
			<p><strong>Compassion.</strong> Aid others, protect the weak, and punish those who threaten them. Show mercy to your foes, but temper it with wisdom.</p>
			<p><strong>Honor.</strong> Treat others with fairness, and let your honorable deeds be an example to them. Do as much good as possible while causing the least amount of harm.</p>
			<p><strong>Duty.</strong> Be responsible for your actions and their consequences, protect those entrusted to your care, and obey those who have just authority over you.</p>
			<h3 id="oath-spells-1">Oath Spells</h3>
			<p>You gain oath spells at the paladin levels listed.</p>
			<h3 id="oath-of-devotion-spells">Oath of Devotion Spells</h3>
			<table>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Paladin Level</th>
						<th style="text-align: left;">Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">protection-from-evil-and-good, sanctuary</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">lesser-restoration, zone-of-truth</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">beacon-of-hope, dispel-magic</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">freedom-of-movement, <em>guardian of faith</em></td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">commune, flame-strike</td>
					</tr>
				</tbody>
			</table>
			<h3 id="channel-divinity-1">Channel Divinity</h3>
			<p>When you take this oath at 3rd level, you gain the following two Channel Divinity options.</p>
			<h4 id="sacred-weapon">Sacred Weapon</h4>
			<p>As an action, you can imbue one weapon that you are holding with positive energy, using your Channel Divinity. For 1 minute, you add your Charisma modifier to attack rolls made with</p>
			<p>that weapon (with a minimum bonus of +1). The weapon also emits bright light in a 20-foot radius and dim light 20 feet beyond that. If the weapon is not already magical, it becomes magical for the duration.</p>
			<p>You can end this effect on your turn as part of any other action. If you are no longer holding or carrying this weapon, or if you fall unconscious, this effect ends.</p>
			<h4 id="turn-the-unholy">Turn the Unholy</h4>
			<p>As an action, you present your holy symbol and speak a prayer censuring fiends and undead, using your Channel Divinity. Each fiend or undead that can see or hear you within 30 feet of you must make a Wisdom saving throw. If the creature fails its saving
				throw, it is turned for 1 minute or until it takes damage.</p>
			<p>A turned creature must spend its turns trying to move as far away from you as it can, and it can't willingly move to a space within 30 feet of you. It also can't take reactions. For its action, it can use only the Dash action or try to escape from
				an effect that prevents it from moving. If there's nowhere to move, the creature can use the Dodge action.</p>
			<h3 id="aura-of-devotion">Aura of Devotion</h3>
			<p>Starting at 7th level, you and friendly creatures within 10 feet of you can't be charmed while you are conscious.</p>
			<p>At 18th level, the range of this aura increases to 30 feet.</p>
			<h3 id="purity-of-spirit">Purity of Spirit</h3>
			<p>Beginning at 15th level, you are always under the effects of a protection-from-evil-and-good spell.</p>
			<h3 id="holy-nimbus">Holy Nimbus</h3>
			<p>At 20th level, as an action, you can emanate an aura of sunlight. For 1 minute, bright light shines from you in a 30-foot radius, and dim light shines 30 feet beyond that.</p>
			<p>Whenever an enemy creature starts its turn in the bright light, the creature takes 10 radiant damage.</p>
			<p>In addition, for the duration, you have advantage on saving throws against spells cast by fiends or undead.</p>
			<p>Once you use this feature, you can't use it again until you finish a long rest.</p>
			<h2 id="breaking-your-oath">Breaking Your Oath</h2>
			<p>A paladin tries to hold to the highest standards of conduct, but even the most virtuous paladin is fallible. Sometimes the right path proves too demanding, sometimes a situation calls for the lesser of two evils, and sometimes the heat of emotion causes
				a paladin to transgress his or her oath.</p>
			<p>A paladin who has broken a vow typically seeks absolution from a cleric who shares his or her faith or from another paladin of the same order. The paladin might spend an all-night vigil in prayer as a sign of penitence, or undertake a fast or similar
				act of self-denial. After a rite of confession and forgiveness, the paladin starts fresh.</p>
			<p>If a paladin willfully violates his or her oath and shows no sign of repentance, the consequences can be more serious. At the GM's discretion, an impenitent paladin might be forced to abandon this class and adopt another.</p>
		</div>
	</div>
</div>
