<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Ranger</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a ranger, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d10 per ranger level</p>
			<p><strong>Hit Points at 1st Level:</strong> 10 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d10 (or 6) + your Constitution modifier per ranger level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor, medium armor, shields</p>
			<p><strong>Weapons:</strong> Simple weapons, martial weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Strength, Dexterity</p>
			<p><strong>Skills:</strong> Choose three from Animal Handling, Athletics, Insight, Investigation, Nature, Perception, Stealth, and Survival</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) scale mail or (<em>b</em>) leather armor</li>
				<li>(<em>a</em>) two shortswords or (<em>b</em>) two simple melee weapons</li>
				<li>(<em>a</em>) a dungeoneer's pack or (<em>b</em>) an explorer's pack</li>
				<li>A longbow and a quiver of 20 arrows</li>
			</ul>
			<h2 id="the-ranger">The Ranger</h2>
			<table>
				<colgroup>
					<col style="width: 7%" />
					<col style="width: 12%" />
					<col style="width: 40%" />
					<col style="width: 12%" />
					<col style="width: 27%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Spells + Known</th>
						<th style="text-align: left;">Spell Slots per Spell Level -----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Favored Enemy, Natural Explorer</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">--- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Fighting Style, Spellcasting</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ranger Archetype, Primeval Awareness</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Extra Attack</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 2 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Favored Enemy and Natural Explorer improvements</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ranger Archetype feature</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement, Land's Stride</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Natural Explorer improvement, Hide in Plain Sight</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | | | |</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ranger Archetype feature</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Favored Enemy improvement, Vanish</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ranger Archetype feature</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Feral Senses</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Foe Slayer</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="favored-enemy">Favored Enemy</h2>
			<p>Beginning at 1st level, you have significant experience studying, tracking, hunting, and even talking to a certain type of enemy.</p>
			<p>Choose a type of favored enemy: aberrations, beasts, celestials, constructs, dragons, elementals, fey, fiends, giants, monstrosities, oozes, plants, or undead. Alternatively, you can select two races of humanoid (such as gnolls and orcs) as favored
				enemies.
			</p>
			<p>You have advantage on Wisdom (Survival) checks to track your favored enemies, as well as on Intelligence checks to recall information about them.</p>
			<p>When you gain this feature, you also learn one language of your choice that is spoken by your favored enemies, if they speak one at all.</p>
			<p>You choose one additional favored enemy, as well as an associated language, at 6th and 14th level. As you gain levels, your choices should reflect the types of monsters you have encountered on your adventures.</p>
			<h2 id="natural-explorer">Natural Explorer</h2>
			<p>You are particularly familiar with one type of natural environment and are adept at traveling and surviving in such regions. Choose one type of favored terrain: arctic, coast, desert, forest, grassland, mountain, or swamp. When you make an Intelligence
				or Wisdom check related to your favored terrain, your proficiency bonus is doubled if you are using a skill that you're proficient in.</p>
			<p>While traveling for an hour or more in your favored terrain, you gain the following benefits:</p>
			<ul>
				<li>Difficult terrain doesn't slow your group's travel.</li>
				<li>Your group can't become lost except by magical means.</li>
				<li>Even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger.</li>
				<li>If you are traveling alone, you can move stealthily at a normal pace.</li>
				<li>When you forage, you find twice as much food as you normally would.</li>
				<li>While tracking other creatures, you also learn their exact number, their sizes, and how long ago they passed through the area.</li>
			</ul>
			<p>You choose additional favored terrain types at 6th and 10th level.</p>
			<h2 id="fighting-style">Fighting Style</h2>
			<p>At 2nd level, you adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again.</p>
			<h3 id="archery">Archery</h3>
			<p>You gain a +2 bonus to attack rolls you make with ranged weapons.</p>
			<h3 id="defense">Defense</h3>
			<p>While you are wearing armor, you gain a +1 bonus to AC.</p>
			<h3 id="dueling">Dueling</h3>
			<p>When you are wielding a melee weapon in one hand and no other weapons, you gain a +2 bonus to damage rolls with that weapon.</p>
			<h3 id="two-weapon-fighting">Two-Weapon Fighting</h3>
			<p>When you engage in two-weapon fighting, you can add your ability modifier to the damage of the second attack.</p>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>By the time you reach 2nd level, you have learned to use the magical essence of nature to cast spells, much as a druid does. See spellcasting for the general rules of spellcasting and the ranger-spells list.</p>
			<h3 id="spell-slots">Spell Slots</h3>
			<p>The Ranger table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
			<p>For example, if you know the 1st-level spell animal-friendship and have a 1st-level and a 2nd-level spell slot available, you can cast animal-friendship using either slot.</p>
			<h3 id="spells-known-of-1st-level-and-higher">Spells Known of 1st Level and Higher</h3>
			<p>You know two 1st-level spells of your choice from the ranger spell list.</p>
			<p>The Spells Known column of the Ranger table shows when you learn more ranger spells of your choice. Each of these spells must be of a level for which you have spell slots. For instance, when you reach 5th level in this class, you can learn one new
				spell of 1st or 2nd level.</p>
			<p>Additionally, when you gain a level in this class, you can choose one of the ranger spells you know and replace it with another spell from the ranger spell list, which also must be of a level for which you have spell slots.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Wisdom is your spellcasting ability for your ranger spells, since your magic draws on your attunement to nature. You use your Wisdom whenever a spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when setting the saving
				throw DC for a ranger spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Wisdom modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Wisdom modifier</p>
			</blockquote>
			<h2 id="ranger-archetype">Ranger Archetype</h2>
			<p>At 3rd level, you choose an archetype that you strive to emulate, such as the Hunter. Your choice grants you features at 3rd level and again at 7th, 11th, and 15th level.</p>
			<h2 id="primeval-awareness">Primeval Awareness</h2>
			<p>Beginning at 3rd level, you can use your action and expend one ranger spell slot to focus your awareness on the region around you. For 1 minute per level of the spell slot you expend, you can sense whether the following types of creatures are present
				within 1 mile of you (or within up to 6 miles if you are in your favored terrain): aberrations, celestials, dragons, elementals, fey, fiends, and undead. This feature doesn't reveal the creatures' location or number.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="extra-attack">Extra Attack</h2>
			<p>Beginning at 5th level, you can attack twice, instead of once, whenever you take the Attack action on your turn.</p>
			<h2 id="lands-stride">Land's Stride</h2>
			<p>Starting at 8th level, moving through nonmagical difficult terrain costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.</p>
			<p>In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such those created by the entangle spell.</p>
			<h2 id="hide-in-plain-sight">Hide in Plain Sight</h2>
			<p>Starting at 10th level, you can spend 1 minute creating camouflage for yourself. You must have access to fresh mud, dirt, plants, soot, and other naturally occurring materials with which to create your camouflage.</p>
			<p>Once you are camouflaged in this way, you can try to hide by pressing yourself up against a solid surface, such as a tree or wall, that is at least as tall and wide as you are. You gain a +10 bonus to Dexterity (Stealth) checks as long as you remain
				there without moving or taking actions. Once you move or take an action or a reaction, you must camouflage yourself again to gain this benefit.</p>
			<h2 id="vanish">Vanish</h2>
			<p>Starting at 14th level, you can use the Hide action as a bonus action on your turn. Also, you can't be tracked by nonmagical means, unless you choose to leave a trail.</p>
			<h2 id="feral-senses">Feral Senses</h2>
			<p>At 18th level, you gain preternatural senses that help you fight creatures you can't see. When you attack a creature you can't see, your inability to see it doesn't impose disadvantage on your attack rolls against it.</p>
			<p>You are also aware of the location of any invisible creature within 30 feet of you, provided that the creature isn't hidden from you and you aren't blinded or deafened.</p>
			<h2 id="foe-slayer">Foe Slayer</h2>
			<p>At 20th level, you become an unparalleled hunter of your enemies. Once on each of your turns, you can add your Wisdom modifier to the attack roll or the damage roll of an attack you make against one of your favored enemies. You can choose to use this
				feature before or after the roll, but before any effects of the roll are applied.</p>
			<h1 id="ranger-archetypes">Ranger Archetypes</h1>
			<p>A classic expression of the ranger ideal is the Hunter.</p>
			<h2 id="hunter">Hunter</h2>
			<p>Emulating the Hunter archetype means accepting your place as a bulwark between civilization and the terrors of the wilderness. As you walk the Hunter's path, you learn specialized techniques for fighting the threats you face, from rampaging ogres and
				hordes of orcs to towering giants and terrifying dragons.</p>
			<h3 id="hunters-prey">Hunter's Prey</h3>
			<p>At 3rd level, you gain one of the following features of your choice.</p>
			<h4 id="colossus-slayer">Colossus Slayer</h4>
			<p>Your tenacity can wear down the most potent foes. When you hit a creature with a weapon attack, the creature takes an extra 1d8 damage if it's below its hit point maximum. You can deal this extra damage only once per turn.</p>
			<h4 id="giant-killer">Giant Killer</h4>
			<p>When a Large or larger creature within 5 feet of you hits or misses you with an attack, you can use your reaction to attack that creature immediately after its attack, provided that you can see the creature.</p>
			<h4 id="horde-breaker">Horde Breaker</h4>
			<p>Once on each of your turns when you make a weapon attack, you can make another attack with the same weapon against a different creature that is within 5 feet of the original target and within range of your weapon.</p>
			<h3 id="defensive-tactics">Defensive Tactics</h3>
			<p>At 7th level, you gain one of the following features of your choice.</p>
			<h4 id="escape-the-horde">Escape the Horde</h4>
			<p>Opportunity attacks against you are made with disadvantage.</p>
			<h4 id="multiattack-defense">Multiattack Defense</h4>
			<p>When a creature hits you with an attack, you gain a +4 bonus to AC against all subsequent attacks made by that creature for the rest of the turn.</p>
			<h4 id="steel-will">Steel Will</h4>
			<p>You have advantage on saving throws against being frightened.</p>
			<h3 id="multiattack">Multiattack</h3>
			<p>At 11th level, you gain one of the following features of your choice.</p>
			<h4 id="volley">Volley</h4>
			<p>You can use your action to make a ranged attack against any number of creatures within 10 feet of a point you can see within your weapon's range. You must have ammunition for each target, as normal, and you make a separate attack roll for each target.</p>
			<h4 id="whirlwind-attack">Whirlwind Attack</h4>
			<p>You can use your action to make a melee attack against any number of creatures within 5 feet of you, with a separate attack roll for each target.</p>
			<h3 id="superior-hunters-defense">Superior Hunter's Defense</h3>
			<p>At 15th level, you gain one of the following features of your choice.</p>
			<h4 id="evasion">Evasion</h4>
			<p>When you are subjected to an effect, such as a red dragon's fiery breath or a lightning-bolt spell, that allows you to make a Dexterity saving throw to take only half damage, you instead take no damage if you succeed on the saving throw, and only half
				damage if you fail.</p>
			<h4 id="stand-against-the-tide">Stand Against the Tide</h4>
			<p>When a hostile creature misses you with a melee attack, you can use your reaction to force that creature to repeat the same attack against another creature (other than itself) of your choice.</p>
			<blockquote>
				<p><strong>Sage Advice</strong></p>
				<p>Uncanny Dodge only works against one attack per round, since it expends your reaction.</p>
				<p>It works any attack with an attack roll (including a spell attack) but it is no help against a spell or effect that requires a saving throw instead of an attack roll</p>
				<p>Source: <a href="http://media.wizards.com/2015/downloads/dnd/SA_Compendium_1.01.pdf">Sage Advice Compendium</a></p>
			</blockquote>
			<h4 id="uncanny-dodge">Uncanny Dodge</h4>
			<p>When an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you.</p>
		</div>
	</div>
</div>
