<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Rogue</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a rogue, you have the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per rogue level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per rogue level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor</p>
			<p><strong>Weapons:</strong> Simple weapons, hand crossbows, longswords, rapiers, shortswords</p>
			<p><strong>Tools:</strong> Thieves' tools</p>
			<p><strong>Saving Throws:</strong> Dexterity, Intelligence</p>
			<p><strong>Skills:</strong> Choose four from Acrobatics, Athletics, Deception, Insight, Intimidation, Investigation, Perception, Performance, Persuasion, Sleight of Hand, and Stealth</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a rapier or (<em>b</em>) a shortsword</li>
				<li>(<em>a</em>) a shortbow and quiver of 20 arrows or (<em>b</em>) a shortsword</li>
				<li>(<em>a</em>) a burglar's pack, (<em>b</em>) a dungeoneer's pack, or (<em>c</em>) an explorer's pack</li>
				<li>(<em>a</em>) Leather armor, two daggers, and thieves' tools</li>
			</ul>
			<h2 id="the-rogue">The Rogue</h2>
			<table>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Sneak Attack Damage</th>
						<th style="text-align: left;">Features</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">Expertise, Sneak Attack, Thieves' Cant</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">1d6</td>
						<td style="text-align: left;">Cunning Action</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">2d6</td>
						<td style="text-align: left;">Roguish Archetype</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">2d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">3d6</td>
						<td style="text-align: left;">Uncanny Dodge</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">3d6</td>
						<td style="text-align: left;">Expertise</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">4d6</td>
						<td style="text-align: left;">Evasion</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">4d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">5d6</td>
						<td style="text-align: left;">Roguish Archetype feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">5d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">6d6</td>
						<td style="text-align: left;">Reliable Talent</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">6d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">7d6</td>
						<td style="text-align: left;">Roguish Archetype feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">7d6</td>
						<td style="text-align: left;">Blindsense</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">8d6</td>
						<td style="text-align: left;">Slippery Mind</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">8d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">9d6</td>
						<td style="text-align: left;">Roguish Archetype feature</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">9d6</td>
						<td style="text-align: left;">Elusive</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">10d6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">10d6</td>
						<td style="text-align: left;">Stroke of Luck</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="expertise">Expertise</h2>
			<p>At 1st level, choose two of your skill proficiencies, or one of your skill proficiencies and your proficiency with thieves' tools. Your proficiency bonus is doubled for any ability check you make that uses either of the chosen proficiencies.</p>
			<p>At 6th level, you can choose two more of your proficiencies (in skills or with thieves' tools) to gain this benefit.</p>
			<h2 id="sneak-attack">Sneak Attack</h2>
			<p>Beginning at 1st level, you know how to strike subtly and exploit a foe's distraction. Once per turn, you can deal an extra 1d6 damage to one creature you hit with an attack if you have advantage on the attack roll. The attack must use a finesse or
				a ranged weapon.</p>
			<p>You don't need advantage on the attack roll if another enemy of the target is within 5 feet of it, that enemy isn't incapacitated, and you don't have disadvantage on the attack roll.</p>
			<p>The amount of the extra damage increases as you gain levels in this class, as shown in the Sneak Attack column of the Rogue table.</p>
			<h2 id="thieves-cant">Thieves' Cant</h2>
			<p>During your rogue training you learned thieves' cant, a secret mix of dialect, jargon, and code that allows you to hide messages in seemingly normal conversation. Only another creature that knows thieves' cant understands such messages. It takes four
				times longer to convey such a message than it does to speak the same idea plainly.</p>
			<p>In addition, you understand a set of secret signs and symbols used to convey short, simple messages, such as whether an area is dangerous or the territory of a thieves' guild, whether loot is nearby, or whether the people in an area are easy marks
				or will provide a safe house for thieves on the run.</p>
			<h2 id="cunning-action">Cunning Action</h2>
			<p>Starting at 2nd level, your quick thinking and agility allow you to move and act quickly. You can take a bonus action on each of your turns in combat. This action can be used only to take the Dash, Disengage, or Hide action.</p>
			<h2 id="roguish-archetype">Roguish Archetype</h2>
			<p>At 3rd level, you choose an archetype that you emulate in the exercise of your rogue abilities, such as Thief. Your archetype choice grants you features at 3rd level and then again at 9th, 13th, and 17th level.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 10th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20
				using this feature.</p>
			<h2 id="uncanny-dodge">Uncanny Dodge</h2>
			<p>Starting at 5th level, when an attacker that you can see hits you with an attack, you can use your reaction to halve the attack's damage against you.</p>
			<h2 id="evasion">Evasion</h2>
			<p>Beginning at 7th level, you can nimbly dodge out of the way of certain area effects, such as a red dragon's fiery breath or an <em>ice storm</em> spell. When you are subjected to an effect that allows you to make a Dexterity saving throw to take only
				half damage, you instead take no damage if you succeed on the saving throw, and only half damage if you fail.</p>
			<h2 id="reliable-talent">Reliable Talent</h2>
			<p>By 11th level, you have refined your chosen skills until they approach perfection. Whenever you make an ability check that lets you add your proficiency bonus, you can treat a d20 roll of 9 or lower as a 10.</p>
			<h2 id="blindsense">Blindsense</h2>
			<p>Starting at 14th level, if you are able to hear, you are aware of the location of any hidden or invisible creature within 10 feet of you.</p>
			<h2 id="slippery-mind">Slippery Mind</h2>
			<p>By 15th level, you have acquired greater mental strength. You gain proficiency in Wisdom saving throws.</p>
			<h2 id="elusive">Elusive</h2>
			<p>Beginning at 18th level, you are so evasive that attackers rarely gain the upper hand against you. No attack roll has advantage against you while you aren't incapacitated.</p>
			<h2 id="stroke-of-luck">Stroke of Luck</h2>
			<p>At 20th level, you have an uncanny knack for succeeding when you need to. If your attack misses a target within range, you can turn the miss into a hit. Alternatively, if you fail an ability check, you can treat the d20 roll as a 20.</p>
			<p>Once you use this feature, you can't use it again until you finish a short or long rest.</p>
			<h1 id="roguish-archetypes">Roguish Archetypes</h1>
			<p>Rogues have many features in common, including their emphasis on perfecting their skills, their precise and deadly approach to combat, and their increasingly quick reflexes. But different rogues steer those talents in varying directions, embodied by
				the rogue archetypes. Your choice of archetype is a reflection of your focus---not necessarily an indication of your chosen profession, but a description of your preferred techniques.</p>
			<h2 id="thief">Thief</h2>
			<p>You hone your skills in the larcenous arts. Burglars, bandits, cutpurses, and other criminals typically follow this archetype, but so do rogues who prefer to think of themselves as professional treasure seekers, explorers, delvers, and investigators.
				In addition to improving your agility and stealth, you learn skills useful for delving into ancient ruins, reading unfamiliar languages, and using magic items you normally couldn't employ.</p>
			<h3 id="fast-hands">Fast Hands</h3>
			<p>Starting at 3rd level, you can use the bonus action granted by your Cunning Action to make a Dexterity (Sleight of Hand) check, use your thieves' tools to disarm a trap or open a lock, or take the Use an Object action.</p>
			<h3 id="second-story-work">Second-Story Work</h3>
			<p>When you choose this archetype at 3rd level, you gain the ability to climb faster than normal; climbing no longer costs you extra movement.</p>
			<p>In addition, when you make a running jump, the distance you cover increases by a number of feet equal to your Dexterity modifier.</p>
			<h3 id="supreme-sneak">Supreme Sneak</h3>
			<p>Starting at 9th level, you have advantage on a Dexterity (Stealth) check if you move no more than half your speed on the same turn.</p>
			<h3 id="use-magic-device">Use Magic Device</h3>
			<p>By 13th level, you have learned enough about the workings of magic that you can improvise the use of items even when they are not intended for you. You ignore all class, race, and level requirements on the use of magic items.</p>
			<h3 id="thiefs-reflexes">Thief's Reflexes</h3>
			<p>When you reach 17th level, you have become adept at laying ambushes and quickly escaping danger. You can take two turns during the first round of any combat. You take your first turn at your normal initiative and your second turn at your initiative
				minus 10. You can't use this feature when you are surprised.</p>
		</div>
	</div>
</div>
