<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Sorcerer</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a sorcerer, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d6 per sorcerer level</p>
			<p><strong>Hit Points at 1st Level:</strong> 6 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d6 (or 4) + your Constitution modifier per sorcerer level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> None</p>
			<p><strong>Weapons:</strong> Daggers, darts, slings, quarterstaffs, light crossbows</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Constitution, Charisma</p>
			<p><strong>Skills:</strong> Choose two from Arcana, Deception, Insight,</p>
			<p>Intimidation, Persuasion, and Religion</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li>(<em>a</em>) a light crossbow and 20 bolts or (<em>b</em>) any simple weapon</li>
				<li>(<em>a</em>) a component pouch or (<em>b</em>) an arcane focus</li>
				<li>(<em>a</em>) a dungeoneer's pack or (<em>b</em>) an explorer's pack</li>
				<li>Two daggers</li>
			</ul>
			<h3 id="the-sorcerer">The Sorcerer</h3>
			<table>
				<colgroup>
					<col style="width: 5%" />
					<col style="width: 9%" />
					<col style="width: 9%" />
					<col style="width: 26%" />
					<col style="width: 7%" />
					<col style="width: 7%" />
					<col style="width: 35%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Sorcery Points</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips Known</th>
						<th style="text-align: left;">Spells + Known</th>
						<th style="text-align: left;">---Spell Slots per Spell Level--- -----+-----+-----+-----+-----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th | 6th | 7th | 8th | 9th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">Spellcasting, Sorcerous Origin</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">Font of</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">Metamagic</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">Sorcerous Origin Feature Ability</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">Metamagic</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">Sorcerous Origin Feature Ability</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">16</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">17</td>
						<td style="text-align: left;">Metamagic</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">18</td>
						<td style="text-align: left;">Sorcerous Origin Feature Ability</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">19</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">20</td>
						<td style="text-align: left;">Sorcerous Restoration</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 2 | 1 | 1</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>An event in your past, or in the life of a parent or ancestor, left an indelible mark on you, infusing you with arcane magic. This font of magic, whatever its origin, fuels your spells.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>At 1st level, you know four cantrips of your choice from the sorcerer-spells list. You learn additional sorcerer cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Sorcerer table.</p>
			<h3 id="spell-slots">Spell Slots</h3>
			<p>The Sorcerer table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these sorcerer spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long
				rest.
			</p>
			<p>For example, if you know the 1st-level spell <em>burning hands</em> and have a 1st-level and a 2nd-level spell slot available, you can cast <em>burning hands</em> using either slot.</p>
			<h3 id="spells-known-of-1st-level-and-higher">Spells Known of 1st Level and Higher</h3>
			<p>You know two 1st-level spells of your choice from the sorcerer-spells list.</p>
			<p>The Spells Known column of the Sorcerer table shows when you learn more sorcerer spells of your choice. Each of these spells must be of a level for which you have spell slots. For instance, when you reach 3rd level in this class, you can learn one
				new spell of 1st or 2nd level.</p>
			<p>Additionally, when you gain a level in this class, you can choose one of the sorcerer spells you know and replace it with another spell from the sorcerer spell list, which also must be of a level for which you have spell slots.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Charisma is your spellcasting ability for your sorcerer spells, since the power of your magic relies on your ability to project your will into the world. You use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use
				your Charisma modifier when setting the saving throw DC for a sorcerer spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Charisma modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Charisma modifier</p>
			</blockquote>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use an arcane focus as a spellcasting focus for your sorcerer spells.</p>
			<h2 id="sorcerous-origin">Sorcerous Origin</h2>
			<p>Choose a sorcerous origin, which describes the source of your innate magical power, such as Draconic Bloodline.</p>
			<p>Your choice grants you features when you choose it at 1st level and again at 6th, 14th, and 18th level.</p>
			<h2 id="font-of-magic">Font of Magic</h2>
			<p>At 2nd level, you tap into a deep wellspring of magic within yourself. This wellspring is represented by sorcery points, which allow you to create a variety of magical effects.</p>
			<h3 id="sorcery-points">Sorcery Points</h3>
			<p>You have 2 sorcery points, and you gain more as you reach higher levels, as shown in the Sorcery Points column of the Sorcerer table. You can never have more sorcery points than shown on the table for your level. You regain all spent sorcery points
				when you finish a long rest.</p>
			<h3 id="flexible-casting">Flexible Casting</h3>
			<p>You can use your sorcery points to gain additional spell slots, or sacrifice spell slots to gain additional sorcery points. You learn other ways to use your sorcery points as you reach higher levels.</p>
			<p><strong>Creating Spell Slots.</strong> You can transform unexpended sorcery points into one spell slot as a bonus action on your turn. The Creating Spell Slots table shows the cost of creating a spell slot of a given level. You can create spell slots
				no higher in level than 5th.</p>
			<p>Any spell slot you create with this feature vanishes when you finish a long rest.</p>
			<h3 id="creating-spell-slots">Creating Spell Slots</h3>
			<table>
				<colgroup>
					<col style="width: 18%" />
					<col style="width: 34%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Spell Slot Level</th>
						<th style="text-align: left;">Sorcery Point Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">3</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">5</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">6</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">7</td>
					</tr>
				</tbody>
			</table>
			<p><strong>Converting a Spell Slot to Sorcery Points.</strong> As a bonus action on your turn, you can expend one spell slot and gain a number of sorcery points equal to the slot's level.</p>
			<h2 id="metamagic">Metamagic</h2>
			<p>At 3rd level, you gain the ability to twist your spells to suit your needs. You gain two of the following Metamagic options of your choice. You gain another one at 10th and 17th level.</p>
			<p>You can use only one Metamagic option on a spell when you cast it, unless otherwise noted.</p>
			<h3 id="careful-spell">Careful Spell</h3>
			<p>When you cast a spell that forces other creatures to make a saving throw, you can protect some of those creatures from the spell's full force. To do so, you spend 1 sorcery point and choose a number of those creatures up to your Charisma modifier (minimum
				of one creature). A chosen creature automatically succeeds on its saving throw against the spell.</p>
			<h3 id="distant-spell">Distant Spell</h3>
			<p>When you cast a spell that has a range of 5 feet or greater, you can spend 1 sorcery point to double the range of the spell.</p>
			<p>When you cast a spell that has a range of touch, you can spend 1 sorcery point to make the range of the spell 30 feet.</p>
			<h3 id="empowered-spell">Empowered Spell</h3>
			<p>When you roll damage for a spell, you can spend 1 sorcery point to reroll a number of the damage dice up to your Charisma modifier (minimum of one). You must use the new rolls.</p>
			<p>You can use Empowered Spell even if you have already used a different Metamagic option during the casting of the spell.</p>
			<h3 id="extended-spell">Extended Spell</h3>
			<p>When you cast a spell that has a duration of 1 minute or longer, you can spend 1 sorcery point to double its duration, to a maximum duration of 24 hours.</p>
			<h3 id="heightened-spell">Heightened Spell</h3>
			<p>When you cast a spell that forces a creature to make a saving throw to resist its effects, you can spend 3 sorcery points to give one target of the spell disadvantage on its first saving throw made against the spell.</p>
			<h3 id="quickened-spell">Quickened Spell</h3>
			<p>When you cast a spell that has a casting time of 1 action, you can spend 2 sorcery points to change the casting time to 1 bonus action for this casting.</p>
			<h3 id="subtle-spell">Subtle Spell</h3>
			<p>When you cast a spell, you can spend 1 sorcery point to cast it without any somatic or verbal components.</p>
			<h3 id="twinned-spell">Twinned Spell</h3>
			<p>When you cast a spell that targets only one creature and doesn't have a range of self, you can spend a number of sorcery points equal to the spell's level to target a second creature in range with the same spell (1 sorcery point if the spell is a cantrip).</p>
			<p>To be eligible, a spell must be incapable of targeting more than one creature at the spell's current level. For example, magic-missile and scorching-ray aren't eligible, but ray-of-frost is.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="sorcerous-restoration">Sorcerous Restoration</h2>
			<p>At 20th level, you regain 4 expended sorcery points whenever you finish a short rest.</p>
			<h1 id="sorcerous-origins">Sorcerous Origins</h1>
			<p>Different sorcerers claim different origins for their innate magic, such as a draconic bloodline.</p>
			<h2 id="draconic-bloodline">Draconic Bloodline</h2>
			<p>Your innate magic comes from draconic magic that was mingled with your blood or that of your ancestors. Most often, sorcerers with this origin trace their descent back to a mighty sorcerer of ancient times who made a bargain with a dragon or who might
				even have claimed a dragon parent. Some of these bloodlines are well established in the world, but most are obscure. Any given sorcerer could be the first of a new bloodline, as a result of a pact or some other exceptional circumstance.</p>
			<h3 id="dragon-ancestor">Dragon Ancestor</h3>
			<p>At 1st level, you choose one type of dragon as your ancestor. The damage type associated with each dragon is used by features you gain later.</p>
			<table>
				<colgroup>
					<col style="width: 40%" />
					<col style="width: 43%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Draconic Ancestry</th>
						<th style="text-align: left;">Dragon Damage Type</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">Black</td>
						<td style="text-align: left;">Acid</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Blue</td>
						<td style="text-align: left;">Lightning</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Brass</td>
						<td style="text-align: left;">Fire</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Bronze</td>
						<td style="text-align: left;">Lightning</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Copper</td>
						<td style="text-align: left;">Acid</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Gold</td>
						<td style="text-align: left;">Fire</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Green</td>
						<td style="text-align: left;">Poison</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">Red</td>
						<td style="text-align: left;">Fire</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">Silver</td>
						<td style="text-align: left;">Cold</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">White</td>
						<td style="text-align: left;">Cold</td>
					</tr>
				</tbody>
			</table>
			<p>You can speak, read, and write Draconic. Additionally, whenever you make a Charisma check when interacting with dragons, your proficiency bonus is doubled if it applies to the check.</p>
			<h3 id="draconic-resilience">Draconic Resilience</h3>
			<p>As magic flows through your body, it causes physical traits of your dragon ancestors to emerge. At 1st level, your hit point maximum increases by 1 and increases by 1 again whenever you gain a level in this class.</p>
			<p>Additionally, parts of your skin are covered by a thin sheen of dragon-like scales. When you aren't wearing armor, your AC equals 13 + your Dexterity modifier.</p>
			<h3 id="elemental-affinity">Elemental Affinity</h3>
			<p>Starting at 6th level, when you cast a spell that deals damage of the type associated with your draconic ancestry, you can add your Charisma modifier to one damage roll of that spell. At the same time, you can spend 1 sorcery point to gain resistance
				to that damage type for 1 hour.</p>
			<h3 id="dragon-wings">Dragon Wings</h3>
			<p>At 14th level, you gain the ability to sprout a pair of dragon wings from your back, gaining a flying speed equal to your current speed. You can create these wings as a bonus action on your turn. They last until you dismiss them as a bonus action on
				your turn.
			</p>
			<p>You can't manifest your wings while wearing armor unless the armor is made to accommodate them, and clothing not made to accommodate your wings might be destroyed when you manifest them.</p>
			<h3 id="draconic-presence">Draconic Presence</h3>
			<p>Beginning at 18th level, you can channel the dread presence of your dragon ancestor, causing those around you to become awestruck or frightened. As an action, you can spend 5 sorcery points to draw on this power and exude an aura of awe or fear (your
				choice) to a distance of 60 feet. For 1 minute or until you lose your concentration (as if you were casting a concentration spell), each hostile creature that starts its turn in this aura must succeed on a Wisdom saving throw or be charmed (if you
				chose awe) or frightened (if you chose fear) until the aura ends. A creature that succeeds on this saving throw is immune to your aura for 24 hours.</p>
		</div>
	</div>
</div>
