<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Warlock</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a warlock, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d8 per warlock level</p>
			<p><strong>Hit Points at 1st Level:</strong> 8 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d8 (or 5) + your Constitution modifier per warlock level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> Light armor</p>
			<p><strong>Weapons:</strong> Simple weapons</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Wisdom, Charisma</p>
			<p><strong>Skills:</strong> Choose two skills from Arcana, Deception, History, Intimidation, Investigation, Nature, and Religion</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li><em>(a)</em> a light crossbow and 20 bolts or (<em>b</em>) any simple weapon</li>
				<li><em>(a)</em> a component pouch or (<em>b</em>) an arcane focus</li>
				<li><em>(a)</em> a scholar's pack or (<em>b</em>) a dungeoneer's pack</li>
				<li>Leather armor, any simple weapon, and two daggers</li>
			</ul>
			<h2 id="the-warlock">The Warlock</h2>
			<table>
				<colgroup>
					<col style="width: 6%" />
					<col style="width: 12%" />
					<col style="width: 36%" />
					<col style="width: 9%" />
					<col style="width: 8%" />
					<col style="width: 6%" />
					<col style="width: 6%" />
					<col style="width: 12%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips Known</th>
						<th style="text-align: left;">Spells Known</th>
						<th style="text-align: left;">spell slots</th>
						<th style="text-align: left;">Slot Level</th>
						<th style="text-align: left;">Invocations Known</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Otherworldly Patron, Pact Magic</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">1</td>
						<td style="text-align: left;">1</td>
						<td style="text-align: left;"></td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Eldritch Invocations</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">1</td>
						<td style="text-align: left;">2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Pact Boon</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">2</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">6</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Otherworldly Patron feature</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">7</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">8</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">9</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">5</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Otherworldly Patron feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">10</td>
						<td style="text-align: left;">2</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">5</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Mystic Arcanum (6th level)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">5</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">11</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">6</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Mystic Arcanum (7th level)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">6</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Otherworldly Patron feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">12</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">6</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Mystic Arcanum (8th level)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">7</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">13</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">7</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Mystic Arcanum (9th level)</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">7</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">14</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">8</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">8</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Eldritch Master</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">15</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">8</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="otherworldly-patron">Otherworldly Patron</h2>
			<p>At 1st level, you have struck a bargain with an otherworldly being of your choice: the Archfey, the Fiend, or the Great Old One, each of which is detailed at the end of the class description. Your choice grants you features at 1st level and again at
				6th, 10th, and 14th level.</p>
			<h2 id="pact-magic">Pact Magic</h2>
			<p>Your arcane research and the magic bestowed on you by your patron have given you facility with spells.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>You know two cantrips of your choice from the warlock-spells list. You learn additional warlock cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Warlock table.</p>
			<h3 id="spell-slots">Spell Slots</h3>
			<p>The Warlock table shows how many spell slots you have. The table also shows what the level of those slots is; all of your spell slots are the same level. To cast one of your warlock spells of 1st level or higher, you must expend a spell slot. You regain
				all expended spell slots when you finish a short or long rest.</p>
			<p>For example, when you are 5th level, you have two 3rd-level spell slots. To cast the 1st-level spell thunderwave, you must spend one of those slots, and you cast it as a 3rd-level spell.</p>
			<h3 id="spells-known-of-1st-level-and-higher">Spells Known of 1st Level and Higher</h3>
			<p>At 1st level, you know two 1st-level spells of your choice from the warlock spell list.</p>
			<p>The Spells Known column of the Warlock table shows when you learn more warlock spells of your choice of 1st level and higher. A spell you choose must be of a level no higher than what's shown in the table's Slot Level column for your level. When you
				reach 6th level, for example, you learn a new warlock spell, which can be 1st, 2nd, or 3rd level.</p>
			<p>Additionally, when you gain a level in this class, you can choose one of the warlock spells you know and replace it with another spell from the warlock spell list, which also must be of a level for which you have spell slots.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Charisma is your spellcasting ability for your warlock spells, so you use your Charisma whenever a spell refers to your spellcasting ability. In addition, you use your Charisma modifier when setting the saving throw DC for a warlock spell you cast
				and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Charisma modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Charisma modifier</p>
			</blockquote>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use an arcane focus as a spellcasting focus for your warlock spells.</p>
			<h2 id="eldritch-invocations">Eldritch Invocations</h2>
			<p>In your study of occult lore, you have unearthed eldritch invocations, fragments of forbidden knowledge that imbue you with an abiding magical ability.</p>
			<p>At 2nd level, you gain two eldritch invocations of your choice. Your invocation options are detailed at the end of the class description. When you gain certain warlock levels, you gain additional invocations of your choice, as shown in the Invocations
				Known column of the Warlock table.</p>
			<p>Additionally, when you gain a level in this class, you can choose one of the invocations you know and replace it with another invocation that you could learn at that level.</p>
			<h2 id="pact-boon">Pact Boon</h2>
			<p>At 3rd level, your otherworldly patron bestows a gift upon you for your loyal service. You gain one of the following features of your choice.</p>
			<h3 id="pact-of-the-chain">Pact of the Chain</h3>
			<p>You learn the find-familiar spell and can cast it as a ritual. The spell doesn't count against your number of spells known.</p>
			<p>When you cast the spell, you can choose one of the normal forms for your familiar or one of the following special forms: imp, pseudodragon, quasit, or sprite.</p>
			<p>Additionally, when you take the Attack action, you can forgo one of your own attacks to allow your familiar to make one attack of its own with its reaction.</p>
			<h3 id="pact-of-the-blade">Pact of the Blade</h3>
			<p>You can use your action to create a pact weapon in your empty hand. You can choose the form that this melee weapon takes each time you create it. You are proficient with it while you wield it. This weapon counts as magical for the purpose of overcoming
				resistance and immunity to nonmagical attacks and damage.</p>
			<p>Your pact weapon disappears if it is more than 5 feet away from you for 1 minute or more. It also disappears if you use this feature again, if you dismiss the weapon (no action required), or if you die.</p>
			<p>You can transform one magic weapon into your pact weapon by performing a special ritual while you hold the weapon. You perform the ritual over the course of 1 hour, which can be done during a short rest. You can then dismiss the weapon, shunting it
				into an extradimensional space, and it appears whenever you create your pact weapon thereafter. You can't affect an artifact or a sentient weapon in this way. The weapon ceases being your pact weapon if you die, if you perform the 1-hour ritual on
				a different weapon, or if you use a 1-hour ritual to break your bond to it. The weapon appears at your feet if it is in the extradimensional space when the bond breaks.</p>
			<h3 id="pact-of-the-tome">Pact of the Tome</h3>
			<p>Your patron gives you a grimoire called a Book of Shadows. When you gain this feature, choose three cantrips from any class's spell list (the three needn't be from the same list). While the book is on your person, you can cast those cantrips at will.
				They don't count against your number of cantrips known. If they don't appear on the warlock spell list, they are nonetheless warlock spells for you.</p>
			<p>If you lose your Book of Shadows, you can perform a 1-hour ceremony to receive a replacement from your patron. This ceremony can be performed during a short or long rest, and it destroys the previous book. The book turns to ash when you die.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="mystic-arcanum">Mystic Arcanum</h2>
			<p>At 11th level, your patron bestows upon you a magical secret called an arcanum. Choose one 6th-level spell from the warlock-spells list as this arcanum.</p>
			<p>You can cast your arcanum spell once without expending a spell slot. You must finish a long rest before you can do so again.</p>
			<p>At higher levels, you gain more warlock spells of your choice that can be cast in this way: one 7th-level spell at 13th level, one 8th-level spell at 15th level, and one 9th-level spell at 17th level. You regain all uses of your Mystic Arcanum when
				you finish a long rest.</p>
			<h2 id="eldritch-master">Eldritch Master</h2>
			<p>At 20th level, you can draw on your inner reserve of mystical power while entreating your patron to regain expended spell slots. You can spend 1 minute entreating your patron for aid to regain all your expended spell slots from your Pact Magic feature.
				Once you regain spell slots with this feature, you must finish a long rest before you can do so again.</p>
			<h1 id="eldritch-invocations-1">Eldritch Invocations</h1>
			<p>If an eldritch invocation has prerequisites, you must meet them to learn it. You can learn the invocation at the same time that you meet its prerequisites. A level prerequisite refers to your level in this class.</p>
			<h2 id="agonizing-blast">Agonizing Blast</h2>
			<p><em>Prerequisite:</em> eldritch-blast cantrip</p>
			<p>When you cast eldritch-blast, add your Charisma modifier to the damage it deals on a hit.</p>
			<h2 id="armor-of-shadows">Armor of Shadows</h2>
			<p>You can cast mage-armor on yourself at will, without expending a spell slot or material components.</p>
			<h2 id="ascendant-step">Ascendant Step</h2>
			<p><em>Prerequisite: 9th level</em></p>
			<p>You can cast levitate on yourself at will, without expending a spell slot or material components.</p>
			<h2 id="beast-speech">Beast Speech</h2>
			<p>You can cast speak-with-animals at will, without expending a spell slot.</p>
			<h2 id="beguiling-influence">Beguiling Influence</h2>
			<p>You gain proficiency in the Deception and Persuasion skills.</p>
			<h2 id="bewitching-whispers">Bewitching Whispers</h2>
			<p><em>Prerequisite: 7th level</em></p>
			<p>You can cast compulsion once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="book-of-ancient-secrets">Book of Ancient Secrets</h2>
			<p><em>Prerequisite: Pact of the Tome feature</em></p>
			<p>You can now inscribe magical rituals in your Book of Shadows. Choose two 1st-level spells that have the ritual tag from any class's spell list (the two needn't be from the same list). The spells appear in the book and don't count against the number
				of spells you know. With your Book of Shadows in hand, you can cast the chosen spells as rituals. You can't cast the spells except as rituals, unless you've learned them by some other means. You can also cast a warlock spell you know as a ritual if
				it has the ritual tag.</p>
			<p>On your adventures, you can add other ritual spells to your Book of Shadows. When you find such a spell, you can add it to the book if the spell's level is equal to or less than half your warlock level (rounded up) and if you can spare the time to</p>
			<p>transcribe the spell. For each level of the spell, the transcription process takes 2 hours and costs 50 gp for the rare inks needed to inscribe it.</p>
			<h2 id="chains-of-carceri">Chains of Carceri</h2>
			<p><em>Prerequisite: 15th level, Pact of the Chain feature</em></p>
			<p>You can cast hold-monster at will---targeting a celestial, fiend, or elemental---without expending a spell slot or material components. You must finish a long rest before you can use this invocation on the same creature again.</p>
			<h2 id="devils-sight">Devil's Sight</h2>
			<p>You can see normally in darkness, both magical and nonmagical, to a distance of 120 feet.</p>
			<h2 id="dreadful-word">Dreadful Word</h2>
			<p><em>Prerequisite: 7th level</em></p>
			<p>You can cast confusion once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="eldritch-sight">Eldritch Sight</h2>
			<p>You can cast detect-magic at will, without expending a spell slot.</p>
			<h2 id="eldritch-spear">Eldritch Spear</h2>
			<p><em>Prerequisite:</em> eldritch-blast cantrip</p>
			<p>When you cast eldritch-blast, its range is 300 feet.</p>
			<h2 id="eyes-of-the-rune-keeper">Eyes of the Rune Keeper</h2>
			<p>You can read all writing.</p>
			<h2 id="fiendish-vigor">Fiendish Vigor</h2>
			<p>You can cast false-life on yourself at will as a 1st-level spell, without expending a spell slot or material components.</p>
			<h2 id="gaze-of-two-minds">Gaze of Two Minds</h2>
			<p>You can use your action to touch a willing humanoid and perceive through its senses until the end of your next turn. As long as the creature is on the same plane of existence as you, you can use your action on subsequent turns to maintain this connection,
				extending the duration until the end of your next turn. While perceiving through the other creature's senses, you benefit from any special senses possessed by that creature, and you are blinded and deafened to your own surroundings.</p>
			<h2 id="lifedrinker">Lifedrinker</h2>
			<p>Prerequisite: 12th level, Pact of the Blade feature</p>
			<p>When you hit a creature with your pact weapon, the creature takes extra necrotic damage equal to your Charisma modifier (minimum 1).</p>
			<h2 id="mask-of-many-faces">Mask of Many Faces</h2>
			<p>You can cast disguise-self at will, without expending a spell slot.</p>
			<h2 id="master-of-myriad-forms">Master of Myriad Forms</h2>
			<p><em>Prerequisite: 15th level</em></p>
			<p>You can cast alter-self at will, without expending a spell slot.</p>
			<h2 id="minions-of-chaos">Minions of Chaos</h2>
			<p><em>Prerequisite: 9th level</em></p>
			<p>You can cast conjure-elemental once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="mire-the-mind">Mire the Mind</h2>
			<p><em>Prerequisite: 5th level</em></p>
			<p>You can cast slow once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="misty-visions">Misty Visions</h2>
			<p>You can cast silent-image at will, without expending a spell slot or material components.</p>
			<h2 id="one-with-shadows">One with Shadows</h2>
			<p><em>Prerequisite: 5th level</em></p>
			<p>When you are in an area of dim light or darkness, you can use your action to become invisible until you move or take an action or a reaction.</p>
			<h2 id="otherworldly-leap">Otherworldly Leap</h2>
			<p><em>Prerequisite: 9th level</em></p>
			<p>You can cast jump on yourself at will, without expending a spell slot or material components.</p>
			<h2 id="repelling-blast">Repelling Blast</h2>
			<p><em>Prerequisite:</em> eldritch-blast cantrip*</p>
			<p>When you hit a creature with eldritch-blast, you can push the creature up to 10 feet away from you in a straight line.</p>
			<h2 id="sculptor-of-flesh">Sculptor of Flesh</h2>
			<p><em>Prerequisite: 7th level</em></p>
			<p>You can cast polymorph once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="sign-of-ill-omen">Sign of Ill Omen</h2>
			<p><em>Prerequisite: 5th level</em></p>
			<p>You can cast bestow-curse once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="thief-of-five-fates">Thief of Five Fates</h2>
			<p>You can cast bane once using a warlock spell slot. You can't do so again until you finish a long rest.</p>
			<h2 id="thirsting-blade">Thirsting Blade</h2>
			<p><em>Prerequisite: 5th level, Pact of the Blade feature</em></p>
			<p>You can attack with your pact weapon twice, instead of once, whenever you take the Attack action on your turn.</p>
			<h2 id="visions-of-distant-realms">Visions of Distant Realms</h2>
			<p><em>Prerequisite: 15th level</em></p>
			<p>You can cast arcane-eye at will, without expending a spell slot.</p>
			<h2 id="voice-of-the-chain-master">Voice of the Chain Master</h2>
			<p><em>Prerequisite: Pact of the Chain feature</em></p>
			<p>You can communicate telepathically with your familiar and perceive through your familiar's senses as long as you are on the same plane of existence. Additionally, while perceiving through your familiar's senses, you can also speak through your familiar
				in your own voice, even if your familiar is normally incapable of speech.</p>
			<h2 id="whispers-of-the-grave">Whispers of the Grave</h2>
			<p><em>Prerequisite: 9th level</em></p>
			<p>You can cast speak-with-dead at will, without expending a spell slot.</p>
			<h2 id="witch-sight">Witch Sight</h2>
			<p><em>Prerequisite: 15th level</em></p>
			<p>You can see the true form of any shapechanger or creature concealed by illusion or transmutation magic while the creature is within 30 feet of you and within line of sight.</p>
			<h1 id="otherworldly-patrons">Otherworldly Patrons</h1>
			<p>The beings that serve as patrons for warlocks are mighty inhabitants of other planes of existence---not gods, but almost godlike in their power. Various patrons give their warlocks access to different powers and invocations, and expect significant
				favors in return.</p>
			<p>Some patrons collect warlocks, doling out mystic knowledge relatively freely or boasting of their ability to bind mortals to their will. Other patrons bestow their power only grudgingly, and might make a pact with only one warlock. Warlocks who serve
				the same patron might view each other as allies, siblings, or rivals.</p>
			<h2 id="the-fiend">The Fiend</h2>
			<p>You have made a pact with a fiend from the lower planes of existence, a being whose aims are evil, even if you strive against those aims. Such beings desire the corruption or destruction of all things, ultimately including you. Fiends powerful enough
				to forge a pact include demon lords such as Demogorgon, Orcus, Fraz'Urb-luu, and Baphomet; archdevils such as Asmodeus, Dispater, Mephistopheles, and Belial; pit fiends and balors that are especially mighty; and ultroloths and other lords of the yugoloths.</p>
			<h3 id="expanded-spell-list">Expanded Spell List</h3>
			<p>The Fiend lets you choose from an expanded list of spells when you learn a warlock spell. The following spells are added to the warlock spell list for you.</p>
			<h3 id="fiend-expanded-spells">Fiend Expanded Spells</h3>
			<table>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Spell Level</th>
						<th style="text-align: left;">Spells</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">burning-hands, command</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">blindness-deafness, scorching-ray</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">fireball, stinking-cloud</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">fire-shield, wall-of-fire</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">flame-strike, hallow</td>
					</tr>
				</tbody>
			</table>
			<h3 id="dark-ones-blessing">Dark One's Blessing</h3>
			<p>Starting at 1st level, when you reduce a hostile creature to 0 hit points, you gain temporary hit points equal to your Charisma modifier + your warlock level (minimum of 1).</p>
			<h3 id="dark-ones-own-luck">Dark One's Own Luck</h3>
			<p>Starting at 6th level, you can call on your patron to alter fate in your favor. When you make an ability check or a saving throw, you can use this feature to add a d10 to your roll. You can do so after seeing the initial roll but before any of the
				roll's effects occur.</p>
			<p>Once you use this feature, you can't use it again until you finish a short or long rest.</p>
			<h3 id="fiendish-resilience">Fiendish Resilience</h3>
			<p>Starting at 10th level, you can choose one damage type when you finish a short or long rest. You gain resistance to that damage type until you choose a different one with this feature. Damage from magical weapons or silver weapons ignores this resistance.</p>
			<h3 id="hurl-through-hell">Hurl Through Hell</h3>
			<p>Starting at 14th level, when you hit a creature with an attack, you can use this feature to instantly transport the target through the lower planes. The creature disappears and hurtles through a nightmare landscape.</p>
			<p>At the end of your next turn, the target returns to the space it previously occupied, or the nearest unoccupied space. If the target is not a fiend, it takes 10d10 psychic damage as it reels from its horrific experience.</p>
			<p>Once you use this feature, you can't use it again until you finish a long rest.</p>
			<h1 id="your-pact-boon">Your Pact Boon</h1>
			<p>Each Pact Boon option produces a special creature or an object that reflects your patron's nature.</p>
			<h2 id="pact-of-the-chain-1">Pact of the Chain</h2>
			<p>Your familiar is more cunning than a typical familiar. Its default form can be a reflection of your patron, with imps and quasits tied to the Fiend.</p>
			<h2 id="pact-of-the-blade-1">Pact of the Blade</h2>
			<p>If you serve the Fiend, your weapon could be an axe made of black metal and adorned with decorative flames.</p>
			<h2 id="pact-of-the-tome-1">Pact of the Tome</h2>
			<p>Your Book of Shadows could be a weighty tome bound in demon hide studded with iron, holding spells of conjuration and a wealth of forbidden lore about the sinister regions of the cosmos, a gift of the Fiend.</p>
		</div>
	</div>
</div>
