<div class="card">
	<div class="card-content">
		<div class="content">
			<h1 class="title">Wizard</h1>
			<h1 id="class-features">Class Features</h1>
			<p>As a wizard, you gain the following class features.</p>
			<h2 id="hit-points">Hit Points</h2>
			<p><strong>Hit Dice:</strong> 1d6 per wizard level</p>
			<p><strong>Hit Points at 1st Level:</strong> 6 + your Constitution modifier</p>
			<p><strong>Hit Points at Higher Levels:</strong> 1d6 (or 4) + your Constitution modifier per wizard level after 1st</p>
			<h2 id="proficiencies">Proficiencies</h2>
			<p><strong>Armor:</strong> None</p>
			<p><strong>Weapons:</strong> Daggers, darts, slings, quarterstaffs, light crossbows</p>
			<p><strong>Tools:</strong> None</p>
			<p><strong>Saving Throws:</strong> Intelligence, Wisdom</p>
			<p><strong>Skills:</strong> Choose two from Arcana, History, Insight,</p>
			<p>Investigation, Medicine, and Religion</p>
			<h2 id="equipment">Equipment</h2>
			<p>You start with the following equipment, in addition to the equipment granted by your background:</p>
			<ul>
				<li><em>(a)</em> a quarterstaff or (<em>b</em>) a dagger</li>
				<li><em>(a)</em> a component pouch or (<em>b</em>) an arcane focus</li>
				<li><em>(a)</em> a scholar's pack or (<em>b</em>) an explorer's pack</li>
				<li>A spellbook</li>
			</ul>
			<h3 id="the-wizard">The Wizard</h3>
			<table>
				<colgroup>
					<col style="width: 6%" />
					<col style="width: 10%" />
					<col style="width: 32%" />
					<col style="width: 8%" />
					<col style="width: 41%" />
				</colgroup>
				<thead>
					<tr class="header">
						<th style="text-align: left;">Level</th>
						<th style="text-align: left;">Proficiency Bonus</th>
						<th style="text-align: left;">Features</th>
						<th style="text-align: left;">Cantrips + Known</th>
						<th style="text-align: left;">---Spell Slots per Spell Level--- -----+-----+-----+-----+-----+-----+-----+-----+-----+ 1st | 2nd | 3rd | 4th | 5th | 6th | 7th | 8th | 9th</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td style="text-align: left;">1st</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Spellcasting, Arcane Recovery</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">2 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">2nd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Arcane Tradition</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">3 | --- | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">3rd</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">3</td>
						<td style="text-align: left;">4 | 2 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">4th</td>
						<td style="text-align: left;">+2</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | --- | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">5th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 2 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">6th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Arcane Tradition feature</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | --- | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">7th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 1 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">8th</td>
						<td style="text-align: left;">+3</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 2 | --- | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">9th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">4</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 1 | --- | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">10th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Arcane Tradition feature</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | --- | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">11th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">12th</td>
						<td style="text-align: left;">+4</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | --- | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">13th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">14th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Arcane Tradition feature</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | --- | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">15th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">16th</td>
						<td style="text-align: left;">+5</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | ---</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">17th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">---</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 2 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">18th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Spell Mastery</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 1 | 1 | 1 | 1</td>
					</tr>
					<tr class="odd">
						<td style="text-align: left;">19th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Ability Score Improvement</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 1 | 1 | 1</td>
					</tr>
					<tr class="even">
						<td style="text-align: left;">20th</td>
						<td style="text-align: left;">+6</td>
						<td style="text-align: left;">Signature Spell</td>
						<td style="text-align: left;">5</td>
						<td style="text-align: left;">4 | 3 | 3 | 3 | 3 | 2 | 2 | 1 | 1</td>
					</tr>
				</tbody>
			</table>
			<h1 id="class-abilities">Class Abilities</h1>
			<h2 id="spellcasting">Spellcasting</h2>
			<p>As a student of arcane magic, you have a spellbook containing spells that show the first glimmerings of your true power.</p>
			<h3 id="cantrips">Cantrips</h3>
			<p>At 1st level, you know three cantrips of your choice from the wizard-spells list. You learn additional wizard cantrips of your choice at higher levels, as shown in the Cantrips Known column of the Wizard table.</p>
			<h3 id="spellbook">Spellbook</h3>
			<p>At 1st level, you have a spellbook containing six 1st-level wizard spells of your choice. Your spellbook is the repository of the wizard spells you know, except your cantrips, which are fixed in your mind.</p>
			<h3 id="preparing-and-casting-spells">Preparing and Casting Spells</h3>
			<p>The Wizard table shows how many spell slots you have to cast your spells of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.</p>
			<p>You prepare the list of wizard spells that are available for you to cast. To do so, choose a number of wizard spells from your spellbook equal to your Intelligence modifier + your wizard level (minimum of one spell). The spells must be of a level for
				which you have spell slots.</p>
			<p>For example, if you're a 3rd-level wizard, you have four 1st-level and two 2nd-level spell slots. With an Intelligence of 16, your list of prepared spells can include six spells of 1st or 2nd level, in any combination, chosen from your spellbook. If
				you prepare the 1st-level spell magic-missile, you can cast it using a 1st-level or a 2nd-level slot. Casting the spell doesn't remove it from your list of prepared spells.</p>
			<p>You can change your list of prepared spells when you finish a long rest. Preparing a new list of wizard spells requires time spent studying your spellbook and memorizing the incantations and gestures you must make to cast the spell: at least 1 minute
				per spell level for each spell on your list.</p>
			<h3 id="spellcasting-ability">Spellcasting Ability</h3>
			<p>Intelligence is your spellcasting ability for your wizard spells, since you learn your spells through dedicated study and memorization. You use your Intelligence whenever a spell refers to your spellcasting ability. In addition, you use your Intelligence
				modifier when setting the saving throw DC for a wizard spell you cast and when making an attack roll with one.</p>
			<blockquote>
				<p><strong>Spell save DC</strong> = 8 + your proficiency bonus + your Intelligence modifier</p>
				<p><strong>Spell attack modifier</strong> = your proficiency bonus + your Intelligence modifier</p>
			</blockquote>
			<h3 id="ritual-casting">Ritual Casting</h3>
			<p>You can cast a wizard spell as a ritual if that spell has the ritual tag and you have the spell in your spellbook. You don't need to have the spell prepared.</p>
			<h3 id="spellcasting-focus">Spellcasting Focus</h3>
			<p>You can use an arcane focus as a spellcasting focus for your wizard spells.</p>
			<p><strong>Learning Spells of 1st Level and Higher</strong> Each time you gain a wizard level, you can add two wizard spells of your choice to your spellbook for free. Each of these spells must be of a level for which you have spell slots, as shown on
				the Wizard table. On your adventures, you might find other spells that you can add to your spellbook (see the &quot;Your Spellbook&quot; sidebar).</p>
			<h2 id="arcane-recovery">Arcane Recovery</h2>
			<p>You have learned to regain some of your magical energy by studying your spellbook. Once per day when you finish a short rest, you can choose expended spell slots to recover. The spell slots can have a combined level that is equal to or less than half
				your wizard level (rounded up), and none of the slots can be 6th level or higher.</p>
			<p>For example, if you're a 4th-level wizard, you can recover up to two levels worth of spell slots. You can recover either a 2nd-level spell slot or two 1st-level spell slots.</p>
			<h2 id="arcane-tradition">Arcane Tradition</h2>
			<p>When you reach 2nd level, you choose an arcane tradition, shaping your practice of magic through one of eight schools, such as Evocation.</p>
			<p>Your choice grants you features at 2nd level and again at 6th, 10th, and 14th level.</p>
			<h2 id="ability-score-improvement">Ability Score Improvement</h2>
			<p>When you reach 4th level, and again at 8th, 12th, 16th, and 19th level, you can increase one ability score of your choice by 2, or you can increase two ability scores of your choice by 1. As normal, you can't increase an ability score above 20 using
				this feature.
			</p>
			<h2 id="spell-mastery">Spell Mastery</h2>
			<p>At 18th level, you have achieved such mastery over certain spells that you can cast them at will. Choose a 1st-level wizard spell and a 2nd-level wizard spell that are in your spellbook. You can cast those spells at their lowest level without expending
				a spell slot when you have them prepared. If you want to cast either spell at a higher level, you must expend a spell slot as normal.</p>
			<p>By spending 8 hours in study, you can exchange one or both of the spells you chose for different spells of the same levels.</p>
			<h2 id="signature-spells">Signature Spells</h2>
			<p>When you reach 20th level, you gain mastery over two powerful spells and can cast them with little effort. Choose two 3rd-level wizard spells in your spellbook as your signature spells. You always have these spells prepared, they don't count against
				the number of spells you have prepared, and you can cast each of them once at 3rd level without expending a spell slot. When you do so, you can't do so again until you finish a short or long rest.</p>
			<p>If you want to cast either spell at a higher level, you must expend a spell slot as normal.</p>
			<h1 id="arcane-traditions">Arcane Traditions</h1>
			<p>The study of wizardry is ancient, stretching back to the earliest mortal discoveries of magic. It is firmly established in fantasy gaming worlds, with various traditions dedicated to its complex study.</p>
			<p>The most common arcane traditions in the multiverse revolve around the schools of magic. Wizards through the ages have cataloged thousands of spells, grouping them into eight categories called schools. In some places, these traditions are literally
				schools. In other institutions, the schools are more like academic departments, with rival faculties competing for students and funding. Even wizards who train apprentices in the solitude of their own towers use the division of magic into schools
				as a learning device, since the spells of each school require mastery of different techniques.</p>
			<h2 id="school-of-evocation">School of Evocation</h2>
			<p>You focus your study on magic that creates powerful elemental effects such as bitter cold, searing flame, rolling thunder, crackling lightning, and burning acid. Some evokers find employment in military forces, serving as artillery to blast enemy armies
				from afar. Others use their spectacular power to protect the weak, while some seek their own gain as bandits, adventurers, or aspiring tyrants.</p>
			<h3 id="evocation-savant">Evocation Savant</h3>
			<p>Beginning when you select this school at 2nd level, the gold and time you must spend to copy an evocation spell into your spellbook is halved.</p>
			<h3 id="sculpt-spells">Sculpt Spells</h3>
			<p>Beginning at 2nd level, you can create pockets of relative safety within the effects of your evocation spells. When you cast an evocation spell that affects other creatures that you can see, you can choose a number of them equal to 1 + the spell's
				level. The chosen creatures automatically succeed on their saving throws against the spell, and they take no damage if they would normally take half damage on a successful save.</p>
			<h3 id="potent-cantrip">Potent Cantrip</h3>
			<p>Starting at 6th level, your damaging cantrips affect even creatures that avoid the brunt of the effect. When a creature succeeds on a saving throw against your cantrip, the creature takes half the cantrip's damage (if any) but suffers no additional
				effect from the cantrip.</p>
			<h3 id="empowered-evocation">Empowered Evocation</h3>
			<p>Beginning at 10th level, you can add your Intelligence modifier to one damage roll of any wizard evocation spell you cast.</p>
			<h3 id="overchannel">Overchannel</h3>
			<p>Starting at 14th level, you can increase the power of your simpler spells. When you cast a wizard spell of 1st through 5th level that deals damage, you can deal maximum damage with that spell.</p>
			<p>The first time you do so, you suffer no adverse effect. If you use this feature again before you finish a long rest, you take 2d12 necrotic damage for each level of the spell, immediately after you cast it. Each time you use this feature again before
				finishing a long rest, the necrotic damage per spell level increases by 1d12. This damage ignores resistance and immunity.</p>
			<h1 id="your-spellbook">Your Spellbook</h1>
			<p>The spells that you add to your spellbook as you gain levels reflect the arcane research you conduct on your own, as well as intellectual breakthroughs you have had about the nature of the multiverse. You might find other spells during your adventures.
				You could discover a spell recorded on a scroll in an evil wizard's chest, for example, or in a dusty tome in an ancient library.</p>
			<h2 id="copying-a-spell-into-the-book">Copying a Spell into the Book</h2>
			<p>When you find a wizard spell of 1st level or higher, you can add it to your spellbook if it is of a spell level you can prepare and if you can spare the time to decipher and copy it.</p>
			<p>Copying that spell into your spellbook involves reproducing the basic form of the spell, then deciphering the unique system of notation used by the wizard who wrote it. You must practice the spell until you understand the sounds or gestures required,
				then transcribe it into your spellbook using your own notation.</p>
			<p>For each level of the spell, the process takes 2 hours and costs 50 gp. The cost represents material components you expend as you experiment with the spell to master it, as well as the fine inks you need to record it. Once you have spent this time
				and money, you can prepare the spell just like your other spells.</p>
			<h2 id="replacing-the-book">Replacing the Book</h2>
			<p>You can copy a spell from your own spellbook into another book---for example, if you want to make a backup copy of your spellbook. This is just like copying a new spell into your spellbook, but faster and easier, since you understand your own notation
				and already know how to cast the spell. You need spend only 1 hour and 10 gp for each level of the copied spell.</p>
			<p>If you lose your spellbook, you can use the same procedure to transcribe the spells that you have prepared into a new spellbook. Filling out the remainder of your spellbook requires you to find new spells to do so, as normal. For this reason, many
				wizards keep backup spellbooks in a safe place.</p>
			<h2 id="the-books-appearance">The Book's Appearance</h2>
			<p>Your spellbook is a unique compilation of spells, with its own decorative flourishes and margin notes. It might be a plain, functional leather volume that you received as a gift from your master, a finely bound gilt-edged tome you found in an ancient
				library, or even a loose collection of notes scrounged together after you lost your previous spellbook in a mishap.</p>
		</div>
	</div>
</div>
